{% load i18n %}
<div class="row">
    <div class="col-sm-12">
      <form class="clearfix" role="søg" action={% url 'search' %}>
          <div class="input-group">
              <label class="sr-only" for="searchBox">{% trans 'Søg efter tilbud' %}</label>
              <input type="text" class="form-control" id="searchBox" placeholder="{% trans 'Søg efter tilbud - indtast et eller flere søgeord...' %}" name="q" value="{{ request.GET.q }}"/>
              <span class="input-group-btn">
                  <a id="reset-btn" class="btn btn-default" aria-label="{% trans 'Ryd søgning' %}">
                      <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  <button class="btn btn-primary" id="search" type="submit">
                      {% trans 'Søg' %}
                  </button>
              </span>
          </div>
          {% for x in hiddenrepeats %}
              <input type="hidden" name="{{ x.name }}" value="{{ x.value }}" />
          {% endfor %}
      </form>
  </div>
</div>
