{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h2>{% trans 'Om tilbuddet' %}</h2></div>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">

            {% include 'common/searchform.html' %}

            <div class="divider"></div>
            <h2>{{ object.get_type_display }}</h2>
            
            {% if can_edit %}
                <a class="pull-right btn btn-primary edit-btn" href="{% url 'otherresource-edit' object.pk %}">{% trans '+ Redigér' %}</a>
            {% endif %}
            {% if user.userprofile.can_create %}
                <a class="pull-right btn btn-primary" href="{% url 'otherresource-clone' object.pk %}">{% trans 'Opret kopi' %}</a>
            {% endif %}
            
            <h1>{{ object.title }}</h1>
            <div class="well">
                {% autoescape off %}
                {{ object.teaser }}
                {% endautoescape %}
            </div>
            <div class="well">
                <!-- Richtext editor start -->
                {% autoescape off %}
                {{ object.description }}
                {% endautoescape %}
                <!-- Richtext editor end -->
            </div>
            <div class="well order-buttons hidden-print">
                <!-- Display according to business logic -->
                {% if can_book %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#startbooking">{% trans 'Book dette tilbud' %}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                {% endif %}
                <!-- Display according to business logic -->
            </div>
            {% if can_book %}
            <div class="disclaimer">{% trans 'Bemærk at din bestilling først er bindende, når du har modtaget en bekræftelse fra den ansvarlige arrangør fra Københavns Universitet' %}.</div>
            {% endif %}
            <div class="go-back">
                <a href="#" class="btn btn-default" onclick="history.go(-1); return false;"><span class="glyphicon glyphicon-chevron-left"></span>{% trans 'Tilbage til søgeresultat' %}</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Hvem, hvor og hvornår' %}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {% if object.get_audience_display %}
                                <dt>{% trans 'Henvendt til:' %}</dt>
                                <dd>{{ object.get_audience_display }}</dd>
                            {% endif %}
                            {% if object.resource_ptr.get_subjects_display %}
                                <dt>{% trans 'Fag/niveau:' %}</dt>
                                <dd>{{ object.resource_ptr.get_subjects_display }}</dd>
                            {% endif %}
                            {% if object.get_type_display %}
                                <dt>{% trans 'Hvad:' %}</dt>
                                <dd>{{ object.get_type_display }}</dd>
                            {% endif %}
                            
                            <dt>{% trans 'Arrangør:' %}</dt>
                            <dd><a href="#" data-toggle="modal" data-target="#kontaktformular">{% trans 'Kontakt arrangøren' %}</a> <span class="glyphicon glyphicon-new-window"></span></dd>

                        </dl>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="/static/js/custom.js"></script>
{% endblock %}
