{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% if object %}{% trans "Rediger tilbud" %}{% else %}{% trans "Nyt tilbud" %}{% endif %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <a href="#" class="btn btn-default btn-sm openall">{% trans "Udvid alle felter" %}</a> <a href="#" class="btn btn-default btn-sm closeall">{% trans "Luk alle felter" %}</a>
        </div>
    </div>
    <hr/>
    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">

            {{ form.type }}

            <div class="panel panel-default">
                <div id="headingCategory" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTitel" aria-expanded="false" href="#collapseTitel" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Titel" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTitel" class="panel-collapse collapse
                {% if not object.pk or form.title.errors %}in{% endif %}
                " aria-labelledby="headingCategory" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/title.html' %}
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div id="headingDescription" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a aria-controls="collapseDescription" aria-expanded="false" href="#collapseDescription" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Beskrivelse" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseDescription" class="panel-collapse collapse
                {% if not object.pk or form.state.errors or form.teaser.errors or form.description.errors or form.link.errors %}in{% endif %}
                " aria-labelledby="headingDescription" role="tabpanel">
                    <div class="panel-body">
                        {% include 'resource/fields/state.html' %}
                        {% include 'resource/fields/teaser.html' %}
                        {% include 'resource/fields/description.html' %}
                        {% include 'resource/fields/link.html' %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingAudience" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseAudience" aria-expanded="false" href="#collapseAudience" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Målgruppe" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseAudience" class="panel-collapse collapse
                    {% if not object.pk or form.audience.errors or form.institution_level.errors or form.subjects.errors or form.level.errors or form.class_level_min.errors or form.class_level_max.errors %}in{% endif %}
                    " aria-labelledby="headingAudience" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/audience.html' %}
                        {% include 'resource/fields/institution_level.html' %}
                        {% include 'resource/fields/subjects.html' %}
                        {% include 'resource/fields/level.html' %}
                        {% include 'resource/fields/class_level.html' %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingContact" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseContact" aria-expanded="false" href="#collapseContact" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Kontaktinformation" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseContact" class="panel-collapse collapse
                {% if not object.pk or form.unit.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/unit.html' %}
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div id="headingInternal" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseInternal" aria-expanded="true" href="#collapseInternal" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Interne oplysninger" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseInternal" class="panel-collapse collapse
                {% if not object.pk or form.comment.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/comment.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'common/save_cancel.html' %}
        <div class="divider"></div>
    </form>

{% endblock %}

{% block extra_scripts %}
    
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/formutil.js' %}"></script>
    {% include 'resource/fields/institution_level_script.html' %}

    <script type="text/javascript"><!--

    $(function() {
        // Toggle arrows
        $('.collapse').on('show.bs.collapse', function() {
            $(this).prev().find(".caret").addClass("caret-up");
        });
        $('.collapse').on('hide.bs.collapse', function() {
            $(this).prev().find(".caret").removeClass("caret-up");
        });
        $('.closeall').click(function(){
            $('.panel-collapse.in').collapse('hide');
        });
        $('.openall').click(function(){
            $('.panel-collapse:not(".in")').collapse('show');
        });
    });

    //--></script>
    
{% endblock %}
