{% load i18n %}
<div class="panel panel-default">
    <div id="headingContact" class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="" aria-controls="collapseContact" aria-expanded="false" href="#collapseContact" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Kontaktinformation" %}</a><span class="caret"></span>
        </h4>
    </div>
    <div id="collapseContact" class="panel-collapse collapse
                {% if not object.pk or form.enabled.errors or form.contact_persons.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
        <div class="panel-body">
            <div class="row form-group">
                <div>{{ form.unit.errors }}</div>
                <div class="col-sm-2">
                    <label class="{{ form.unit.css_classes }}" for="{{ form.unit.id_for_label }}">{{ form.unit.label }}:</label>
                </div>
                <div class="col-sm-10">
                    {{ form.unit }}
                </div>
            </div>
            <div class="row form-group">
                <div>{{ form.enabled.errors }}</div>
                <div class="col-sm-12">
                    <label class="radiolabel" for="{{ form.enabled.id_for_label }}">{{ form.enabled }} Kan bookes</label>
                </div>
            </div>
            <div class="row form-group">
                <div>{{ form.contact_persons.errors }}</div>
                <div class="col-sm-2">
                    <label for="{{ form.contact_persons.id_for_label }}">{{ form.contact_persons.label }}:</label>
                </div>
                <div class="col-sm-10">
                    {{ form.contact_persons }}
                </div>
            </div>
        </div>
    </div>
</div>