{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.title }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9"><h2>{% trans 'Om tilbuddet' %}</h2></div>
        <div class="divider"></div>
    </div>
    {% if messages %}
    <div class="col-sm-4 alert alert-success" role="alert">
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="divider"></div>
            <h2>{{ object.get_type_display }}</h2>
            
            {% if can_edit %}
                <a class="pull-right btn btn-primary margin-bottom-10" href="{% url 'visit-edit' object.pk %}">{% trans '+ Redigér' %}</a>
            {% endif %}
            {% if user.userprofile.can_create %}
                <a class="pull-right btn btn-primary margin-bottom-10 margin-right-10" href="{% url 'visit-clone' object.pk %}">{% trans 'Kopier tilbud' %}</a>
            {% endif %}
            
            <h1>{{ object.title }}</h1>
            <div class="well">
                {% autoescape off %}
                {{ object.teaser }}
                {% endautoescape %}
            </div>
            <div class="well">
                <!-- Richtext editor start -->
                {% autoescape off %}
                {{ object.description }}
                {% endautoescape %}
                <!-- Richtext editor end -->
            </div>
            {% if object.studymaterial_set %}
                <ul>
                {% for material in object.studymaterial_set.all %}
                    <li>
                        <a target="_blank" href="{{ MEDIA_URL }}{{ material.file.url }}">{{ material.file.name | upload_name_strip_path }} ({{ material.file.size | filesizeformat }})</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="well order-buttons hidden-print">
                {% if can_book %}
                    <a class="btn btn-default" data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-book' object.id %}?modal=1">
                        {% trans 'Tilmeld' %}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {% endif %}
                {% if object.contact_persons %}
                    <a class="btn btn-default" data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-inquire' object.id %}?modal=1" >
                        {% trans 'Spørg om tilbud' %}
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                {% endif %}
            </div>
            {% if can_book %}
                <div class="disclaimer">{% trans 'Bemærk at din bestilling først er bindende, når du har modtaget en bekræftelse fra den ansvarlige arrangør fra Københavns Universitet.' %}</div>
            {% endif %}
            <div class="go-back">
                {% if searchurl != "/search" %}
                    <a href="{{ searchurl }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {% trans 'Tilbage til søgeresultat' %}</a>
                {% else %}
                    <a href="{{ searchurl }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {% trans 'Søg i tilbud' %}</a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Hvem, hvor og hvornår' %}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">

                            {% if object.get_audience_display %}
                                <dt>{% trans 'Henvendt til'%}:</dt>
                                <dd>{{ object.get_audience_display }}</dd>
                            {% endif %}
                            
                            {% if object.resource_ptr.all_subjects  %}
                                <dt>{% trans 'Fag/niveau' %}:</dt>
                                <dd>
                                    <ul class="type-offer list-inline">
                                        {% for x in object.resource_ptr.all_subjects %}
                                        <li>{{ x.display_value }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                            
                            {% if object.num_of_participants_display %}
                                <dt>{% trans 'Antal' %}:</dt>
                                <dd>{{ object.num_of_participants_display }}</dd>
                            {% endif %}
                            
                            {% if object.get_type_display %}
                                <dt>{% trans 'Hvad' %}:</dt>
                                <dd>{{ object.get_type_display }}</dd>
                            {% endif %}
                            
                            {% if object.locality %}
                                <dt>{% trans 'Hvor' %}:</dt>
                                <dd>
                                    {{ object.locality.name }}<br>
                                    {{ object.locality.address_line }}<br>
                                    {{ object.locality.zip_city }}
                                </dd>
                            {% endif %}
                            
                            <dt>{% trans 'Arrangør' %}:</dt>
                            <dd>
                                {% if object.unit.url %}
                                    <a href="{{ object.unit.url }}" target="_blank">
                                {% endif %}
                                <strong>{{ object.unit.name }}</strong>
                                {% if object.unit.url %}
                                    </a> <span class="glyphicon glyphicon-new-window"></span>
                                {% endif %}
                            </dd>

                            {% if request.user.userprofile.can_create %}
                                {% if object.visitoccurrence_set.all %}
                                <dt>{% trans 'Hvornår:' %}</dt>
                                <dd>
                                    <ul class="list-unstyled" id="dato">
                                    {% for event in object.visitoccurrence_set.all %}
                                        {% if event.start_datetime %}
                                            <li data-expired="{% if event.expired %}true{% else %}false{% endif %}">
                                                <a href="{% url 'visit-occ-view' event.pk %}">
                                                    {{ event.start_datetime|date:'d-m-Y H:i' }}
                                                    {% if event.expired %}
                                                        <br/>{% trans '(udløbet)' %}
                                                    {% elif event.available_seats != None %}
                                                        <br/>{% blocktrans with seats=event.available_seats %}({{ seats }} pladser tilbage){% endblocktrans %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </dd>
                                {% endif %}
                            {% else %}
                                {% if object.future_events %}
                                <dt>{% trans 'Hvornår:' %}</dt>
                                <dd>
                                    <ul class="list-unstyled" id="dato">
                                    {% for event in object.future_events %}
                                        <li>{{ event.start_datetime|date:'d-m-Y H:i' }}</li>
                                    {% endfor %}
                                    </ul>
                                </dd>
                                {% endif %}
                            {% endif %}

                            {% if object.duration and object.duration != '00:00' %}
                                <dt>{% trans 'Varighed' %}:</dt>
                                <dd>{{ object.duration|timedelta_i18n }}</dd>
                            {% endif %}
                            
                            {% if object.price %}
                                <dt>{% trans 'Pris' %}:</dt>
                                <dd>{{ object.price }}</dd>
                            {% endif %}
                            
                        </dl>
                    </div>
                </div>
                {% if object.locality %}
                    {% include 'common/map.html' with locality=object.locality %}
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    
    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}

    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
    <script type="text/javascript">
        <!--
        // Show/hide multiple dates
        if ($("#dato li").data('expired', 'true').length > 1) {
            var dato = $("#dato"),
                showmore = "{% trans 'Vis udløbne datoer' %}",
                showless = "{% trans 'Skjul udløbne datoer' %}";
            dato.find('[data-expired="true"]').hide();
            dato.after("<a href=\"#\" class=\"showhide\">"+showmore+"</a>");
            $(".showhide").click(function(e) {
                e.preventDefault();
                $("#dato").find('[data-expired="true"]').toggle(400);
                ($(this).text() === showmore) ? $(this).text(showless): $(this).text(showmore);
            });
        }
        //-->
    </script>

{% endblock %}
