{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.product.title }} - {{ object.date_display }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h1>
                {% blocktrans with title=object.display_title on_date=object.date_display_context %}
                    Planlægning af {{ title }} {{ on_date }}
                {% endblocktrans %}
            </h1>
        </div>
        <div class="divider"></div>
    </div>

    <div class="row overview">
        <div class="col-sm-12 col-md-10 panel panel-default">

            <div class="col-xs-9">
                {% if object.multiproductvisit %}
                    <div>
                        {% trans 'Ønskede tilbud/underbesøg:' %}
                        <ul>
                            {% for visit in object.multiproductvisit.subvisits %}
                                <li class="subvisit-status-{{ visit.workflow_status }}">
                                    <a class="product-link" href="{% url 'product-view' visit.product.id %}">{{ visit.product.title }}</a>:
                                    <a class="visit-link" href="{% url 'visit-view' visit.id %}">{{ visit.id_display }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {% if object.is_multi_sub %}
                    <div>
                        {% url 'visit-view' object.multi_master.id as masterurl %}
                        {% blocktrans with master=object.multi_master %}
                            Dette er et underbesøg under <a href="{{ masterurl }}">{{ master }}</a>
                        {% endblocktrans %}
                    </div>
                    {% endif %}
                    <div>
                        {% url 'product-view' object.product.id as producturl %}
                        {% blocktrans with nr_bookers=object.nr_attendees producttitle=object.product.title %}
                            {{ nr_bookers }} har tilmeldt sig denne instans af <a href="{{ producturl }}">{{ producttitle }}</a>
                        {% endblocktrans %}
                    </div>
                {% endif %}

                {% if not object.start_datetime %}
                <div class="divider"></div>
                <div>
                    {% trans 'Der er endnu ikke et fastlagt et tidspunkt for dette besøg.' %}
                    {% if object.desired_time %}
                        {% trans 'Gæsten har ønsket følgende tidspunkt:' %}
                        <pre class="desired-time">{{ object.desired_time }}</pre>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if can_notify %}
                    <div class="pull-right dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="sendNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Send besked' %}
                            <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sendNotification">
                            <li><a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-notify' object.pk %}">{% trans 'Ingen skabelon' %}</a></li>
                            {% if emailtemplates %}
                                <li role="separator" class="divider"></li>
                                {% for id, label in emailtemplates %}
                                    <li>
                                        {% if modal %}
                                            <a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-notify' object.pk %}?template={{ id }}">{{ label }}</a>
                                        {% else %}
                                            <a href="{% url 'visit-notify' object.pk %}?template={{ id }}&back={{ request.get_full_path | urlencode }}">{{ label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'emailtemplate-list' %}" target="_blank">{% trans 'Redigér skabeloner' %}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row status">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Statusoverblik' %}</h2>

                    {% if not object.can_assign_resources %}
                        <p>
                            {% blocktrans with text=object.BEING_PLANNED_STATUS_TEXT %}
                            Det er ikke længere muligt at tildele ressourcer til dette besøg. Hvis du ønsker at rette i de tildelte ressourcer skal du ændre status til '{{ text }}'.
                            {% endblocktrans %}
                        </p>
                    {% endif %}

                    <dl class="dl-horizontal status">

                        {% if object.organizationalunit %}
                            <dt>{% trans 'Enhed:' %}</dt>
                            <dd>{{ object.organizationalunit.name }}</dd>
                        {% endif %}

                        <dt>{% trans 'Tidspunkt' %}</dt>
                        <dd>
                            {% if object.eventtime.start %}
                                {{ object.eventtime.interval_display }}
                            {% else %}
                                {% if object.start_datetime %}
                                    {{ object.start_datetime }}
                                {% else %}
                                    {% trans 'Ikke angivet' %}
                                {% endif %}
                                {% if can_edit %}
                                    <a href="{% url 'change-visit-starttime' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>

                        {% if object.is_multiproductvisit %}
                            <dt>{% trans 'Min. ønskede tilbud' %}</dt>
                            <dd>
                                {{ object.required_visits }}
                            </dd>
                        {% endif %}

                        {% if object.is_multiproductvisit %}
                            <dt>{% trans 'Ansvarlig' %}</dt>
                            <dd>
                                {% if object.responsible %}
                                    {{ object.responsible }}
                                {% else %}
                                    {% trans 'Ikke tildelt' %}
                                {% endif %}
                                {% if can_edit %}
                                    <a href="{% url 'change-visit-responsible' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                                {% endif %}
                            </dd>
                        {% endif %}

                        {% if not object.is_multiproductvisit %}
                            <dt>{% trans 'Ressourcer' %}</dt>
                            <dd>
                                {% if object.product.is_resource_controlled %}
                                    {% if object.product.resourcerequirement_set.count %}
                                        <ul class="list-unstyled" style="display:inline-block; margin-bottom:0">
                                        {% for requirementdata in object.requirement_details %}
                                            <li>{{ requirementdata.acquired }}/{{ requirementdata.required }} {{ requirementdata.name }}</li>
                                        {% endfor %}
                                        </ul>
                                        {% if can_edit %}
                                            <a href="{% url 'visit-resources-edit' object.pk %}" role="button" class="btn btn-default btn-xs" style="vertical-align:top">{% trans 'Redigér' %}</a>
                                        {% endif %}
                                    {% else %}
                                        {% trans 'Tilbuddet kræver ingen ressourcer' %}
                                    {% endif %}
                                    <div>
                                    {% if can_become_teacher %}
                                        <a href="{% url 'become-teacher' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Bliv underviser for dette besøg' %}</a>
                                        {% if teacher %}
                                            <a href="{% url 'decline-teacher' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Jeg ønsker ikke at være underviser' %}</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if can_become_host %}
                                        <a href="{% url 'become-host' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Bliv vært for dette besøg.' %}</a>
                                        {% if host %}
                                            <a href="{% url 'decline-host' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Jeg ønsker ikke at være vært' %}</a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                {% else %}
                                    {% trans 'Tilbuddet er ikke ressourcestyret' %}
                                {% endif %}
                            </dd>
                        {% endif %}

                        {% if not object.product.is_resource_controlled and not object.is_multiproductvisit %}
                        <dt>{% trans 'Undervisere' %}</dt>
                        <dd>
                            {% blocktrans with found=object.teachers.all|length needed=object.total_required_teachers %}{{ found }}/{{ needed }} undervisere fundet{% endblocktrans %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-teachers' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% elif request.user.userprofile.is_teacher %}
                                {% if object.needs_teachers %}
                                    {% if request.user in object.teachers.all %}
                                        (allerede underviser for dette besøg)
                                    {% else %}
                                        <a href="{% url 'become-teacher' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Bliv underviser for dette besøg' %}</a>
                                        {% if teacher %}
                                            <a href="{% url 'decline-teacher' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Jeg ønsker ikke at være underviser' %}</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#teachers-found" >{% trans 'Alle fundet' %}</button>
                                {% endif %}
                            {% endif %}
                        </dd>
                        {% endif %}

                        {% if not object.product.is_resource_controlled and not object.is_multiproductvisit %}
                        <dt>{% trans 'Værter' %}</dt>
                        <dd>
                            {% blocktrans with found=object.hosts.all|length needed=object.total_required_hosts %}{{ found }}/{{ needed }} værter fundet{% endblocktrans %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-hosts' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% elif request.user.userprofile.is_host %}
                                {% if object.needs_hosts %}
                                    {% if request.user in object.hosts.all %}
                                        {% trans '(allerede vært for dette besøg)' %}
                                    {% else %}
                                        <a href="{% url 'become-host' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Bliv vært for dette besøg.' %}</a>
                                        {% if host %}
                                            <a href="{% url 'decline-host' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Jeg ønsker ikke at være vært' %}</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#hosts-found" >{% trans 'Alle fundet' %}</button>
                                {% endif %}
                            {% endif %}
                        </dd>
                        {% endif %}

                        {% if not object.product.is_resource_controlled and not object.is_multiproductvisit %}
                        <dt>{% trans 'Lokaler' %}</dt>
                        <dd>
                            {{ object.get_room_status_display }}
                            {% if object.rooms.all %}
                            <ul>
                            {% for room in object.rooms.all %}
                                <li>{{ room.name_with_locality }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-rooms' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        {% endif %}

                        {% if not object.is_multiproductvisit %}
                        <dt>{% trans 'Automatisk e-mail' %}</dt>
                        <dd>
                            {{ object.get_autosend_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-autosend' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        {% endif %}

                        <dt>{% trans 'Status' %}</dt>
                        <dd>
                            {{ object.get_workflow_status_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-status' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Skift status' %}</a>
                            {% endif %}
                        </dd>

                        {% if not object.is_multiproductvisit %}
                        <dt>{% trans 'Antal på venteliste' %}</dt>
                        <dd>
                            {{ object.nr_waiting }}
                            <a href="#waitinglist" role="button" class="btn btn-default btn-xs">{% trans 'Se liste' %}</a>
                        </dd>
                        {% endif %}

                        <dt>{% trans 'Link til evaluering' %}</dt>
                        <dd>
                            {% if object.evaluation_link %}
                            <a href="{{ object.evaluation_link }}">{{ object.evaluation_link }}</a>
                            {% else %}
                            {% trans 'Ikke angivet' %}
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-eval' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>

                        <dt>{% trans 'Interne kommentarer' %}</dt>
                        <dd>
                            <pre>{{ object.comments }}</pre>
                            {% if can_edit %}
                                <a href="{% url 'change-visit-comments' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>

                        {% if can_edit and object.has_changes_after_planned %}
                        <dt>{% trans 'Nylige ændringer' %}</dt>
                        <dd>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {% trans 'Dette besøg er markeret som havende nylige ændringer' %}.<br />
                            <a href="{% url 'visit-reset-changes-marker' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Klik her for at fjerne markeringen' %}</a>
                        </dd>
                        {% endif %}
                    </dl>

                </div>
            </div>
        </div>
    </div>
    
    <div class="row attendees">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>
                        {% trans 'Tilmeldte' %}
                        ({{ object.nr_attendees }}{% if object.product.maximum_number_of_visitors %}/{{ object.product.maximum_number_of_visitors }}{% endif %})
                    </h2>
                    {% include "booking/snippets/list.html" with list=object.booking_list form=bookinglistform listname='booking' %}
                </div>
            </div>
        </div>
    </div>

    {% if not object.is_multiproductvisit %}
    <div class="row waiting">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a name="waitinglist"></a>
                    <h2>
                        {% trans 'Venteliste' %}
                        ({{ object.nr_waiting }}{% if object.product.waiting_list_length %}/{{ object.product.waiting_list_length }}{% endif %})
                    </h2>
                    {% if object.waiting_list_closing_time %}
                        {% if object.waiting_list_closed %}
                            {% blocktrans with time=object.waiting_list_closing_time %}
                                Ventelisten lukkede {{ time }}.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with time=object.waiting_list_closing_time %}
                                Ventelisten lukker {{ time }}.
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}
                    {% include "booking/snippets/list.html" with list=object.waiting_list form=waitinglistform listname='waiting' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row activitylog">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Aktivitetslog' %}</h2>

                    <div>
                        <a href="{% url 'visit-add-logentry' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Tilføj ny log-post' %}</a>&nbsp;
                    </div>
                    <div class="divider"></div>
                    <ul class="list-unstyled scroll-400">
                        {% for entry in log_entries %}
                            <li>
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Hvem:' %}</dt>
                                    <dd>{% if entry.user.get_full_name %}{{ entry.user.get_full_name }}{% else %}{{ entry.user }}{% endif %}</dd>
                                    <dt>{% trans 'Hvad:' %}</dt>
                                    <dd>{{ entry.action_flag|logaction_type_display }}</dd>
                                    <dt>{% trans 'Hvornår' %}:</dt>
                                    <dd>{{ entry.action_time }}</dd>
                                    <dt>{% trans 'Besked:' %}</dt>
                                    <dd><pre>{{ entry.change_message }}</pre></dd>
                                </dl>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row comments">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Kommentarer' %}</h2>

                    <div>
                        <a href="{% url 'visit-add-comment' object.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Tilføj ny kommentar' %}</a>&nbsp;
                    </div>
                    <div class="divider"></div>
                    <ul class="list-unstyled scroll-400">
                        {% for comment in object.visitcomment_set.all %}
                            <li>
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Hvem:' %}</dt>
                                    <dd>
                                        {% if comment.author.get_full_name %}
                                            {{ comment.author.get_full_name }}
                                        {% elif comment.author %}
                                            {{ comment.author }}
                                        {% elif comment.deleted_user_name %}
                                            {{ comment.deleted_user_name }}
                                        {% endif %}
                                    </dd>
                                    <dt>{% trans 'Hvornår' %}:</dt>
                                    <dd>{{ comment.time }}</dd>
                                    <dt>{% trans 'Kommentar:' %}</dt>
                                    <dd>{{ comment.text }}</dd>
                                </dl>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="go-back">
                            <a href="{% url 'visit-search' %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                {% trans 'Søg i besøg' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    {% include 'common/modal_framehost.html' %}
    {% include 'common/modal_teachers_found.html' %}
    {% include 'common/modal_hosts_found.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
    <script type="text/javascript">
        <!--
        $(function(){
            {% autoescape off %}
                var waitingAttendees = {{ waitingattendees | jsonify }},
                    availableSeats = {{ object.available_seats | jsonify }};
            {% endautoescape %}
            var dequeueButton = $("button[name='action'][value='dequeue']");
            if (dequeueButton.length) {
                var update = function() {
                    var selectedAttendees = 0;
                    $(".listcontainer.waiting input[type='checkbox']:checked").each(function(){
                        selectedAttendees += waitingAttendees[this.value];
                    });
                    if (selectedAttendees > availableSeats) {
                        dequeueButton.enable(false, "listFull");
                        dequeueButton.attr("title",
                            "{% trans 'Der er kun {available} pladser tilbage. Du har valgt {selected} deltagere.' %}"
                            .replace("{available}", availableSeats)
                            .replace("{selected}", selectedAttendees)
                        );
                    } else {
                        dequeueButton.enable(true, "listFull");
                        dequeueButton.removeAttr("title");
                    }
                };
                $(".listcontainer.waiting input[type='checkbox']").change(update);
                update();
            }
        });

        $(function(){
            $("form").each(function(){
                var form = $(this);
                var button = form.find("button[name='action']");
                var update = function() {
                    button.enable(form.find("input[type='checkbox']:checked").length, "selectionPresent");
                };
                form.find("input[type='checkbox']").change(update);
                update();
            });
        });

        $(function(){
            $(".listcontainer form button[name='action'][value='delete']").click(function(){
                return window.confirm("{% trans 'Er du sikke på at du vil slette disse tilmeldinger?' %}");
            });
        });

        //-->
    </script>
{% endblock %}
