{% extends 'index.html' %}

{% block content %}

    <div class="container">
        <h1>{% if object %}Rediger tilbud{% else %}Nyt tilbud{% endif %}</h1>
        <hr/>
        <form action="" method="post">
            {% csrf_token %}

            <fieldset>
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">Titel:</label>
                {{ form.title }}
            </fieldset>

            <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">

                <div class="panel panel-default">
                    <div id="headingDescription" class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a aria-controls="collapseDescription" aria-expanded="true" href="#collapseDescription" data-parent="#accordion" data-toggle="collapse" role="button">Beskrivelse</a>
                        </h4>
                    </div>
                    <div id="collapseDescription" class="panel-collapse collapse in" aria-labelledby="headingDescription" role="tabpanel">
                        <div class="panel-body">
                            <fieldset>
                                <label>Teaser:</label>
                                <textarea style="height: 4em;"></textarea>
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.description.id_for_label }}">Tekst:</label>
                                {{ form.description }}
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.price.id_for_label }}">Pris:</label>
                                {{ form.price }}
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div id="headingCategory" class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="" aria-controls="collapseCategory" aria-expanded="true" href="#collapseCategory" data-parent="#accordion" data-toggle="collapse" role="button">Kategorisering</a>
                        </h4>
                    </div>
                    <div id="collapseCategory" class="panel-collapse collapse in" aria-labelledby="headingCategory" role="tabpanel" aria-expanded="true" style="">
                        <div class="panel-body">
                            <fieldset>
                                <label for="{{ form.type.id_for_label }}">Type:</label>
                                {{ form.type }}
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.tags.id_for_label }}">Nøgleord:</label>
                                {{ form.tags }}
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div id="headingAudience" class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="" aria-controls="collapseAudience" aria-expanded="true" href="#collapseAudience" data-parent="#accordion" data-toggle="collapse" role="button">Målgruppe</a>
                        </h4>
                    </div>
                    <div id="collapseAudience" class="panel-collapse collapse in" aria-labelledby="headingAudience" role="tabpanel" aria-expanded="true" style="">
                        <div class="panel-body">
                            <fieldset>
                                <label for="{{ form.audience.id_for_label }}">Henvendt til:</label>
                                {{ form.audience }}
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.topics.id_for_label }}">Fag:</label>
                                {{ form.topics }}
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.level.id_for_label }}">Niveau:</label>
                                {{ form.level }}
                            </fieldset>
                            <fieldset>
                                <label for="{{ form.maximum_number_of_visitors.id_for_label }}">Max antal:</label>
                                {{ form.maximum_number_of_visitors }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingTimePlace" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTimePlace" aria-expanded="true" href="#collapseTimePlace" data-parent="#accordion" data-toggle="collapse" role="button">Tid og sted</a>
                    </h4>
                </div>
                <div id="collapseTimePlace" class="panel-collapse collapse in" aria-labelledby="headingTimePlace" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <fieldset>
                                    <label>Tid:</label>
                                    <input type="date">
                                </fieldset>
                                <fieldset>
                                    <label>Varighed:</label>
                                    <input type="text" value="">
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <fieldset>
                                    <label for="{{ form.locality.id_for_label }}">Sted:</label>
                                    {{ form.locality }}
                                </fieldset>
                                <fieldset>
                                    <label for="{{ form.room.id_for_label }}">Lokale:</label>
                                    {{ form.room }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingContact" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseContact" aria-expanded="true" href="#collapseContact" data-parent="#accordion" data-toggle="collapse" role="button">Tid og sted</a>
                    </h4>
                </div>
                <div id="collapseContact" class="panel-collapse collapse in" aria-labelledby="headingContact" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <fieldset>
                            <label class="radiolabel">
                                <input type="checkbox" style="display: inline;" value="yes" name="bookable">
                                <label>Kan bookes</label>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="{{ form.contact_persons.id_for_label }}">Kontaktinfo:</label>
                            {{ form.contact_persons }}
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingAttach" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseAttach" aria-expanded="true" href="#collapseAttach" data-parent="#accordion" data-toggle="collapse" role="button"> Vedhæftninger </a>
                    </h4>
                </div>
                <div id="collapseAttach" class="panel-collapse collapse in" aria-labelledby="headingAttach" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <fieldset>
                            <label>Vedhæftede filer:</label>
                            <input type="file">
                            <a href="#">Tilføj ny fil</a>
                        </fieldset>
                    </div>
                </div>
            </div>
    </div>

            {% include 'common/save_cancel.html' %}
        </form>
        <footer>
        </footer>
    </div>
{% endblock %}