{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}
    <link href="{% static 'recurrence/css/recurrence.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script>
        // @TODO: Remove this hack when django-recurrence internationalization detection
        // is fixed or when i18n support is added to Knock
        if (!pgettext) {
            function pgettext(ignore, t) {
                return gettext(t);
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'js/recurrence.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/recurrence-widget.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% if object %}{% trans "Rediger tilbud" %}{% else %}{% trans "Nyt tilbud" %}{% endif %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <a href="#" class="btn btn-default btn-sm openall">{% trans "Udvid alle felter" %}</a> <a href="#" class="btn btn-default btn-sm closeall">{% trans "Luk alle felter" %}</a>
        </div>
    </div>
    <hr/>
    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-default">
                <div id="headingCategory" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseCategory" aria-expanded="true" href="#collapseCategory" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Kategorisering" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseCategory" class="panel-collapse collapse in
                {% if form.type.errors or form.tags.errors %}in{% endif %}
                " aria-labelledby="headingCategory" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div>
                                {{ form.type.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.type.id_for_label }}">{{ form.type.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.type }}
                            </div>
                        </div>
                        <!-- <div class="row form-group">
                            <div>{{ form.tags.errors }}</div>
                            <div class="col-sm-2">
                            <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                            {{ form.tags }}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="headingCategory" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTitel" aria-expanded="false" href="#collapseTitel" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Titel" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTitel" class="panel-collapse collapse
                {% if form.type.errors or form.tags.errors %}in{% endif %}
                " aria-labelledby="headingCategory" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div>
                                {{ form.title.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="panel panel-default">
                <div id="headingDescription" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a aria-controls="collapseDescription" aria-expanded="false" href="#collapseDescription" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Beskrivelse" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseDescription" class="panel-collapse collapse
                {% if not form.errors or form.teaser.errors or form.description.errors or form.price.errors %}in{% endif %}
                " aria-labelledby="headingDescription" role="tabpanel">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div>
                                {{ form.teaser.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.teaser.id_for_label }}">{{ form.teaser.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.teaser }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div>
                                {{ form.description.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div>
                                {{ form.price.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.price.id_for_label }}">{{ form.price.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label>{% trans "Vedhæftede filer" %}:</label>
                            </div>
                            <div class="col-sm-10">
                                {% if fileformset.studymaterials %}
                                <ul>
                                {% for material in fileformset.studymaterials %}
                                    <li>
                                        <a href="{{ MEDIA_URL }}{{ material.file.url }}">{{ material.file.name | upload_name_strip_path }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                                {{ fileformset.management_form }}
                                <div id="attachFileFields">
                                {% for fileform in fileformset %}
                                    <div class="fileupload">
                                        {{ fileform.file }}
                                    </div>
                                {% endfor %}
                                </div>
                                <a id="attachAddFileField">{% trans "Tilføj ny fil" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingAudience" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseAudience" aria-expanded="false" href="#collapseAudience" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Målgruppe" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseAudience" class="panel-collapse collapse
                    {% if form.audience.errors or form.institution_level.errors or form.topics.errors or form.level.errors or form.class_level_min.errors or form.class_level_max.errors or form.minimum_number_of_visitors.errors or form.maximum_number_of_visitors.errors or form.subjects.errors %}in{% endif %}
                    " aria-labelledby="headingAudience" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div>
                                {{ form.audience.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.audience.id_for_label }}">{{ form.audience.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.audience }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div>
                                {{ form.institution_level.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.institution_level.id_for_label }}">{{ form.institution_level.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.institution_level }}
                            </div>
                        </div>

                        <div class="institution_level_dependent" data-display-value="1">
                            <div class="row form-group" id="gymnasie-fag-edit">
                                {% include "common/snippets/edit-gymnasiefag.html" %}
                            </div>
                        </div>

                        <div class="institution_level_dependent" data-display-value="2">
                            <div class="row form-group" id="grundskole-fag-edit">
                                {% include "common/snippets/edit-grundskolefag.html" %}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div>
                                {{ form.minimum_number_of_visitors.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.minimum_number_of_visitors.id_for_label }}">{{ form.minimum_number_of_visitors.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.minimum_number_of_visitors }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div>
                                {{ form.maximum_number_of_visitors.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label for="{{ form.maximum_number_of_visitors.id_for_label }}">{{ form.maximum_number_of_visitors.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.maximum_number_of_visitors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingTimePlace" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTimePlace" aria-expanded="false" href="#collapseTimePlace" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Tidspunkt og varighed" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTimePlace" class="panel-collapse collapse
                {% if form.time.errors or form.duration.errors %}in{% endif %}
                " aria-labelledby="headingTimePlace" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                    <fieldset>
                                        {{ form.time.errors }}
                                        <!--<label for="{{ form.time.id_for_label }}">{{ form.time.label }}:</label>-->
                                        <!--{{ form.time }}-->
                                        <label>Starttidspunkter:</label>
                                        <div class="time-container">
                                            <div class="time-select">
                                                <div>
                                                    <select class="start-time form-control input-sm">
                                                        <option value="00:00">00:00</option>
                                                        <option value="00:30">00:30</option>
                                                        <option value="01:00">01:00</option>
                                                        <option value="01:30">01:30</option>
                                                        <option value="02:00">02:00</option>
                                                        <option value="02:30">02:30</option>
                                                        <option value="03:00">03:00</option>
                                                        <option value="03:30">03:30</option>
                                                        <option value="04:00">04:00</option>
                                                        <option value="04:30">04:30</option>
                                                        <option value="05:00">05:00</option>
                                                        <option value="05:30">05:30</option>
                                                        <option value="06:00">06:00</option>
                                                        <option value="06:30">06:30</option>
                                                        <option value="07:00">07:00</option>
                                                        <option value="07:30">07:30</option>
                                                        <option value="08:00">08:00</option>
                                                        <option value="08:30">08:30</option>
                                                        <option value="09:00">09:00</option>
                                                        <option value="09:30">09:30</option>
                                                        <option value="10:00">10:00</option>
                                                        <option value="10:30">10:30</option>
                                                        <option value="11:00">11:00</option>
                                                        <option value="11:30">11:30</option>
                                                        <option value="12:00">12:00</option>
                                                        <option value="12:30">12:30</option>
                                                        <option value="13:00">13:00</option>
                                                        <option value="13:30">13:30</option>
                                                        <option value="14:00">14:00</option>
                                                        <option value="14:30">14:30</option>
                                                        <option value="15:00">15:00</option>
                                                        <option value="15:30">15:30</option>
                                                        <option value="16:00">16:00</option>
                                                        <option value="16:30">16:30</option>
                                                        <option value="17:00">17:00</option>
                                                        <option value="17:30">17:30</option>
                                                        <option value="18:00">18:00</option>
                                                        <option value="18:30">18:30</option>
                                                        <option value="19:00">19:00</option>
                                                        <option value="19:30">19:30</option>
                                                        <option value="20:00">20:00</option>
                                                        <option value="20:30">20:30</option>
                                                        <option value="21:00">21:00</option>
                                                        <option value="21:30">21:30</option>
                                                        <option value="22:00">22:00</option>
                                                        <option value="22:30">22:30</option>
                                                        <option value="23:00">23:00</option>
                                                        <option value="23:30">23:30</option>
                                                    </select>
                                                    <button type="button" class="btn btn-default remove-button" disabled>
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <button type="button" class="btn btn-default plus-button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>

                                    <input id="id_time" type="hidden" />

                                    <fieldset>
                                        {{ form.duration.errors }}
                                        <label for="{{ form.duration.id_for_label }}">{{ form.duration.label }}:</label>
                                        <select id="id_duration" name="duration" class="form-control input-sm">
                                            <option value="00:00">00:00</option>
                                            <option value="00:30">00:30</option>
                                            <option value="01:00">01:00</option>
                                            <option value="01:30">01:30</option>
                                            <option value="02:00">02:00</option>
                                            <option value="02:30">02:30</option>
                                            <option value="03:00">03:00</option>
                                            <option value="03:30">03:30</option>
                                            <option value="04:00">04:00</option>
                                            <option value="04:30">04:30</option>
                                            <option value="05:00">05:00</option>
                                            <option value="05:30">05:30</option>
                                            <option value="06:00">06:00</option>
                                            <option value="06:30">06:30</option>
                                            <option value="07:00">07:00</option>
                                            <option value="07:30">07:30</option>
                                            <option value="08:00">08:00</option>
                                            <option value="08:30">08:30</option>
                                            <option value="09:00">09:00</option>
                                            <option value="09:30">09:30</option>
                                            <option value="10:00">10:00</option>
                                            <option value="10:30">10:30</option>
                                            <option value="11:00">11:00</option>
                                            <option value="11:30">11:30</option>
                                            <option value="12:00">12:00</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        {{ form.recurrences.errors }}
                                        <label for="{{ form.recurrences.id_for_label }}">{{ form.recurrences.label }}:</label><br>
                                        {{ form.recurrences }}
                                    </fieldset>
                                    <fieldset>
                                        <label>Eksisterende tidspunkter:</label>
                                        <div class="pre-scrollable">
                                            <ul id="existing-recurrence-dates" class="list-unstyled" data-visit-id="{{ object.id }}">
                                                {% if object and object.visitoccurrence_set %}
                                                    {% for occurrence in object.visitoccurrence_set.all %}
                                                        {% if occurrence.is_booked %}
                                                            <li>
                                                                <input type="checkbox" name="occurrences" value="{{ occurrence.start_datetime|date:'d-m-Y H:i' }}" checked disabled />{{ occurrence.start_datetime|date:'d-m-Y H:i' }}
                                                                <input type="hidden" name="occurrences" value="{{ occurrence.start_datetime|date:'d-m-Y H:i' }}" checked />
                                                            </li>
                                                        {% else %}
                                                            <li><input type="checkbox" name="occurrences" value="{{ occurrence.start_datetime|date:'d-m-Y H:i' }}" checked />{{ occurrence.start_datetime|date:'d-m-Y H:i' }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <label>Mulige tidspunkter:</label>
                                        <div class="pre-scrollable">
                                            <ul id="recurrence-dates" class="list-unstyled">

                                            </ul>
                                        </div>
                                    </fieldset>
                            </div>

                        </div>
                    </div>
                </div>
           </div>

            <div class="panel panel-default">
                <div id="headingRooms" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseRooms" aria-expanded="false" href="#collapseRooms" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Lokalitet og lokaler" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseRooms" class="panel-collapse collapse
                {% if form.rooms_needed.errors or form.rooms_assignment.errors or form.contact_persons.errors or form.locality.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                                    <div>{{ form.locality.errors }}</div>
                                    <div class="col-sm-2">
                                    <label for="{{ form.locality.id_for_label }}">{{ form.locality.label }}:</label>
                                    </div>
                                    <div class="col-sm-10">
                                    {{ form.locality }}
                                </div>
                            </div>
                        <div class="row form-group">
                            <div>{{ form.rooms_needed.errors }}</div>
                            <div class="col-sm-12">
                            {{ form.rooms_needed }}
                            <label for="{{ form.rooms_needed.id_for_label }}">{{ form.rooms_needed.label }}</label>
                            </div>
                        </div>

                        <div id="rooms_needed_fields">
                        <div class="row form-group">
                            <div>{{ form.rooms_assignment.errors }}</div>
                            <div class="col-sm-2">
                            <label for="{{ form.rooms_assignment.id_for_label }}">{{ form.rooms_assignment.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                            {{ form.rooms_assignment }}
                            </div>
                        </div>
                        <div id="roomsedit">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                    <label for="existingrooms">{% trans "Tilføj eksisterende lokale" %}:</label>
                                    </div>
                                    <div class="col-sm-6">
                                    <select name="existingrooms" class="form-control input-sm" id="existingrooms">
                                        <option>{% trans "Vælg lokale..." %}</option>
                                        {% for room in existingrooms %}
                                        <option value="{{room.name}}">{{room.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <label for="newroom">{% trans "Tilføj nyt lokale" %}:</label>
                                    </div>
                                    <div class="col-sm-6">
                                    <div class="input-group">
                                    <input type="text" name="newroom" id="newroom" value="" class="form-control input-sm" /><span class="input-group-btn">
                                    <button type="button" id="addnewroom" value="{% trans "Tilføj" %}" class="btn btn-default">{% trans "Tilføj" %}</button></span>
                                    </div>
                                </div>
                            </div>
                            <div><strong>{% trans "Valgte lokaler" %}:</strong></div>
                            <ul id="chosenrooms">
                            {% comment %}
                                When making changes here, also change the addRoom method
                                in booking/static/js/formutil.js which generates the
                                same HTML dynamically.
                            {% endcomment %}
                            {% for room in rooms %}
                                <li>
                                    <span class="roomname">{{ room.name }}</span>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <input type="hidden" name="rooms" value="{{ room.name }}" />
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="headingContact" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseContact" aria-expanded="false" href="#collapseContact" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Kontaktinformation" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseContact" class="panel-collapse collapse
                {% if form.enabled.errors or form.contact_persons.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                                <div>{{ form.unit.errors }}</div>
                                <div class="col-sm-2">
                                <label for="{{ form.unit.id_for_label }}">{{ form.unit.label }}:</label>
                                </div>
                                <div class="col-sm-10">
                                {{ form.unit }}
                            </div>
                        </div>
                        <div class="row form-group">
                                <div>{{ form.enabled.errors }}</div>
                                <div class="col-sm-12">
                                    <label class="radiolabel" for="{{ form.enabled.id_for_label }}">{{ form.enabled }} Kan bookes</label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div>{{ form.contact_persons.errors }}</div>
                                <div class="col-sm-2">
                                <label for="{{ form.contact_persons.id_for_label }}">{{ form.contact_persons.label }}:</label>
                                </div>
                                <div class="col-sm-10">
                                {{ form.contact_persons }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div id="headingInternal" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseInternal" aria-expanded="true" href="#collapseInternal" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Interne oplysninger" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseInternal" class="panel-collapse collapse {% if form.enabled.errors or form.contact_persons.errors %}in{% endif %} " aria-labelledby="headingContact" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row form-group">  
                            <div>{{ form.preparation_time.errors }}</div>
                            <div class="col-sm-2">
                            <label for="{{ form.preparation_time.id_for_label }}">{{ form.preparation_time.label }}:</label>
                                </div>
                                <div class="col-sm-2">
                            {{ form.preparation_time }}
                        </div>
                        </div>
                        <div class="row form-group">  
                            <div>{{ form.comment.errors }}</div>
                            <div class="col-sm-2">
                            <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}:</label>
                                </div>
                                <div class="col-sm-10">
                            {{ form.comment }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'common/save_cancel.html' %}
        <div class="divider"></div>
    </form>

{% endblock %}

{% block extra_scripts %}
    
    {{ form.media }}
    <script type="text/javascript" src="{% static 'thirdparty/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/formutil.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>

    <script type="text/javascript"><!--

        $(function(){
            $("#attachAddFileField").click(function(){
                formset.addRow(
                        $("#{{ fileformset.management_form.TOTAL_FORMS.id_for_label }}"),
                        $("#{{ fileformset.management_form.MAX_NUM_FORMS.id_for_label }}"),
                        $(".fileupload").first(),
                        $("#attachFileFields")
                );
                return false;
            });
        });

        $(function(){
            var select = $("#{{ form.institution_level.id_for_label }}");
            var changeDisplay = function(){
                var value = select.val();
                $(".institution_level_dependent").each(function() {
                    var attr = $(this).attr("data-display-value") || 0xFFFFFF;
                    if (parseInt(value) & parseInt(attr)) {
                        $(this).show()
                    } else {
                        $(this).hide()
                    }
                })
            };
            select.change(changeDisplay);
            changeDisplay();
            // Toggle arrows
            $('.collapse').on('show.bs.collapse', function() {
            $(this).prev().find(".caret").addClass("caret-up");
            });
            $('.collapse').on('hide.bs.collapse', function() {
                $(this).prev().find(".caret").removeClass("caret-up");
            });
            $('.closeall').click(function(){
              $('.panel-collapse.in').collapse('hide');
            });
            $('.openall').click(function(){
              $('.panel-collapse:not(".in")').collapse('show');
            });
        });

        $("#id_recurrences").on("change", function() {
            $.ajax({
                url : "/jsapi/rrulestr",
                type : "POST",
                data : {
                    'rrulestr': $(this).val(),
                    'start_times': $('#id_time').val() === "" ? "00:00" : $('#id_time').val(),
                    'duration': $('#id_duration').val(),
                    'visit_id': $('#existing-recurrence-dates').data('visitId'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },

                success : function(json) {
                    var list = $('#recurrence-dates');

                    list.empty();

                    var items = [];

                    $.each(json, function(i, item) {

                        items.push('<li><input type="checkbox" name="occurrences" value="' + item + '"/>' + item + '</li>');

                    });  // close each()

                    list.append( items.join('') );
                },

                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
        var addTimeField = function(){
            var timeDiv = $(".time-select>div").clone(true,true);
            timeDiv.appendTo($(".time-container"));
            $(".remove-button").prop('disabled', false);
        };
        $(".plus-button").click(addTimeField);
        $(".remove-button").click(function(){
            $(this).parent().remove();
        });
        $(".start-time").on('change', function(){
            var value = [];
            $(".start-time").each(function(){
                value.push($(this).val());
            });
            $('#id_time').val(value.join(','));
        });
        (function(select_id) {
            var type_map = {
                "Gymnasie": 1,
                "Grundskole": 2,
                "Begge": 3
            };
            $(function() {
                $(select_id).on("change", function() {
                    var val = parseInt($(this).val()) || 0xFFFFFF;
                    $('input[name=subjects]').each(function() {
                        var txt = $(this).parent().text().match(
                            /\((Gymnasie|Grundskole|Begge)\)/
                        );
                        if (txt && txt.length) {
                            txt = txt[1];
                        }
                        v = type_map[txt || ''];
                        if (v && parseInt(v) & val) {
                            $(this).parent().show();
                            if ($(this).attr("data-prev-selected")) {
                                $(this).removeAttr("data-prev-selected");
                                $(this).prop("checked", true);
                            }
                        } else {
                            $(this).parent().hide();
                            if ($(this).is(":checked")) {
                                $(this).prop("checked", false);
                                $(this).attr("data-prev-selected", "yes");
                            }
                        }
                    });
                }).trigger("change");
            });
        })('#{{form.institution_level.id_for_label }}')
    //--></script>
    
{% endblock %}
