{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% if object.pk %}{% trans "rediger tilbud" %}{% else %}{% trans "opret tilbud" %}{% endif %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'thirdparty/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% if object.pk %}{% trans "Rediger tilbud" %}{% else %}{% trans "Nyt tilbud" %}{% endif %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <a href="#" class="btn btn-default btn-sm openall">{% trans "Udvid alle felter" %}</a> <a href="#" class="btn btn-default btn-sm closeall">{% trans "Luk alle felter" %}</a>
        </div>
    </div>
    <hr/>
    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">

            {{ form.type }}

            {% if form.title %}
            <div class="panel panel-default">
                <div id="headingCategory" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTitel" aria-expanded="false" href="#collapseTitel" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Titel" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTitel" class="panel-collapse collapse
                {% if not object.pk or not form.errors or form.title.errors or form.title.errors %}in{% endif %}
                " aria-labelledby="headingCategory" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/title.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.state or form.teaser or form.description or form.price or fileformset %}
            <div class="panel panel-default">
                <div id="headingDescription" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a aria-controls="collapseDescription" aria-expanded="false" href="#collapseDescription" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Beskrivelse" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseDescription" class="panel-collapse collapse
                {% if not object.pk or form.state.errors or form.teaser.errors or form.description.errors or form.price.errors or fileformset.errors %}in{% endif %}
                " aria-labelledby="headingDescription" role="tabpanel">
                    <div class="panel-body">
                        {% include 'resource/fields/state.html' %}
                        {% include 'resource/fields/teaser.html' %}
                        {% include 'resource/fields/description.html' %}
                        {% include 'resource/fields/price.html' %}
                        {% include 'resource/fields/studymaterials.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.audience or form.institution_level or form.level or form.class_level_min or form.class_level_max or form.minimum_number_of_visitors or form.maximum_number_of_visitors or form.subjects %}
            <div class="panel panel-default">
                <div id="headingAudience" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseAudience" aria-expanded="false" href="#collapseAudience" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Målgruppe" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseAudience" class="panel-collapse collapse
                    {% if not object.pk or form.audience.errors or form.institution_level.errors or form.level.errors or form.class_level_min.errors or form.class_level_max.errors or form.minimum_number_of_visitors.errors or form.maximum_number_of_visitors.errors or form.subjects.errors %}in{% endif %}
                    " aria-labelledby="headingAudience" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/audience.html' %}
                        {% include 'resource/fields/institution_level.html' %}
                        {% include 'resource/fields/subjects.html' %}
                        {% include 'resource/fields/visitors.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hastime or form.duration %}
            <div class="panel panel-default">
                <div id="headingTimeDuration" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTimeDuration" aria-expanded="false" href="#collapseTimeDuration" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Tidspunkt og varighed" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTimeDuration" class="panel-collapse collapse
                {% if not object.pk or form.time.errors or form.duration.errors %}in{% endif %}
                " aria-labelledby="headingTimeDuration" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/time.html' %}
                        {% include 'resource/fields/duration.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.rooms_needed or form.rooms_assignment or form.locality %}
            <div class="panel panel-default">
                <div id="headingRooms" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseRooms" aria-expanded="false" href="#collapseRooms" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Lokalitet og lokaler" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseRooms" class="panel-collapse collapse
                {% if not object.pk or form.rooms_needed.errors or form.rooms_assignment.errors or form.locality.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/locality.html' %}
                        {% include 'resource/fields/rooms.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.needed_hosts or form.needed_teachers or form.default_hosts or form.default_teachers %}
            <div class="panel panel-default">
                <div id="headingTeachersAndHosts" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTeachersAndHosts" aria-expanded="false" href="#collapseTeachersAndHosts" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Værter og undervisere" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTeachersAndHosts" class="panel-collapse collapse
                {% if not object.pk or form.needed_hosts.errors or form.needed_teachers.errors or form.default_hosts.errors or form.default_teachers.error %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                    {% include 'common/snippets/edit-needed-number.html' with field=form.needed_hosts %}
                    {% include 'common/snippets/edit-needed-number.html' with field=form.needed_teachers %}
                    {% if form.default_hosts or form.default_teachers %}
                    <p>
                        Du kan her vælge faste værter og undervisere der automatisk kopieres til alle
                        besøg der efterfølgende oprettes for dette tilbud.
                    </p>
                    {% endif %}
                    {% include 'resource/fields/generic_field.html' with field=form.default_hosts %}
                    {% include 'resource/fields/generic_field.html' with field=form.default_teachers %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.unit or form.contact_persons %}
            <div class="panel panel-default">
                <div id="headingContact" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseContact" aria-expanded="false" href="#collapseContact" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Kontaktinformation" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseContact" class="panel-collapse collapse
                {% if not object.pk or form.unit.errors or form.contact_persons.errors %}in{% endif %}
                " aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/unit.html' %}
                        {% include 'resource/fields/contact.html' %}
                        {% include 'resource/fields/roomadmin.html' %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.preparation_time or form.comment or autosendform %}
            <div class="panel panel-default">
                <div id="headingInternal" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseInternal" aria-expanded="true" href="#collapseInternal" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Interne oplysninger" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseInternal" class="panel-collapse collapse
                {% if not object.pk or form.preparation_time.errors or form.comment.errors or autosendform.errors %}in{% endif %}
                " aria-labelledby="headingInternal" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'resource/fields/preparation.html' %}
                        {% include 'resource/fields/comment.html' %}
                        {% include 'resource/fields/autosend.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% include 'common/save_cancel.html' %}
        <div class="divider"></div>
    </form>

{% endblock %}

{% block extra_scripts %}
    
    {{ form.media }}
    <script type="text/javascript" src="{% static 'thirdparty/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/formutil.js' %}"></script>

    {% include 'resource/fields/studymaterials_script.html' %}

    {% include 'resource/fields/autosend_script.html' %}
    {% include 'resource/fields/institution_level_script.html' %}
    {% include 'resource/fields/time_script.html' %}

    <script type="text/javascript"><!--

		$(function() {
		    // Toggle arrows
		    $('.collapse').on('show.bs.collapse', function() {
		        $(this).prev().find(".caret").addClass("caret-up");
		    });
		    $('.collapse').on('hide.bs.collapse', function() {
		        $(this).prev().find(".caret").removeClass("caret-up");
		    });
		    $('.closeall').click(function(){
		        $('.panel-collapse.in').collapse('hide');
		    });
		    $('.openall').click(function(){
		        $('.panel-collapse:not(".in")').collapse('show');
		    });
		});

    //--></script>
    
{% endblock %}
