{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "opret ressourcegruppe" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Fooooobar{% endblocktrans %}</h1>
    <hr/>

    <form id="mpvform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        {{ form.non_field_errors }}

        {% csrf_token %}
        {% include 'common/fields/generic_field.html' with field=form.date %}

        {% include 'common/continue_cancel.html' %}
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    {% include 'common/resources/datepicker_script.html' %}
{% endblock %}
