{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "tilmeld prioriteret liste af arrangementer på samme dag" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Tilmeld prioriteret liste af arrangementer på samme dag{% endblocktrans %}</h1>
    <div class="divider"></div>
    <form id="mpvform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        <p class="btn-group">
            {% if object and object.id %}
                <a class="btn btn-default active" href="#" role="button">{% trans 'Vælg dato' %}</a>
                <button class="btn btn-default" type="submit" formaction="?next={% url 'mpv-edit-products' object.id %}" role="button">{% trans 'Vælg tilbud' %}</button>
                <button class="btn btn-default" type="submit" formaction="?next={% url 'mpv-confirm' object.id %}" role="button">{% trans 'Bekræft' %}</button>
            {% else %}
                <a class="btn btn-default active" href="#" role="button">{% trans 'Vælg dato' %}</a>
                <a class="btn btn-default disabled" href="" role="button">{% trans 'Vælg tilbud' %}</a>
                <a class="btn btn-default disabled" href="" role="button">{% trans 'Bekræft' %}</a>
            {% endif %}
        </p>

        {{ form.non_field_errors }}

        {% csrf_token %}
        {% include 'common/fields/generic_field.html' with field=form.date %}

        <fieldset>
            <a class="btn btn-default cancelbutton" href="{% if object %}{% url 'product-book-notime' object.id %}{% elif oncancel %}{{ oncancel }}{% else %}javascript:history.back(){% endif %}">{% trans "Annullér bestilling" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Videre" %}</button>
        </fieldset>
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    {% include 'common/resources/datepicker_script.html' %}
{% endblock %}
