{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "tilmeld prioriteret liste af arrangementer på samme dag" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Tilmeld prioriteret liste af arrangementer på samme dag{% endblocktrans %}</h1>
    <hr/>

    <form id="mpvform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        <p class="btn-group">
            <button class="btn btn-primary" type="submit" formaction="?next={% url 'mpv-edit-date' object.id %}" role="button">{% trans 'Vælg dato' %}</button>
            <a class="btn btn-primary active" href="#" role="button">{% trans 'Vælg tilbud' %}</a>
            <button class="btn btn-primary" type="submit" formaction="?next={% url 'mpv-confirm' object.id %}" role="button">{% trans 'Bekræft' %}</button>
        </p>

        {{ form.non_field_errors }}

        {% csrf_token %}
        {% if form.products.errors %}
            <div>{{ form.products.errors }}</div>
        {% endif %}
        {{ form.products }}

        <ul class="list-group" id="selected-product-list">
            {% for product in products %}
                {% if product.id in form.products.value %}
                    {% include 'visit/multi_product_item.html' with product=product %}
                {% endif %}
            {% endfor %}
        </ul>

        <p id="drawhelp">{% trans 'Du kan trække i tilbuddene for at prioritere dem.' %}</p>
        <p>{% trans 'Vælg tilbud:' %}<br/>{% trans '(Listen er begrænset til tilbud uden faste tider der kan lade sig gøre den pågældende dag)' %}</p>
        <ul class="list-group scroll-500" id="deselected-product-list">
            {% for product in products %}
                {% if product.id not in form.products.value %}
                    {% include 'visit/multi_product_item.html' with product=product %}
                {% endif %}
            {% endfor %}
            <li id="placeholder" class="list-group-item">{% trans 'Ingen tilbud tilgængelige' %}</li>
        </ul>

        <ul style="display:none">
            <li id="product_prototype" class="list-group-item">
                <span class="glyphicon glyphicon-move movebutton"></span>
                <a class="btn btn-primary pull-right selectbutton">{% trans 'Vælg' %}</a>
                <h2 class="title"></h2>
                <p class="teaser"></p>
                <a class="deselectbutton">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </li>
        </ul>

        {% include 'common/fields/generic_field.html' with field=form.notes %}

        <fieldset>
            <a class="btn btn-primary cancelbutton" href="{% url 'mpv-edit-date' object.id %}">{% trans "Tilbage" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Videre" %}</button>
        </fieldset>
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    {% include 'common/resources/datepicker_script.html' %}
    <script src="{% static 'thirdparty/sortablejs/Sortable.min.js' %}"></script>
    <script>
    <!--
        $(function() {
            var dateSelect = $("[name='{{ form.date.name }}']");
            var selectedList = $("#selected-product-list");
            var deselectedList = $("#deselected-product-list");
            var inputPrototype = $("[name='{{ form.products.name }}'][data-prototype]");
            var placeholder = deselectedList.find("#placeholder");
            var drawHelp = $("#drawhelp");

            var update = function() {
                var anySelected = !!selectedList.children().not(placeholder).length;
                var anyDeSelected = !!deselectedList.children().not(placeholder).length;
                placeholder.toggle(!anyDeSelected);
                drawHelp.toggle(anySelected);
            };

            // Handle deselect clicks
            var deSelect = function() {
                var id = $(this).parent().attr("data-product");
                {# Disable the associated hidden input field #}
                var inputField = $("input[name='{{ form.products.name }}'][value='"+id+"']");
                inputField.attr("disabled", "disabled");
                {# Move the <li> to the selected list #}
                deselectedList.append(selectedList.find("li#product_"+id));
                update();
            };
            $(".deselectbutton").on('click', deSelect);

            // Handle select clicks
            var select = function() {
                var id = $(this).parent().attr("data-product");
                {# Enable the associated hidden input field, and move it to the bottom of the list of enabled input fields #}
                var inputField = $("input[name='{{ form.products.name }}'][value='"+id+"']");
                var inputFields = $("input[name='{{ form.products.name }}'][disabled!='disabled']");
                if (inputFields.length) {
                    inputField.insertAfter(inputFields[inputFields.length - 1]);
                } else {
                    inputField.insertBefore(inputField.parent().children().first());
                }
                inputField.removeAttr("disabled");
                {# Move the <li> to the deselected list #}
                selectedList.append(deselectedList.find("li#product_"+id));
                update();
            };
            $(".selectbutton").on('click', select);
            update();


            Sortable.create(
                selectedList.get(0),
                {
                    'handle': '.movebutton',
                    'onSort': function(evt) {
                        {# Move the associated hidden input field to the correct index #}
                        var inputFields = $("input[name='{{ form.products.name }}'][disabled!='disabled']");
                        var inputField = inputFields.filter("[value='"+$(evt.item).attr("data-product")+"']");
                        if (evt.newIndex < inputFields.length-1) {
                            var isBefore = inputFields.index(inputField) < evt.newIndex;
                            inputField.insertBefore(inputFields[evt.newIndex + (isBefore ? 1 : 0)]);
                        } else {
                            inputField.insertAfter(inputFields[inputFields.length-1]);
                        }
                    }
                }
            );
        });
    //-->
    </script>
{% endblock %}
