{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "tilmeld arrangement uden fast tidspunkt" %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Besøg uden fast tidspunkt{% endblocktrans %}</h1>

    <p>
        {% blocktrans %}
            Her kan du tilmelde dig et eller flere besøg af typen: uden fast tidspunkt. Du kan angive et tidspunkt, hvor du ønsker at opleve et bestemt tilbud eller tilmelde dig flere forskellige tilbud på den samme dag.
        {% endblocktrans %}
    </p>
    <div class="divider"></div>
    <fieldset>
        <a class="btn btn-default margin-bottom-5-mobile" href="{% url 'product-view' object.id %}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {% trans "Tilbage" %}
        </a>
        <a class="btn btn-primary margin-bottom-5-mobile" href="{% url 'product-book' object.id %}">
            {% trans "Tilmeld med ønske om tidspunkt " %}
        </a>
        <a class="btn btn-primary margin-bottom-5-mobile" href="{% url 'mpv-create' %}?back={{ request.get_full_path | urlencode }}&base={{ object.id }}">
            {% trans "Tilmeld flere besøg på samme dag" %}
        </a>
    </fieldset>
    <div class="divider"></div>

{% endblock %}
