{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "tilmeld prioriteret liste af arrangementer på samme dag" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Tilmeld prioriteret liste af arrangementer på samme dag{% endblocktrans %}</h1>
<div class="divider"></div>
    <p class="btn-group">
        <a class="btn btn-default" href="{% url 'mpv-edit-date' object.id %}" role="button">{% trans 'Vælg dato' %}</a>
        <a class="btn btn-default" href="{% url 'mpv-edit-products' object.id %}" role="button">{% trans 'Vælg tilbud' %}</a>
        <a class="btn btn-default active" href="{% url 'mpv-confirm' object.id %}" role="button">{% trans 'Bekræft' %}</a>
    </p>

    <form id="mpvform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        {{ form.non_field_errors }}

        {% csrf_token %}

        {% if object.has_products_in_different_locations %}
            <p>
                <ul class="warninglist">
                    <li>
                        <strong>{% trans 'Bemærk:' %}</strong>
                        {% trans 'Flere af de valgte tilbud foregår forskellige steder. Der må indberegnes transporttid på besøgsdagen.' %}
                    </li>
                </ul>
            </p>
        {% endif %}

        <label>{% trans 'Valgt dato:' %}</label>
        <p id="confirm-date">{{ object.date }}</p>

        <label>{% trans 'Valgte tilbud:' %}</label>
        <ul id="confirm-product-list" class="list-group">
            {% for product in object.products_ordered %}
                <li class="list-group-item">{{ product.title }}</li>
            {% endfor %}
        </ul>

        <label>{% trans 'Mindste antal ønskede tilbud:' %}</label>
        <p id="confirm-required-visits">{{ object.required_visits }}</p>

        <fieldset>
            <a class="btn btn-default cancelbutton" href="{% url 'mpv-edit-products' object.id %}">{% trans "Tilbage" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Bestil valgte tilbud" %}</button>
        </fieldset>
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    {% include 'common/resources/datepicker_script.html' %}
{% endblock %}
