{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "tilmeld prioriteret liste af arrangementer på samme dag" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% blocktrans %}Bestil flere besøg på den samme dag{% endblocktrans %}</h1>

    <p>
        {% blocktrans %}
            Vær opmærksom på, at det kun er de besøg, hvor du selv kan foreslå et tidspunkt, du får adgang til via datovælgeren.
            Alle besøg med fast tidspunkt, skal du melde dig til via det enkelte besøg.
        {% endblocktrans %}
    </p>

    <form id="mpvform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        <ul class="nav nav-tabs step-anchor">
            {% if object and object.id %}
                <li class="active">
                    <a href="#" role="button">{% trans 'Vælg dato' %}</a>
                </li>
                <li>
                    <button type="submit" formaction="?next={% url 'mpv-edit-products' object.id %}" role="button">{% trans 'Vælg tilbud' %}</button>
                </li>
                <li>
                    <button type="submit" formaction="?next={% url 'mpv-confirm' object.id %}" role="button">{% trans 'Bekræft' %}</button>
                </li>
            {% else %}
                <li class="active">
                    <a href="#" role="button">{% trans 'Vælg dato' %}</a>
                </li>
                <li class="disabled">
                    <a href="" role="button">{% trans 'Vælg besøg' %}</a>
                </li>
                <li class="disabled">
                    <a href="" role="button">{% trans 'Bekræft' %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="divider"></div>

        {{ form.non_field_errors }}

        {% csrf_token %}
        {% include 'common/fields/generic_field.html' with field=form.date %}
        {{ form.baseproduct }}

        <fieldset>
            <a class="btn btn-default cancelbutton" href="{% if object.baseproduct %}{% url 'product-book-notime' object.baseproduct.id %}{% elif oncancel %}{{ oncancel }}{% else %}javascript:history.back(){% endif %}">{% trans "Annullér bestilling" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Videre" %}</button>
        </fieldset>
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    {% include 'common/resources/datepicker_script.html' %}
{% endblock %}
