{% extends "index.html" %}
{% load staticfiles %}
{% load booking_tags %}
{% load i18n %}

{% block htmltitle %} - {% trans 'søg i besøg' %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}


{% block content %}
    <div id="visitsearch" class="row">
        <div id="main" class="col-sm-12 col-md-12">

            {% include 'common/breadcrumbrow.html' %}

            <div class="divider"></div>
            <form class="clearfix" role="søg" action={% url 'visit-search' %}>
                <h2>{% trans 'Filtrér søgning' %}</h2>
                <dl class="dl-horizontal">
                    <dt><label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label></dt>
                    <dd>{{ form.q }}</dd>

                    <dt>{{ form.s.label }}</dt>
                    <dd>{{ form.s }}</dd>

                    <dt>{{ form.t.label }}</dt>
                    <dd>{{ form.t }}</dd>

                    <dt>{{ form.u.label }}</dt>
                    <dd>{{ form.u }}</dd>

                    <dt>{{ form.w.label }}</dt>
                    <dd>{{ form.w }}</dd>

                    <dt>{{ form.p_min.label }}</dt>
                    <dd>{{ form.p_min }}</dd>

                    <dt>{{ form.p_max.label }}</dt>
                    <dd>{{ form.p_max }}</dd>

                    <dt>{{ form.from_date.label }}</dt>
                    <dd>{{ form.from_date }}</dd>

                    <dt>{{ form.to_date.label }}</dt>
                    <dd>{{ form.to_date }}</dd>

                    <dt></dt>
                    <dd><input class="btn btn-primary" type="submit" value="{% trans 'Opdater' %}" name="go" /></dd>
                </dl>
            </form>
            <div>
                {{form.errors}}
            </div>
            <div class="divider"></div>
            <h1>{% trans 'Søgeresultat' %}</h1>
            {% if not results %}
            <p>{% trans 'Din søgning gav ikke noget resultat.' %}</p>
            {% else %}
            <h2 class="bold">
                {{ paginator.count }} resultater matcher din søgning
                {% if request.GET.q %}
                på "{{request.GET.q}}"
                {% endif %}
            </h2>
            <div class="divider"></div>
            <ul class="media-list">
            {% for res in results %}
                <li class="media">
                    <div class="media-body">
                        <strong><a href="{% url 'visit-view' res.pk %}">{% trans 'Besøg' %} #{{ res.pk }}</a></strong>
                        <dl class="dl-horizontal">
                            <dt>{% trans 'Tilbud:' %}</dt>
                            <dd><a href="{% url 'product-view' res.product.pk %}">#{{ res.product.pk }} {{ res.product.title }}</a></dd>
                            <dt>{% trans 'Hvornår:' %}</dt>
                            <dd>{{ res.first_eventtime.interval_display }}</a></dd>
                            <dt>{% trans 'Booket af:' %}</dt>
                            <dd>{% blocktrans with count=res.nr_attendees %}{{ count }} personer{% endblocktrans %}</dd>
                        </dl>
                    </div>
                </li>
               {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-sm-offset-1 col-md-offset-3">
            {% if paginator %}
            <nav>
                <ul class="pager">

                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?{{ qstring }}&page={{ page_obj.previous_page_number }}&pagesize={{paginator.per_page}}">
                            <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                            {% trans 'Forrige' %}
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>
                            <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                            {% trans 'Forrige' %}
                        </span>
                    </li>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?{{ qstring }}&page={{ page_obj.next_page_number }}&pagesize={{paginator.per_page}}" aria-label="Næste">
                            {% trans 'Næste' %}
                            <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>
                            {% trans 'Næste' %}
                            <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                        </span>
                    </li>
                    {% endif %}
                
                </ul>
            </nav>
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="input-group input-group-sm search-list items-pr-side">
                <span class="input-group-addon">Vis</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        {% if request.GET.pagesize == "all" %}
                            Vis alle
                        {% else %}
                            {{ paginator.per_page }}
                        {% endif %}
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Vis anrtal resultater pr. side</span> </button>
                    <ul class="dropdown-menu">
                        <li{% if request.GET.pagesize == "all" %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize=all">Vis alle</a></li>
                        {% for size in pagesizes %}
                        <li{% if size == paginator.per_page %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize={{size}}">{{size}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="input-group-addon"> pr. side</span>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block footer %}
        <div class="container">
            <div class="row">
                <footer>
                    <div class="container">
                        <div class="row footer-columns">
                            <div class="col-sm-6 col-sm-offset-1 col-md-offset-3">
                                <ul class="footerlinks">
                                    <li><a href="http://kommunikation.ku.dk/">Kommunikation</a></li>
                                    <li><a href="http://www.ku.dk/">Københavns Universitet</a></li>
                                    <li>Nørregade 10, Postboks 2177</li>
                                    <li>1017 København K</li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="footerlinks">
                                    <li class="clearfix social-icons"><a target="_blank" class="footer-social" href="https://www.facebook.com/universitet"><span class="icon-circle"><i class="fa fa-facebook"></i></span></a><a target="_blank" class="footer-social" href="https://www.linkedin.com/edu/k%C3%B8benhavns-universitet-12012"><span class="icon-circle"><i class="fa fa-linkedin"></i></span></a><a target="_blank" class="footer-social" href="https://twitter.com/koebenhavns_uni"><span class="icon-circle"><i class="fa fa-twitter"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    {% endblock %}

{% block extra_scripts %}
    
    {% include 'common/resources/datepicker_script.html' %}
    <script src="{% static 'js/custom.js' %}"></script>
    
{% endblock %}
