{% extends "index.html" %}
{% load booking_tags %}
{% load i18n %}

{% block htmltitle %} - {% trans 'søg i besøg' %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}


{% block content %}
    <div id="visitsearch" class="row">
        <div id="main" class="col-sm-12 col-md-12">

            {% include 'common/breadcrumbrow.html' %}

            <div class="divider"></div>

            <form class="clearfix" role="søg" action={% url 'visit-search' %}>
                <div class="row">
                    <h2 class="col-sm-6 col-sm-offset-2">{% trans 'Filtrér søgning' %}</h2>
                    <div class="col-sm-4">
                        {{form.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.q }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.q }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.s.id_for_label }}">{{ form.s.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.s }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.t.id_for_label }}">{{ form.t.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.t }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.u.id_for_label }}">{{ form.u.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.u }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.w.id_for_label }}">{{ form.w.label }}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.w }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-sm-offset-2">
                        <label for="{{ form.p_min.id_for_label }}">{{ form.p_min.label }}</label>
                        {{ form.p_min }}
                    </div>
                    <div class="col-sm-3">
                        <label for="{{ form.p_max.id_for_label }}">{{ form.p_max.label }}</label>
                        {{ form.p_max }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-sm-offset-2">
                        <label for="{{ form.from_date.id_for_label }}">{{ form.from_date.label }}</label>
                        {{ form.from_date }}
                    </div>
                    <div class="col-sm-3">
                        <label for="{{ form.to_date.id_for_label }}">{{ form.to_date.label }}</label>
                        {{ form.to_date }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Opdater' %}" name="go">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
            <div class="divider"></div>
            <h1>{% trans 'Søgeresultat' %}</h1>
            {% if not results %}
            <p>{% trans 'Din søgning gav ikke noget resultat.' %}</p>
            {% else %}
            <h2 class="bold">
                {{ paginator.count }} resultater matcher din søgning
                {% if request.GET.q %}
                på "{{request.GET.q}}"
                {% endif %}
            </h2>
            <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            <ul class="media-list">
            {% for res in results %}
                <li class="media">
                    <div class="media-body">
                        <strong><a href="{% url 'visit-view' res.pk %}">{% trans 'Besøg' %} #{{ res.pk }}</a></strong>
                        <dl class="dl-horizontal">
                            <dt>{% trans 'Tilbud:' %}</dt>
                            <dd>
                                {% if res.multiproductvisit %}
                                    <ul>
                                    {% for product in res.real.products %}
                                        <li><a href="{% url 'product-view' product.pk %}">#{{ product.pk }} {{ product.title }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% elif res.product %}
                                    <a href="{% url 'product-view' res.product.pk %}">#{{ res.product.pk }} {{ res.product.title }}</a>
                                {% endif %}
                            </dd>
                            <dt>{% trans 'Hvornår:' %}</dt>
                            <dd>
                                {{ res.real.interval_display }}
                            </dd>
                            <dt>{% trans 'Booket af:' %}</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    {% for booking in res.booking_list %}
                                        <li>
                                            {% blocktrans with schoolname=booking.booker.school.name participants=booking.booker.attendee_count %}
                                                {{ schoolname }} ({{ participants }} personer)
                                            {% endblocktrans %}
                                        </li>
                                    {% endfor %}
                                    {% if res.booking_list|length > 1 %}
                                        <li>
                                            {% blocktrans with total=res.nr_attendees %}
                                                Total: {{ total }} personer
                                            {% endblocktrans %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </li>
               {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-sm-offset-1 col-md-offset-3">
            {% if paginator %}
            <nav>
                <ul class="pager">

                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?{{ qstring }}&page={{ page_obj.previous_page_number }}&pagesize={{paginator.per_page}}">
                            <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                            {% trans 'Forrige' %}
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>
                            <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                            {% trans 'Forrige' %}
                        </span>
                    </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="?{{ qstring }}&page={{ page_obj.next_page_number }}&pagesize={{paginator.per_page}}" aria-label="Næste">
                            {% trans 'Næste' %}
                            <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>
                            {% trans 'Næste' %}
                            <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                        </span>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="input-group input-group-sm search-list items-pr-side">
                <span class="input-group-addon">Vis</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        {% if request.GET.pagesize == "all" %}
                            Vis alle
                        {% else %}
                            {{ paginator.per_page }}
                        {% endif %}
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Vis anrtal resultater pr. side</span> </button>
                    <ul class="dropdown-menu">
                        <li{% if request.GET.pagesize == "all" %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize=all">Vis alle</a></li>
                        {% for size in pagesizes %}
                        <li{% if size == paginator.per_page %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize={{size}}">{{size}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="input-group-addon"> pr. side</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}

    {% include 'common/resources/datepicker_script.html' %}

{% endblock %}
