{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% if object.pk %}{% trans "rediger tilbud" %}{% else %}{% trans "opret tilbud" %}{% endif %}{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>
                {% trans 'Rediger ressourcer for'%}
                "{{ object.title }}"
                ({{ object.get_type_display }})
            </h1>
        </div>
    </div>
    <hr/>
    <form id="visitform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">


            <div class="panel panel-default">
                <div id="headingTeachersAndHosts" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTeachersAndHosts" aria-expanded="false" href="#collapseTeachersAndHosts" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Værter og undervisere" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTeachersAndHosts" class="panel-collapse collapse in" aria-labelledby="headingContact" role="tabpanel" aria-expanded="false" style="">
                    <div class="panel-body">
                    {% trans "Vælg værter der skal kunne kontaktes for afvikling af dette tilbud" as vaerter_helptext %}
                    {% include 'resource/fields/userselect_with_availability_link.html' with field=form.potentielle_vaerter helptext=vaerter_helptext %}
                    {% trans "Vælg undervisere der skal kunne kontaktes for afvikling af dette tilbud" as uv_helptext %}
                    {% include 'resource/fields/userselect_with_availability_link.html' with field=form.potentielle_undervisere helptext=uv_helptext %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'common/save_cancel.html' %}
        <div class="divider"></div>
    </form>

{% endblock %}

{% block extra_scripts %}

    {{ form.media }}
    {% include 'common/resources/datetime-picker_script.html' %}
    <script type="text/javascript" src="{% static 'js/formutil.js' %}"></script>

    {% include 'resource/fields/studymaterials_script.html' %}

    {% include 'resource/fields/autosend_script.html' %}
    {% include 'resource/fields/institution_level_script.html' %}
    {% include 'resource/fields/time_script.html' %}

    <script type="text/javascript"><!--

		$(function() {
		    // Toggle arrows
		    $('.collapse').on('show.bs.collapse', function() {
		        $(this).prev().find(".caret").addClass("caret-up");
		    });
		    $('.collapse').on('hide.bs.collapse', function() {
		        $(this).prev().find(".caret").removeClass("caret-up");
		    });
		    $('.closeall').click(function(){
		        $('.panel-collapse.in').collapse('hide');
		    });
		    $('.openall').click(function(){
		        $('.panel-collapse:not(".in")').collapse('show');
		    });

            // Select duration
		    $('#id_duration option[value="' + $('#id_duration').data('selected') + '"]').attr('selected', true);
		});

    //--></script>

{% endblock %}
