{% load i18n %}
{% if bookerform.attendee_count %}
<div class="form-group">
    <div class="col-sm-2">
        <label class="control-label required nowrap {{ bookerform.attendee_count.css_classes }}" for="{{ bookerform.attendee_count.id_for_label }}">{% trans "Antal deltagere" %}</label>
    </div>
    <div class="col-sm-6{% if bookerform.attendee_count.errors %} has-error{% endif %}">
        {{ bookerform.attendee_count }}
    </div>
    <div class="col-sm-4 help-block with-errors">
        <ul class="list-unstyled" id="waitinglist_warning" style="display:none">
            <li>{% trans 'Der er ikke nok ledige pladser, men du kan skrive dig på venteliste i stedet' %}</li>
        </ul>
        {{ bookerform.attendee_count.errors }}
    </div>
</div>
{% endif %}
{% if bookerform.teacher_count %}
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label required nowrap {{ bookerform.teacher_count.css_classes }}" for="{{ bookerform.teacher_count.id_for_label }}">{% trans "Heraf lærere" %}</label>
        </div>
        <div class="col-sm-6{% if bookerform.teacher_count.errors %} has-error{% endif %}">
            {{ bookerform.teacher_count }}
        </div>
        <div class="col-sm-4 help-block with-errors">
            {{ bookerform.teacher_count.errors }}
        </div>
    </div>
{% endif %}