{% load i18n %}
{% if bookingform.notes %}
<div class="form-group">
    <div class="col-sm-2">
        <label class="control-label {{ bookingform.notes.css_classes }}" for="{{ bookingform.notes.id_for_label }}">{% trans "Kommentarer" %}</label>
    </div>
    <div class="col-sm-6{% if bookingform.notes.errors %} has-error{% endif %}">
        {{ bookingform.notes }}
    </div>
    <div class="col-sm-4 help-block with-errors">
        {% if bookingform.notes.errors %}
            {{ bookingform.notes.errors }}
        {% else %}
            {% trans 'Hvis du tidligere har tilmeldt dig andre besøg på samme dag, da angiv det venligst i kommentarfeltet.' %}
        {% endif %}
    </div>
</div>
{% endif %}