{% load i18n %}
{% if bookingform.notes %}
<div class="form-group">
    <div class="col-sm-2">
        <label class="control-label {{ bookingform.notes.css_classes }}" for="{{ bookingform.notes.id_for_label }}">{% trans "Kommentarer" %}</label>
    </div>
    <div class="col-sm-6{% if bookingform.notes.errors %} has-error{% endif %}">
        {{ bookingform.notes }}
    </div>
    <div class="col-sm-4 help-block with-errors">
        <p>
            {% trans 'Angiv venligst her:' %}
            <ul>
                <li>{% trans 'Hvis dine elever har særlige forudsætninger som underviserne skal kende til' %}</li>
                <li>{% trans 'Hvis du har tilmeldt dig andre besøg på samme dag' %}
            </ul>
        </p>
        {% if bookingform.notes.errors %}
        <p>
            {{ bookingform.notes.errors }}
        </p>
        {% endif %}
    </div>
</div>
{% endif %}