{% if bookerform.school %}
<script src="{% static 'thirdparty/bootstrap-3-typeahead/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" id="school_script">
    <!--
    $(function() {

        var levelMap = {{ level_map }};

        var postcode = $("#id_postcode");
        var schoolField = $("#id_school");
        var levelSelect = $("#{{ bookerform.level.id_for_label }}");

        var updateSchoolType = function(schoolType) {
            schoolType = parseInt(schoolType, 10);
            $("#{{ bookerform.school_type.id_for_label }}").val(schoolType);

            // Show/hide the dependents
            $(".institution_level_dependent").each(function(){
                var $this = $(this);
                $this.toggle(parseInt($this.attr("data-display-value"), 10) === schoolType);
            });

            // Update the level selector options
            var showOptions = levelSelect.find("option[value='']");
            var showValues = levelMap[schoolType];
            for (var i=0; i<showValues.length; i++) {
                showOptions = showOptions.add(levelSelect.find("option[value="+showValues[i]+"]"));
            }
            var hideOptions = levelSelect.find("option").not(showOptions);
            showOptions.show();
            hideOptions.hide();
            hideOptions.filter(":selected").removeAttr("selected");
        };

        schoolField.typeahead({
            items: 12,
            source: function (query, process) {
                $.ajax({
                    url: "{% url 'school' %}",
                    data: {
                        q: query,
                        t: schoolField.attr("data-institution-level")
                    },
                    dataType: "json",
                    complete: function (response) {
                        if (response && response.status === 200) {
                            process(response.responseJSON.schools);
                        }
                    }.bind(this)
                });
            },
            displayText: function(item) {
                if (item.postcode) {
                    return [item.name, " (", item.postcode.number, " ", item.postcode.city, ")"].join("");
                }
                return item.name;
            },
            updater: function (selected) {
                if (selected.postcode && postcode.length) {
                    // Update the postcode field
                    postcode.val(selected.postcode.number);
                    postcode.change();
                }

                if (selected.type) {
                    updateSchoolType(selected.type);
                }
                return selected.name;
            }
        });

        {% if bookerform.school_type %}
            var schoolType = $("#{{ bookerform.school_type.id_for_label }}").val();
            if (schoolType) {
                updateSchoolType(schoolType);
            } else {
                updateSchoolType({{ product.institution_level }});
            }
        {% endif %}
    });

    //-->
</script>
{% endif %}