{% load i18n %}
{% if bookingform.subjects %}
<div class="form-group">
    <div class="col-sm-2">
        <label class="control-label required" for="{{ bookingform.subjects.id_for_label }}">{% trans "Fag" %}</label>
    </div>
    <div class="col-sm-6{% if bookingform.subjects.errors %} has-error{% endif %}">
        {{ bookingform.subjects }}
            {% if grundskolefag_available or gymnasiefag_available %}
                <p><strong>Bemærk: </strong>Dette tilbud er tiltænkt følgende klasseniveauer:</p>
                {% if grundskolefag_available %}
                    <ul id="grundskolefag-list">
                    {% for fag in grundskolefag_available %}
                        <li>
                            <span class="fag-description">{{ fag.description }} (Grundskole)</span>
                        </li>
                    {% endfor %}
                    </ul>

                {% endif %}
                {% if gymnasiefag_available %}
                    <ul id="gymnasiefag-list">
                    {% for fag in gymnasiefag_available %}
                        <li>
                            <span class="fag-description">{{ fag.description }} (Gymnasie)</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

    </div>
    <div class="col-sm-3 help-block with-errors">
        {{ bookingform.subjects.errors }}
    </div>
</div>
{% endif %}