{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% if gymnasiesubjectform %}
    {{ gymnasiesubjectform.management_form }}
    {% if product.productgymnasiefag_set.count > 0 %}
        <div id="gymnasiefag" class="rowcontainer institution_level_dependent" data-display-value="1">
            {% for form in gymnasiesubjectform %}
                {{ form.id }}
                <div class="form-group{% if forloop.first %} rowprototype{% endif %}">
                    <div class="col-sm-2">
                        <label class="control-label" for="{{ form.subject.id_for_label }}">{% trans "Fag/Niveau (Gymnasium)" %}</label>
                        </div>
                    <div class="col-sm-4">
                        {{ form.subject }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.level }}
                    </div>
                    <div class="col-sm-2 rowadder">
                        <a href="javascript:void()" id="addRow">{% trans "Tilføj ny" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% if grundskolesubjectform %}
    {{ grundskolesubjectform.management_form }}
    {% if product.productgrundskolefag_set.count > 0 %}
        <div id="grundskolefag" class="rowcontainer institution_level_dependent" data-display-value="2">
            {% for form in grundskolesubjectform %}
                {{ form.id }}
                <div class="form-group{% if forloop.first %} rowprototype{% endif %}">
                    <div class="col-sm-2">
                        <label class="control-label" for="{{ form.subject.id_for_label }}">{% trans "Fag/Niveau (Grundskole)" %}</label>
                    </div>
                    <div class="col-sm-4">
                        {{ form.subject }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.level }}
                    </div>
                    <div class="col-sm-2 rowadder">
                        <a href="javascript:void()" id="addRow2">{% trans "Tilføj ny" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% if gymnasiesubjectform or grundskolesubjectform %}
    {% if grundskolefag_available or gymnasiefag_available %}
        <div class="col-sm-offset-2 col-sm-10">
            <p>
                <strong>{% trans 'Bemærk:' %}</strong>
                {% trans 'Dette tilbud er tiltænkt følgende klasseniveauer:' %}
            </p>
            {% if grundskolefag_available %}
                <ul id="grundskolefag-list">
                    {% for fag in grundskolefag_available %}
                        <li>
                            <span class="fag-description">{% blocktrans with description=fag.description %}{{ description }} (Grundskole){% endblocktrans %}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if gymnasiefag_available %}
                <ul id="gymnasiefag-list">
                    {% for fag in gymnasiefag_available %}
                        <li>
                            <span class="fag-description">{% blocktrans with description=fag.description %}{{ description }} (Gymnasie){% endblocktrans %}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endif %}