{% load booking_tags %}
{% load i18n %}

{% if bookerform.attendee_count and bookingform.visitoccurrence %}
    <script type="text/javascript">
        <!--
        (function(){
            {% autoescape off %}
                // How many idle spots are available on each occurrence
                var occurrenceAvailable = {{ occurrence_available | jsonify }},
            {% endautoescape %}
            occurrenceSelect = $("#{{ bookingform.visitoccurrence.id_for_label }}"),
            attendeeField = $("#{{ bookerform.attendee_count.id_for_label }}"),
            existingMax = attendeeField.attr("max"),
            submitbutton = $("#submitbutton");
            $("#waitinglist_warning").hide();
        
            if (occurrenceSelect.length && attendeeField.length) {
                var updateOccurrence = function() {
                    var occurrence = occurrenceAvailable[occurrenceSelect.val()];
                    if (occurrence !== null) {
                        attendeeField.attr("max", Math.min(Math.max(occurrence.available, occurrence.waitinglist), existingMax));
                        attendeeField.trigger('change');
                        if (occurrence.available < existingMax) {
                            attendeeField.attr("min", 1);
                        }
                    }
                };

                var updateAttendees = function() {
                    var occurrence = occurrenceAvailable[occurrenceSelect.val()];
                    if (occurrence !== null) {
                        var doWaitingList = attendeeField.val() > occurrence.available && attendeeField.val() <= occurrence.waitinglist;
                        submitbutton.text(doWaitingList ? "{% trans 'Tilmeld til venteliste!' %}" : "{% trans 'Tilmeld!' %}");
                        $("#waitinglist_warning").toggle(doWaitingList);
                    }
                };

                occurrenceSelect.change(updateOccurrence);
                attendeeField.change(updateAttendees);
                attendeeField.keyup(updateAttendees);
                updateOccurrence();
            }
        })();
        //-->
    </script>
{% endif %}