{% load i18n %}
{% if bookingform.scheduled %}
    {% if bookingform.eventtime %}
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label required" for="{{ bookingform.eventtime.id_for_label }}">{{ bookingform.eventtime.label }}{% if bookingform.eventtime.field.required %}{% endif %}</label>
            </div>
            <div class="col-sm-6{% if bookingform.eventtime.errors %} has-error{% endif %}">
                {{ bookingform.eventtime }}
            </div>
            <div class="col-sm-4 help-block with-errors">
                {{ bookingform.eventtime.errors }}
            </div>
        </div>
    {% endif %}
{% else %}
    {% if bookingform.desired_time %}
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label required" for="{{ bookingform.desired_time.id_for_label }}">{% trans "Ønsket tidspunkt" %}{% if bookingform.desired_time.field.required %}{% endif %}</label>
            </div>
            <div class="col-sm-6{% if bookingform.desired_time.errors %} has-error{% endif %}">
                {{ bookingform.desired_time }}
            </div>
            <div class="col-sm-4 help-block with-errors">
                {% if bookingform.desired_time.errors %}
                    {{ bookingform.desired_time.errors }}
                {% else %}
                    {% trans 'Du har her mulighed for at angive nogle tidspunker, hvor du ønsker at deltage i tilbuddet, det kan være specifikke datoer, uger eller tidspunkter på dagen. Vi gør, hvad vi kan for at opfylde dine ønsker, og du hører fra os, så snart vi ved, om det kan lade sig gøre.' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}