{% load i18n %}
{% if autosendformset %}
<div class="row form-group">
    <div class="col-sm-2">
        <label for="{{ autosendformset.id_for_label }}">{% trans 'Automatiske e-mails' %}:</label>
    </div>
    <div class="col-sm-7">
        {% url 'emailtemplate-list' as template_list_url %}
        <p>
            {% blocktrans %}
                Indstil for hvilke situationer der skal afsendes e-mail automatisk. Skabeloner til e-mail-afsendelse kan redigeres på <a href="{{ template_list_url }}" target="_blank">Skabelon-listen</a>.
            {% endblocktrans %}
        </p>
        {{ autosendformset.management_form }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">{% trans 'Skabelon' %}</th>
                    <th class="col-sm-2">{% trans 'Aktiv' %}</th>
                    <th class="col-sm-2">{% trans 'Dage' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for autosendform in autosendformset %}
                <tr class="autosend-row">
                    <td>
                        {{ autosendform.label }}
                        {% for field in autosendform.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    <td>{{ autosendform.enabled }}</td>
                    <td {% if autosendform.days.help_text %}data-toggle="tooltip" data-placement="right" title="{{ autosendform.days.help_text }}"{% endif %}>
                        {{ autosendform.days }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}