{% load i18n %}
{% if form.tilbudsansvarlig %}
<div class="row form-group">
    <div class="col-sm-2">
        <label for="{{ form.contacts.id_for_label }}" class="control-label">{{ form.tilbudsansvarlig.label }}:</label>
    </div>
    <div class="col-sm-7">
        {{ form.tilbudsansvarlig }}
        <p>
            {% trans 'I dette felt er det muligt at vælge en anden ansvarlig koordinator for tilbuddet end den person, der opretter tilbuddet' %}.<br />
            {% trans 'Den valgte koordinator vil også modtage forespørgsler via formularen "Spørg om tilbud"' %}.
            {% trans 'Udfyldes feltet ikke er koordinator:' %}
            {% if form.instance.pk %}
                "{{ form.instance.created_by.get_full_name }} &lt;{{ form.instance.created_by.email }}&gt;".
            {% else %}
                "{{ request.user.get_full_name }} &lt;{{ request.user.email }}&gt;".
            {% endif %}
        </p>
    </div>
    <div class="col-sm-3 with-errors">
        {{ form.tilbudsansvarlig.errors }}
    </div>
</div>
{% endif %}
