{% load i18n %}
{% if form.roomresponsible.label %}
<div class="row form-group">
    <div class="col-sm-2">
        <label for="{{ form.roomresponsible.id_for_label }}" class="control-label">{{ form.roomresponsible.label }}:</label>
    </div>
    <div class="col-sm-7">
        {% if form.roomresponsible %}
            {% trans 'Vælg roomresponsible' %}
            {{ form.roomresponsible }}
        {% else %}
            <p>
            {% trans 'Ingen roomresponsible fundet for ' %}{{ form.current_unit }}
            </p>
        {% endif %}
        <p>
            <a href="{% url 'admin:booking_roomresponsible_changelist' %}"
               onclick="this.target='_blank';"
            >{% trans 'Klik her for at redigere mulige roomresponsible' %} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </p>
    </div>
    <div class="col-sm-3 with-errors">
        {{ form.roomresponsible.errors }}
    </div>
</div>
{% endif %}