{% load staticfiles %}
{% if form.do_create_waiting_list and form.time_mode %}

<script type="text/javascript">
    <!--
        $(function(){
            var waitinglistField = $("#{{ form.do_create_waiting_list.id_for_label }}"),
                timemodeField = $("#{{ form.time_mode.id_for_label }}"),
                disableValues = {{ disable_waitinglist_on_timemode_values | jsonify }},
                savedCheckValue = waitinglistField.is(":checked");
            var updateTimemode = function() {
                var value = timemodeField.val();
                var disable = false;
                for (var i=0; i<disableValues.length; i++) {
                    if (disableValues[i].toString() === value.toString()) {
                        disable = true;
                        break;
                    }
                }
                if (disable) {
                    if (!waitinglistField.attr("disabled")) {
                        waitinglistField.attr("disabled", "disabled");
                        savedCheckValue = waitinglistField.is(":checked");
                        waitinglistField.prop("checked", false);
                    }
                } else {
                    if (waitinglistField.attr("disabled")) {
                        waitinglistField.removeAttr("disabled");
                        waitinglistField.prop("checked", savedCheckValue);
                    }
                }
                $(".waitinglist-dependent").toggle(!disable && waitinglistField.is(":checked"));
            };
            timemodeField.change(updateTimemode);
            updateTimemode();
        });
    //-->
</script>
{% endif %}