*~
dist
*.egg-info
/.idea/
install.log
*.komodoproject
/locale/**/*.mo
/media/
*.pyc
python-env
/resource_booking/local_saml_settings.py
/resource_booking/local_settings.py
/resource_booking/saml/*.crt
/resource_booking/saml/*.key
/resource_booking/saml/*.pem
.ropeproject
.ropeproject
*.sqlite3
/static/
*.swp
/thirdparty/node_modules/
