*~
/booking/migrations/0*.py
/booking/migrations/*_auto_*
dist
*.egg-info
/.idea/
install.log
*.komodoproject
/local-*
/locale/**/*.mo
/media/
/profile/migrations/0*.py
/profile/migrations/*_auto_*
*.pyc
python-env
/resource_booking/local_saml_settings.py
/resource_booking/local_settings.py
/resource_booking/saml/*.crt
/resource_booking/saml/*.key
/resource_booking/saml/*.pem
.ropeproject
*.sqlite3
/static/
*.swp
/thirdparty/node_modules/
/cron.log

