{% extends 'index.html' %}
{% load i18n %}

{% block htmltitle %} - {% trans "slet kalenderbegivenhed" %}{% endblock %}

{% block content %}

    <div class="divider"></div>

    <h1>{% trans 'Slet kalender begivenhed' %}</h1>
    <hr/>

    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans 'Er du sikker på at du vil slette denne kalenderbegivenhed?' %}</p>
        <div class="divider"></div>
        <button type="submit" class="btn btn-primary">{% trans 'Ja' %}</button>
        <a class="btn btn-default" href="{% if oncancel %}{{ oncancel }}{% else %}javascript:history.back(){% endif %}">{% trans 'Nej' %}</a>
    </form>

{% endblock %}
