{% extends "index.html" %}
{% block content %}
    <div class="divider"></div>
    <h1>Samtykkeerklæring</h1>
    <div class="divider"></div>
    <p>Vi har brug for at opbevare visse oplysninger om dig for at kunne behandle og besvare din forespørgsel. Det drejer sig om dit navn, email og telefonnummer samt evt. oplysninger om din skole. Personoplysninger skal alene indtastes i de felter, hvor de efterspørges. Vi opbevarer disse oplysninger i op til 2 år efter din henvendelse eller dit besøg, derefter sletter vi oplysningerne fra vores system. Du skal ikke skrive personoplysninger i fritekstfeltet til kommentarer, da vi ikke har mulighed for at filtrere personoplysninger fra dette felt efterfølgende.</p>

    <p>Vi bruger oplysningerne i forbindelse med planlægning af dit besøg, samt til at sende mails til dig om besøget. Efter dit besøg vil vi bede dig udfylde en evaluering af os. I den forbindelse overfører vi dit navn til vores evalueringssystem. Dine data slettes/anonymiseres fra evalueringssystemet efter nogen tid. Vi benytter ikke dine oplysninger til andre formål end de her angivne.</p>

    <p>Du kan til enhver tid trække dit samtykke tilbage og få slettet dine oplysninger ved henvendelse til Københavns Universitet.</p>
{% endblock %}