{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="da">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>foKUs{% block htmltitle %} - {% trans 'søg i tilbud' %}{% endblock %}</title>

        <!-- 3rd party stylesheets -->
        <link href="{% static 'thirdparty/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Our own stylesheet -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <!-- Our own header content -->
        {% block head %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/jsi18n/"></script>
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">

    </head>
    <body class="{% if view.kwargs.embed %}embedded{% endif %}">

    {% if not view.kwargs.embed %}
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.ku.dk/" title="{% trans 'Københavns Universitet' %}"><img src="http://cms.ku.dk/grafik/globalmenu/navnetraek_DK_neg.svg" alt="Københavns Universitet"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                        <li class="login"><a href="{% url 'logout' %}">{% trans 'Log ud' %}</a></li>
                        {% else %}
                        <li class="login"><a href="{% url 'standard_login' %}">{% trans 'Log ind' %}</a></li>
                    {% endif %}
                        <li><a href="http://kalender.ku.dk">{% trans 'Kalender' %}</a></li>
                        <li><a href="http://findvej.ku.dk">{% trans 'Find vej' %}</a></li>
                        <li><a href="http://www.ku.dk/vejviser/">{% trans 'Telefonbog' %}</a></li>
                        <li><a href="http://jobportal.ku.dk/">{% trans 'Job' %}</a></li>
                        <li><a href="http://velkommen.ku.dk/indeks/">{% trans 'A-Å-indeks' %}</a></li>
                        <li><a href="https://intranet.ku.dk/">{% trans 'KUnet' %}</a></li>
                        <li class="global-sprog"><a href="http://research.ku.dk/" class="english">English</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if user.is_authenticated %}
        <div class="container personal-bar" style="height: auto; max-height: 30px;">
            <ul class="list-inline">
                <li class="home"><a href="{% url 'user_profile' %}">{% trans 'Min side' %}</a></li>
                {% if user.userprofile.is_administrator %}
                <li><a href="{% url 'admin:index' %}">{% trans 'Avanceret' %}</a></li>
                {% endif %}
                {% if view.kwargs.can_be_embedded %}
                <li><a href="{% url 'embedcodes' view.request.get_full_path|slice:"1:" %}">{% trans 'Indlejr side' %}</a></li>
                {% endif %}
                <li class="pull-right">
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </span>{% trans 'Log ud' %}
                    </a>
                </li>
                <li class="pull-right">
                    {% trans 'Du er logget ind som' %}
                    <a href="{% url 'user_edit' request.user.pk %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ user.get_full_name }}
                        ({{user.userprofile.user_role.name }})
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}

        <div class="container-fluid grey-line hidden-xs"></div>
        <div class="container grey-sides">
            <div class="row">
                <div id="branding-images" class="clearfix">
                    <div id="logo">
                        <a href="http://www.ku.dk" title="{% trans 'Københavns Universitet' %}">
                            <img src="{% static 'img/faelles.gif' %}" height="87" width="65" alt="{% trans 'Københavns Universitet' %}">
                        </a>
                    </div>
                    <div id="branding-title">
                        <a href="{% url 'index' %}" title="{% trans 'Velkommen til Københavns Universitet' %}">
                            <h2>{% trans 'foKUs' %}</h2>
                            <p>{% trans 'Portal for skole- og gymnasieområdet' %}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% endif %}

    <div class="container grey-sides content-container">

    {% block content %}
    {% endblock %}

    </div>

    {% if not view.kwargs.embed %}
    {% block footer %}
    <footer id="footer">
      <div class="container-fluid globalfooter">
        <div class="container">
          <div class="row footercontent" role="menubar">
            <div class="col-xs-3 footercolumn">
              <h3 data-heading="toggle" class="footer-heading hidden-xs">Københavns Universitet</h3>
              <h3 data-heading="toggle" class="footer-heading visible-xs-block">Organisation</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a href="http://velkommen.ku.dk/organisation/ledelse">Ledelse</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/organisation/administration">Administration</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/organisation/fakulteter">Fakulteter</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/organisation/institutter">Institutter</a></li>
                <li role="menuitem"><a href="http://forskning.ku.dk/centre">Forskningscentre</a></li>
                <li role="menuitem"><a href="http://vetschool.ku.dk/om/VetOmDyrehospitaler">Dyrehospitaler</a></li>
                <li role="menuitem"><a href="http://odont.ku.dk/for_patienter">Tandlægeskolen</a></li>
                <li role="menuitem"><a href="http://kubis.ku.dk">Biblioteker</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/besoeg/museer">Museer</a></li>
              </ul>
            </div>
            <div class="col-xs-3 footercolumn">
              <h3 data-heading="toggle" class="footer-heading">Kontakt</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a href="http://findvej.ku.dk">Find vej</a></li>
                <li role="menuitem"><a href="http://ku.dk/vejviser">Find en medarbejder</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/kontakt">Kontakt KU</a></li>
              </ul>
              <h3 data-heading="toggle" class="footer-heading">Services</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a href="http://nyheder.ku.dk/presseservice">Presseservice</a></li>
                <li role="menuitem"><a href="http://designguide.ku.dk">Designguide</a></li>
                <li role="menuitem"><a href="http://ku-shop.dk">Merchandise</a></li>
                <li role="menuitem"><a href="http://it.ku.dk/kontakt/support_KU">IT-support</a></li>
                <li role="menuitem"><a href="http://oko.ku.dk">CVR, EAN og bankoplysninger</a></li>
              </ul>
            </div>
            <div class="col-xs-3 footercolumn">
              <h3 data-heading="toggle" class="footer-heading">For studerende og ansatte</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a class="padlock" href="http://intranet.ku.dk">KUnet</a></li>
              </ul>
              <h3 data-heading="toggle" class="footer-heading">Job og karriere</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a href="http://jobportal.ku.dk">Jobportalen</a></li>
                <li role="menuitem"><a href="http://mangfoldighed.ku.dk">Mangfoldighed</a></li>
                <li role="menuitem"><a href="http://alumni.ku.dk">Alumne</a></li>
              </ul>
              <h3 data-heading="toggle" class="footer-heading">Nødsituationer</h3>
              <ul class="footerlinks">
                <li role="menuitem"><a href="http://akut.ku.dk">KU's sikkerhedsberedskab</a></li>
              </ul>
            </div>
            <div class="col-xs-3 footercolumn">
              <h3 data-heading="toggle" class="footer-heading">Web</h3>
              <ul class="footerlinks" role="menu">
                <li role="menuitem"><a href="http://velkommen.ku.dk/om-webstedet">Om websitet</a></li>
                <li role="menuitem"><a href="http://velkommen.ku.dk/om-webstedet/cookie-og-privatlivspolitik">Cookies og privatlivspolitik</a></li>
                <li role="menuitem"><a href="http://informationssikkerhed.ku.dk">Informationssikkerhed</a></li>
                <li><a href="http://velkommen.ku.dk/indeks">A-Å-indeks</a></li>
              </ul>
              <div class="social-items">
                <h3 data-heading="open" class="footer-heading">Mød KU på</h3>
                <div class="social-item">
                  <a target="_blank" href="https://www.facebook.com/universitet" class="social-icon facebook" title="Facebook"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="https://www.linkedin.com/edu/k%C3%B8benhavns-universitet-12012" class="social-icon linkedin" title="LinkedIn"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="http://velkommen.ku.dk/apps" class="social-icon app" title="KU Apps"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="http://nyheder.ku.dk/rss/" class="social-icon rss" title="RSS"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="https://twitter.com/koebenhavns_uni" class="social-icon twitter" title="Twitter"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="https://www.youtube.com/user/CopenhagenUniversity" class="social-icon youtube" title="YouTube"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="http://www.futurity.org/university/university-of-copenhagen" class="social-icon futurity" title="futurity"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="http://theconversation.com/institutions/university-of-copenhagen" class="social-icon the_conversation" title="The Conversation"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="https://www.coursera.org/ucph" class="social-icon coursera" title="Coursera"></a>
                </div>
                <div class="social-item">
                  <a target="_blank" href="http://video.ku.dk" class="social-icon ku_video" title="KU Videoportal"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
    {% endif %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'thirdparty/jquery/dist/jquery.min.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'thirdparty/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block extra_scripts %}{% endblock %}

    </body>
</html>
