{% load staticfiles %}
<!DOCTYPE html>
<html lang="da">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>foKUs{% block htmltitle %} - søg i tilbud{% endblock %}</title>
    
        <!-- Bootstrap -->
        <link href="{% static 'thirdparty/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Our own stylesheet -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <!-- Our own header content -->
        {% block head %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/jsi18n/"></script>
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
            
    </head>
    <body class="{% if view.kwargs.embed %}embedded{% endif %}">

    {% if not view.kwargs.embed %}
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.ku.dk/" title="Københavns Universitet"><img src="http://cms.ku.dk/grafik/globalmenu/navnetraek_DK_neg.svg" alt="Københavns Universitet"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="login"><a href="/profile/logout">Log ud</a></li>
                        {% else %}
                        <li class="login"><a href="/profile/login">Log ind</a></li>
                        {% endif %}
                        <li><a href="http://kalender.ku.dk">Kalender</a></li>
                        <li><a href="http://findvej.ku.dk">Find vej</a></li>
                        <li><a href="http://www.ku.dk/vejviser/">Telefonbog</a></li>
                        <li><a href="http://jobportal.ku.dk/">Job</a></li>
                        <li><a href="http://velkommen.ku.dk/indeks/">A-Å-indeks</a></li>
                        <li><a href="https://intranet.ku.dk/">KUnet</a></li>
                        <li class="global-sprog"><a href="http://research.ku.dk/" class="english">English</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% if user.is_authenticated %}
        <div class="container">
            <ul class="list-inline">
                <li><a href="/profile">Min side</a></li>
                <li><a href="{% url 'search' %}">Tilbud</a></li>
                <li><a href="{% url 'visit-occ-search' %}">Arrangementer</a></li>
                <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% if view.kwargs.can_be_embedded %}
                <li><a href="{% url 'embedcodes' view.request.get_full_path|slice:"1:" %}">Indlejr side</a></li>
                {% endif %}
                <li class="pull-right"><a href="/profile/logout">Log ud</a></li>
            </ul>
        </div>
        {% endif %}
        
        <div class="container-fluid grey-line hidden-xs"></div>
        <div class="container grey-sides">
            <div class="row">
                <div id="branding-images" class="clearfix">
                    <div id="logo">
                        <a href="http://www.ku.dk" title="Københavns Universitet">
                            <img src="{% static 'img/faelles.gif' %}" height="87" width="65" alt="Københavns Universitet">
                        </a>
                    </div>
                    <div id="branding-title">
                        <a href="{% url 'index' %}" title="Velkommen til Københavns Universitet">
                            <h2>foKUs</h2>
                            <p>Portal for skole- og gymnasieområdet</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% endif %}
        
    <div class="container grey-sides content-container">
        
    {% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
        <div class="divider"></div>
        <h1>Søg efter tilbud</h1>
        <div class="divider"></div>
            <form action="{% url 'search' %}">
            <h2 class="control-label">Tilbud rettet mod:</h2>
                <div class="input-group">
                    <label class="checkbox-inline control-label"><input type="checkbox" value="">Elev</label>
                    <label class="checkbox-inline control-label"><input type="checkbox" value="">Lærer</label>
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <label class="sr-only" for="searchBox">Søg efter tilbud</label>
                    <input type="text" class="form-control" id="searchBox" placeholder="Indtast et eller flere søgeord..." name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Søg  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>
        </div>
        </div>
        <hr>
    {% endblock %}
    
    </div>
        
    {% if not view.kwargs.embed %}
    {% block footer %}
    <div class="container">
        <div class="row">
            <footer>
                <div class="container">
                    <div class="row footer-columns">
                        <div class="col-sm-4 col-sm-offset-0">
                            <ul class="footerlinks">
                                <li><a href="http://kommunikation.ku.dk/">Kommunikation</a></li>
                                <li><a href="http://www.ku.dk/">Københavns Universitet</a></li>
                                <li>Nørregade 10, Postboks 2177</li>
                                <li>1017 København K</li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <ul class="footerlinks">
                                <li class="clearfix social-icons"><a target="_blank" class="footer-social" href="https://www.facebook.com/universitet"><span class="icon-circle"><i class="fa fa-facebook"></i></span></a><a target="_blank" class="footer-social" href="https://www.linkedin.com/edu/k%C3%B8benhavns-universitet-12012"><span class="icon-circle"><i class="fa fa-linkedin"></i></span></a><a target="_blank" class="footer-social" href="https://twitter.com/koebenhavns_uni"><span class="icon-circle"><i class="fa fa-twitter"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
    {% endif %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'thirdparty/jquery/dist/jquery.min.js' %}"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'thirdparty/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
    {% block extra_scripts %}{% endblock %}

    </body>
</html>
