{% load i18n %}
<dl>
    <dt>
        {% trans 'Senest opdaterede tilbud:' %}
    </dt>
    <dd>
        {% if latest_updated_resource %}
            <a href="{% url 'resource-view' latest_updated_resource.id %}">{{ latest_updated_resource }}</a>
        {% else %}
            {% trans 'Ingen tilbud fundet' %}
        {% endif %}
    </dd>
    <dt>
        {% trans 'Mest besøgte tilbud:' %}
    </dt>
    <dd>
        {% if most_visited_resource %}
            <a href="{% url 'resource-view' most_visited_resource.id %}">{{ most_visited_resource }}</a>
        {% else %}
            {% trans 'Ingen tilbud fundet' %}
        {% endif %}
    </dd>
    <dt>
        {% trans 'Senest bookede tilbud:' %}
    </dt>
    <dd>
        {% if latest_booked_visit %}
            <a href="{% url 'resource-view' latest_booked_visit.id %}">{{ latest_booked_visit }}</a>
        {% else %}
            {% trans 'Ingen tilbud fundet' %}
        {% endif %}
    </dd>
</dl>