{% load staticfiles %}
<!DOCTYPE html>
<html lang="da">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>foKUs{% block htmltitle %} - søg i tilbud{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'thirdparty/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Our own stylesheet -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Our own header content -->
    {% block head %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <script type="text/javascript" src="/jsi18n/"></script>
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">

</head>
<body class="lightbox">

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="divider"></div>
            <h1>Søg i tilbud</h1>
            <div class="divider"></div>
            <form action="{% url 'search' %}">
                <div class="input-group">
                    <label class="sr-only" for="searchBox">Søg efter tilbud</label>
                    <input type="text" class="form-control" id="searchBox" placeholder="Indtast et eller flere søgeord..." name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Søg  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'thirdparty/jquery/dist/jquery.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'thirdparty/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/modalframe-guest.js' %}"></script>
{% block extra_scripts %}{% endblock %}

</body>
</html>
