    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">For- og efternavn*</label>
        <div class="col-sm-3">
            <input type="text" required="" placeholder="Foravn" id="name" data-error="Udfyld fornavn" class="form-control input-sm">
        </div>
        <div class="col-sm-3">
            <input type="text" required="" placeholder="Efternavn" data-error="Udfyld efternavn" class="form-control input-sm">
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputEmail">Email*</label>
        <div class="col-sm-3">
            <input type="email" required="" placeholder="E-mail" id="inputEmail" data-error="Angiv gyldig e-mailadresse" class="form-control input-sm">
        </div>
        <div class="col-sm-3">
            <input type="email" required="" placeholder="Gentag e-mail" data-match="#inputEmail" data-error="E-mailadressen skal gentages korrekt" class="form-control input-sm">
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="tlf">Telefonnummer*</label>
        <div class="col-sm-6">
            <input type="tel" required="" placeholder="Telefonnummer" id="tlf" data-error="Angiv gyldig e-telefonnumer" pattern="^\d{8}" class="form-control input-sm">
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Gymnasium*</label>
        <div class="col-sm-6">
            <select required="" data-error="Vælg gymnasium" class="form-control input-sm">
                <option>Vælg gymnasium</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Gymnasie-uddannelse*</label>
        <div class="col-sm-6">
            <select required="" data-error="Vælg gymnasieuddannelse" class="form-control input-sm">
                <option>Vælg gymnasieuddannelse</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="tlf">Gymnasiets postnr. pg by*</label>
        <div class="col-sm-2">
            <input type="text" required="" placeholder="Postnummer" id="zip" data-error="Angiv gymnasiets postnummer" pattern="^\d{4}" class="form-control input-sm">
        </div>
        <div class="col-sm-4">
            <input type="text" required="" placeholder="By hvori Gymnasiet ligger" data-error="Angiv by hvor Gymnasiet ligger" class="form-control input-sm">
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Region*</label>
        <div class="col-sm-6">
            <select required="" data-error="Vælg region" class="form-control input-sm">
                <option>Vælg region</option>
                <option value="">Hovedstaden</option>
                <option value="">Midtjylland</option>
                <option value="">Nordjylland</option>
                <option value="">Sjælland</option>
                <option value="">Syddanmark</option>
            </select>
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="antal">Antal deltagere*</label>
        <div class="col-sm-6">
            <input type="text" required="" placeholder="Antal deltagere" id="antal" data-error="Angiv antal deltagere" class="form-control input-sm">
        </div>
        <div class="col-sm-3 help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="skole">Kommentarer</label>
        <div class="col-sm-6">
            <textarea rows="3" class="form-control input-sm"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2 padleft0">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button class="btn btn-default btn-circle" type="button">1</button>
                        <p>Trin 1</p>
                    </div>
                    <div class="stepwizard-step active">
                        <button class="btn btn-primary btn-circle" type="button">2</button>
                        <p>Trin 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <button disabled="disabled" class="btn btn-default btn-circle" type="button">3</button>
                        <p>Trin 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>