{% extends 'lightbox-index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'thirdparty/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <form id="startbookingform" class="form-horizontal clearfix" data-toggle="validator" role="form" novalidate="true" method="POST">
        {% csrf_token %}

        {{ bookerform.non_field_errors }}
        {% include "booking/booker/basedata.html" %}
        {% include "booking/booker/school.html" %}
        {% include "booking/booker/location.html" %}

        <hr/>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="tlf">Antal Elever*</label>
            <div class="col-sm-6{% if bookingform.student_count.errors %} has-error{% endif %}">
                {{ bookingform.student_count }}
            </div>
            <div class="col-sm-3 help-block with-errors">
                {{ bookingform.student_count.errors }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="tlf">Antal Lærere*</label>
            <div class="col-sm-6{% if bookingform.teacher_count.errors %} has-error{% endif %}">
                {{ bookingform.teacher_count }}
            </div>
            <div class="col-sm-3 help-block with-errors">
                {{ bookingform.teacher_count.errors }}
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="tlf">Tidspunkt*</label>
            <div class="col-sm-6{% if bookingform.time.errors %} has-error{% endif %}">
                {{ bookingform.time }}
            </div>
            <div class="col-sm-3 help-block with-errors">
                {{ bookingform.time.errors }}
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="tlf">Rundvisning</label>
            <div class="col-sm-6{% if bookingform.tour_desired.errors %} has-error{% endif %}">
                {{ bookingform.tour_desired }}
            </div>
            <div class="col-sm-3 help-block with-errors">
                {{ bookingform.tour_desired.errors }}
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="skole">Kommentarer</label>
            <div class="col-sm-6{% if bookingform.notes.errors %} has-error{% endif %}">
                {{ bookingform.notes }}
            </div>
            <div class="col-sm-3 help-block with-errors">
                {{ bookingform.notes.errors }}
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>




{% endblock %}

{% block extra_scripts %}


    {% include 'booking/booker/location_script.html' %}
    {% include 'booking/booker/school_script.html' %}

    <script type="text/javascript" src="{% static 'thirdparty/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            // See doc at http://www.malot.fr/bootstrap-datetimepicker/
            $("input[name=time]").datetimepicker({
                locale: 'da',
                autoclose: true
            });
        });
    </script>
{% endblock %}
