{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans 'tilmeld klassebesøg' %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    {% include 'booking/snippets/header.html' %}
    <div class="modal-body">
        <p>{% trans "Udfyld venligst nedenstående formular for at tilmelde dig et tilbud. Felter markeret med * er obligatoriske." %}</p>
        <div class="divider"></div>

        <form id="bookingform" class="form-horizontal clearfix" data-toggle="validator" role="form" novalidate="true" method="POST">
            {% csrf_token %}
            {{ bookerform.non_field_errors }}
            {% include "booking/fields/basedata.html" %}
            {% include "booking/fields/school.html" %}
            {% include "booking/fields/location.html" %}
            {% include "booking/fields/subjects2.html" %}
            {% include "booking/fields/time.html" %}
            {% include "booking/fields/attendees.html" %}
            {% include "booking/fields/services.html" %}
            {% include "booking/fields/notes.html" %}
        </form>

    </div>
    {% include 'booking/snippets/footer.html' %}


{% endblock %}

{% block extra_scripts %}
    
    {% include 'booking/fields/location_script.html' %}
    {% include 'booking/fields/school_script.html' %}
    {% include "booking/fields/time_script.html" %}

    <script type="text/javascript"><!--
    $(function(){
        $("#submitbutton").click(function(){
            $("#bookingform").submit();
        });
        $("#cancelbutton").click(function(){
            {% if back %}
                document.location = "{{ back }}";
            {% else %}
                history.back();
            {% endif %}
        });
    });
    //--></script>

    <script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>
    <script type="text/javascript"><!--
        $(function(){

            var extraGymRows = $("#gymnasiefag > div").not(":first");
            var extraGrundRows = $("#grundskolefag > div").not(":first");

            var mingleRow = function(row) {
                row.removeAttr("id");
                row.find("label").text(null);
                var adder = row.find(".rowadder");
                adder.addClass("rowremover");
                adder.removeClass("rowadder");
                adder.find("a").text('{% trans "Fjern" %}');
                adder.find("a").click(removeRowEvent);
            };

            mingleRow(extraGymRows);
            mingleRow(extraGrundRows);

            $(".rowadder a").click(function(){
                var newRow = formset.addRow(
                        $("#{{ subjectform.management_form.TOTAL_FORMS.id_for_label }}"),
                        $("#{{ subjectform.management_form.MAX_NUM_FORMS.id_for_label }}"),
                        $(this).closest(".rowprototype"),
                        $(this).closest(".rowcontainer")
                );
                mingleRow(newRow);
                modal.updateHeight();
                return false;
            });

            var removeRowEvent = function() {
                formset.removeRow(
                        "#{{ subjectform.management_form.TOTAL_FORMS.id_for_label }}",
                        $(this).parents(".form-group")
                );
                modal.updateHeight();
            };

            $(".rowremover a").click(removeRowEvent);
        });
    //--></script>
{% endblock %}
