{% extends 'lightbox-index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans 'tilmeld klassebesøg' %}{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    {% include 'booking/snippets/header.html' %}
    <div class="modal-body">
        <p>{% trans "Udfyld venligst nedenstående formular for at tilmelde dig et tilbud. Felter markeret med * er obligatoriske." %}</p>
        <div class="divider"></div>

        <form id="bookingform" class="form-horizontal clearfix" data-toggle="validator" role="form" novalidate="true" method="POST">
            {% csrf_token %}

            {% if bookerform.firstname.errors or bookerform.lastname.errors or bookerform.school.errors or bookerform.line.errors or bookerform.level.errors or bookerform.postcode.errors or bookerform.city.errors or bookerform.region.errors %}
                {% setvar "part1" as errorlocation %}
            {% elif bookingform.errors or gymnasiesubjectform.errors or grundskolesubjectform.errors %}
                {% setvar "part2" as errorlocation %}
            {% endif %}

            <div id="part1" class="formpart" data-prevbutton="cancelbutton"  data-nextbutton="nextbutton" data-next="part2" {% if errorlocation == "part1" %}data-first="true"{% endif %}>
                {{ bookerform.non_field_errors }}
                {% include "booking/fields/basedata.html" %}
                {% include "booking/fields/school.html" %}
                {% include "booking/fields/location.html" %}
            </div>

            <div id="part2" class="formpart" data-prevbutton="previousbutton" data-nextbutton="submitbutton" data-prev="part1" {% if errorlocation == "part2" %}data-first="true"{% endif %}>
                {{ bookingform.non_field_errors }}
                {% include "booking/fields/subjects2.html" %}
                {% include "booking/fields/time.html" %}
                {% include "booking/fields/attendees.html" %}
                {% include "booking/fields/services.html" %}
                {% include "booking/fields/notes.html" %}
            </div>

        </form>

    </div>
    {% include 'booking/snippets/footer.html' %}

{% endblock %}

{% block extra_scripts %}

    {% include 'booking/fields/location_script.html' %}
    {% include 'booking/fields/school_script.html' %}
    {% include "booking/fields/time_script.html" %}
    {% include 'booking/fields/subjects2_script.html' %}

    <script type="text/javascript"><!--
    $(function(){
        $("#submitbutton").click(function(){
            $("#bookingform").submit();
        });
    });
    //--></script>

{% endblock %}
