{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans 'tilmeld klassebesøg' %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    {% include 'booking/snippets/header.html' %}
    <div class="modal-body">
        <p>{% trans "Udfyld venligst nedenstående formular for at tilmelde dig et tilbud. Felter markeret med * er obligatoriske." %}</p>
        <div class="divider"></div>

        <form id="bookingform" class="form-horizontal clearfix" data-toggle="validator" role="form" novalidate="true" method="POST">
            {% csrf_token %}

            {{ bookerform.non_field_errors }}
            {% include "booking/fields/basedata.html" %}
            {% include "booking/fields/school.html" %}
            {% include "booking/fields/location.html" %}
            <div id="rowcontainer">
            {{ subjectform.management_form }}
            {% for form in subjectform %}
                {{ form.id }}
                <div class="form-group"{% if forloop.first %} id="rowprototype"{% endif %}>
                    <label class="col-sm-2 control-label" for="{{ form.subject.id_for_label }}">{% trans "Fag/Niveau" %}</label>
                    <div class="col-sm-4">
                        {{ form.subject }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.level }}
                    </div>
                    <div class="col-sm-2 rowadder">
                        <a href="javascript:void()" id="addRow">{% trans "Tilføj ny" %}</a>
                    </div>
                </div>
            {% endfor %}
            </div>

            {% include "booking/fields/time.html" %}

            {% include "booking/fields/attendees.html" %}

            {% if bookingform.tour_desired %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ bookingform.tour_desired.id_for_label }}">{% trans "Rundvisning" %}</label>
                <div class="col-sm-6{% if bookingform.tour_desired.errors %} has-error{% endif %}">
                    {{ bookingform.tour_desired }}
                </div>
                <div class="col-sm-3 help-block with-errors">
                    {{ bookingform.tour_desired.errors }}
                </div>
            </div>
            {% endif %}

            {% if bookingform.notes %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ bookingform.notes.id_for_label }}">{% trans "Kommentarer" %}</label>
                <div class="col-sm-6{% if bookingform.notes.errors %} has-error{% endif %}">
                    {{ bookingform.notes }}
                </div>
                <div class="col-sm-3 help-block with-errors">
                    {{ bookingform.notes.errors }}
                </div>
            </div>
            {% endif %}

        </form>

    </div>
    {% include 'booking/snippets/footer.html' %}


{% endblock %}

{% block extra_scripts %}
    
    {% include 'booking/fields/location_script.html' %}
    {% include 'booking/fields/school_script.html' %}
    {% include "booking/fields/time_script.html" %}

    <script type="text/javascript"><!--
    $(function(){
        $("#submitbutton").click(function(){
            $("#bookingform").submit();
        });
        $("#cancelbutton").click(function(){
            {% if back %}
                document.location = "{{ back }}";
            {% else %}
                history.back();
            {% endif %}
        });
    });
    //--></script>

    <script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>
    <script type="text/javascript"><!--
        $(function(){

            var extraRows = $("#rowcontainer > div").not(":first");

            var mingleRow = function(row) {
                row.removeAttr("id");
                row.find("label").text(null);
                var adder = row.find(".rowadder");
                adder.addClass("rowremover");
                adder.removeClass("rowadder");
                adder.find("a").text('{% trans "Fjern" %}');
                adder.find("a").click(removeRowEvent);
            };

            mingleRow(extraRows);

            $(".rowadder a").click(function(){
                var newRow = formset.addRow(
                        $("#{{ subjectform.management_form.TOTAL_FORMS.id_for_label }}"),
                        $("#{{ subjectform.management_form.MAX_NUM_FORMS.id_for_label }}"),
                        $("#rowprototype"),
                        $("#rowcontainer")
                );
                mingleRow(newRow);
                modal.updateHeight();
                return false;
            });

            var removeRowEvent = function() {
                formset.removeRow(
                        "#{{ subjectform.management_form.TOTAL_FORMS.id_for_label }}",
                        $(this).parents(".form-group")
                );
                modal.updateHeight();
            };

            $(".rowremover a").click(removeRowEvent);
        });
    //--></script>
{% endblock %}
