{% extends 'index.html' %}
{% load staticfiles %}
{% load booking_tags %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.visitoccurrence.visit.title }} - {{ object.visitoccurrence.date_display }} - {% blocktrans with id=object.id %}Booking #{{ id }}{% endblocktrans %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h1>{% blocktrans with id=object.id %}Booking #{{ id }}{% endblocktrans %}</h1>
        </div>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
        
            <div class="panel panel-default">
                <div class="panel-body">
                    {% url 'visit-view' object.visitoccurrence.visit.id as visiturl %}
                    {% url 'visit-occ-view' object.visitoccurrence.id as occurrenceurl %}
                    {% blocktrans with firstname=object.booker.firstname lastname=object.booker.lastname visittitle=object.visit.title occurrencetime=object.visitoccurrence.start_datetime %}
                        <strong>{{ firstname }} {{ lastname }}</strong> har booket <a href="{{ visiturl }}">{{ visittitle }}</a> med afvikling <a href="{{ occurrenceurl }}">{{ occurrencetime }}</a>
                    {% endblocktrans %}
                </div>
            </div>

            {% if can_notify %}
                <div class="pull-right dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="sendNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Send besked' %}
                        <span class="caret"/>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sendNotification">
                        <li><a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'booking-notify' object.pk %}">{% trans 'Ingen skabelon' %}</a></li>
                        {% if emailtemplates %}
                            <li role="separator" class="divider"></li>
                            {% for id, label in emailtemplates %}
                                <li>
                                    {% if modal %}
                                        <a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'booking-notify' object.pk %}?template={{ id }}">{{ label }}</a>
                                    {% else %}
                                        <a href="{% url 'booking-notify' object.pk %}?template={{ id }}&back={{ thisurl | urlencode }}">{{ label }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'emailtemplate-list' %}" target="_blank">{% trans 'Redigér skabeloner' %}</a></li>
                    </ul>
                </div>
            {% endif %}


            <h2>{% trans 'Information om bookingen' %}</h2>

            <dl class="dl-horizontal">

                <dt>{% trans 'Navn:' %}</dt>
                <dd>{{ object.booker.firstname }} {{ object.booker.lastname }}</dd>

                <dt>{% trans 'Email:' %}</dt>
                <dd>{{ object.booker.email }}</dd>

                <dt>{% trans 'Telefon:' %}</dt>
                <dd>{{ object.booker.phone }}</dd>

                <dt>{% trans 'Skole:' %}</dt>
                <dd>{{ object.booker.school.name }}, {{ object.booker.school.postcode.number }} {{ object.booker.school.postcode.city }}</dd>

                <dt>{% trans 'Retning:' %}</dt>
                <dd>
                    {{ object.booker.get_line_display }}
                </dd>

                {% if object.get_subjects %}
                <dt>{% trans 'Fag:' %}</dt>
                <dd>
                    <ul class="list-unstyled">
                        {% for fag in object.get_subjects %}
                        <li>{{ fag }}</li>
                        {% endfor %}
                    </ul>
                </dd>
                {% endif %}

                <dt>{% trans 'Niveau:' %}</dt>
                <dd>
                    {{ object.booker.get_level_display }}
                </dd>

                <dt>{% trans 'Antal deltagere:' %}</dt>
                <dd>{{ object.booker.attendee_count }}</dd>

                <dt>{% trans 'Noter:' %}</dt>
                <dd>{{ object.notes }}</dd>

                {% if object.classbooking %}
                    {% if object.classbooking.time %}
                        <dt>{% trans 'Tidspunkt:' %}</dt>
                        <dd>{{ object.classbooking.time }}</dd>
                    {% elif object.classbooking.desired_time %}
                        <dt>{% trans 'Ønsket tidspunkt:' %}</dt>
                        <dd>{{ object.classbooking.desired_time }}</dd>
                    {% endif %}

                    <dt>{% trans 'Rundvisning:' %}</dt>
                    <dd>{{ object.classbooking.tour_desired | yesno }}</dd>
                {% endif %}

            </dl>

            <div class="divider"></div>

            <div class="go-back">
                <a href="#" class="btn btn-default" onclick="history.go(-1); return false;"><span class="glyphicon glyphicon-chevron-left"></span> {% trans 'Tilbage til bookingliste' %}</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Detaljer om tilbuddet' %}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">

                            {% if object.visit.title %}
                                <dt>{% trans 'Titel:' %}</dt>
                                <dd><a href="{% url 'visit-view' object.visitoccurrence.visit.id %}">{{ object.visit.title }}</a></dd>
                            {% endif %}

                            {% if object.visitoccurrence.start_datetime %}
                                <dt>{% trans 'Tidspunkt:' %}</dt>
                                <dd><a href="{% url 'visit-occ-view' object.visitoccurrence.id %}">{{ object.visitoccurrence.start_datetime }}</a></dd>
                            {% endif %}

                            {% if object.visit.get_audience_display %}
                                <dt>{% trans 'Henvendt til:' %}</dt>
                                <dd>{{ object.visit.get_audience_display }}</dd>
                            {% endif %}

                            {% if object.visit.resource_ptr.all_subjects  %}
                                <dt>{% trans 'Fag/niveau:' %}</dt>
                                <dd>
                                    <ul class="type-offer list-inline">
                                        {% for x in object.visit.resource_ptr.all_subjects %}
                                            <li>{{ x.display_value }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}

                            {% if object.visit.num_of_participants_display %}
                                <dt>{% trans 'Max antal:' %}</dt>
                                <dd>{{ object.visit.num_of_participants_display }}</dd>
                            {% endif %}

                            {% if object.visit.get_type_display %}
                                <dt>{% trans 'Hvad:' %}</dt>
                                <dd>{{ object.visit.get_type_display }}</dd>
                            {% endif %}

                            {% if object.visit.locality %}
                                <dt>{% trans 'Hvor:' %}</dt>
                                <dd>
                                    {{ object.visit.locality.name }},<br/>
                                    {{ object.visit.locality.address_line }},<br/>
                                    {{ object.visit.locality.zip_city }}
                                </dd>
                            {% endif %}

                            <dt>{% trans 'Arrangør:' %}</dt>
                            <dd>
                                {% if object.visit.unit.url %}
                                    <a href="{{ object.visit.unit.url }}" target="_blank">
                                {% endif %}
                                <strong>{{ object.visit.unit.name }}</strong>
                                {% if object.visit.unit.url %}
                                    </a> <span class="glyphicon glyphicon-new-window"></span>
                                {% endif %}
                            </dd>

                            <dt>{% trans 'Udbudte tider:' %}</dt>
                            <dd>
                                {% for description in object.visit.recurrences_description %}
                                    {{ description }}
                                {% endfor %}
                                <ul class="list-unstyled">
                                    {% for occurrence in object.visit.visitoccurrence_set.all %}
                                        <li>{{ occurrence.start_datetime|date:'d-m-Y H:i' }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>

                            {% if object.visit.duration and object.visit.duration != '00:00' %}
                                <dt>{% trans 'Varighed:' %}</dt>
                                <dd>{{ object.visit.duration|timedelta_i18n }}</dd>
                            {% endif %}

                            {% if object.visit.price %}
                                <dt>{% trans 'Pris:' %}</dt>
                                <dd>{{ object.visit.price }}</dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>

                {% include 'common/map.html' with locality=object.visit.locality %}
            </form>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="/static/js/custom.js"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
{% endblock %}
