{% extends 'lightbox-index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'thirdparty/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <form id="startbookingform" class="form-horizontal clearfix" data-toggle="validator" role="form" novalidate="true" method="POST">
        {% csrf_token %}

        {{ bookerform.non_field_errors }}
        {% include "booking/booker/basedata.html" %}
        {% include "booking/booker/school.html" %}
        {% include "booking/booker/location.html" %}
        {% include "booking/booker/notes.html" %}

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2 padleft0">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button class="btn btn-default btn-circle" type="button">1</button>
                            <p>Trin 1</p>
                        </div>
                        <div class="stepwizard-step active">
                            <button class="btn btn-primary btn-circle" type="button">2</button>
                            <p>Trin 2</p>
                        </div>
                        <div class="stepwizard-step">
                            <button disabled="disabled" class="btn btn-default btn-circle" type="button">3</button>
                            <p>Trin 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>




{% endblock %}

{% block extra_scripts %}

    {% include 'booking/booker/location_script.html' %}
    {% include 'booking/booker/school_script.html' %}

{% endblock %}
