{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans 'tilmelding oprettet' %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="modal-body">
        <p>{% trans "Tak for din booking! Du hører fra os snarest." %}</p>
    </div>

    <div class="modal-footer">
        <p class="text-center">
            {% trans "Bemærk venligst at aftalen først er bindende, når du har modtaget en bekræftelse<br />fra den arrangør på Københavns Universitet, der er ansvarlig for besøget." %}
        </p>
        {% if back %}
            <a href="{{ back }}" class="btn btn-primary">{% trans "OK" %}</a>
        {% endif %}
    </div>

{% endblock %}
