{% load i18n %}
<div class="col-sm-4">
    <div class="panel panel-bookings">
        <div class="panel-heading {{ list.color }}">
            <h3 class="panel-title">
                {% if list.title.link %}
                    <a href="{{ list.title.link }}">{{ list.title.text }}</a>
                {% else %}
                    {{ list.title }}
                {% endif %}
            </h3>
            {% if list.button %}
                <a href="{{ list.button.link }}" class="column-show-all">{{ list.button.text }}</a>
            {% endif %}
        </div>
        <div class="panel-body" data-list-item=".list-group-item">

            {% if list.type == 'VisitOccurrence' %}
                {% for occurrence in list.limited_qs|default:list.queryset %}
                    <div class="list-group-item clearfix">
                        {{ occurrence.dateduff }}
                        <a href="{% url 'visit-occ-view' occurrence.pk %}" title="{% trans 'Se arrangementets detaljer' %}">
                            <h2 class="list-group-item-heading">{{ occurrence.visit.title }}</h2>
                            <div class="list-group-item-text">
                                <ul>
                                    <li>#{{ occurrence.pk }}</li>
                                    <li>
                                        {% blocktrans with date=occurrence.start_datetime|date:"d. m. Y" time=occurrence.start_datetime|date:"H:i" %}Dato/tid: {{ date }} kl. {{ time }}{% endblocktrans %}
                                    </li>
                                    <li>{% trans 'Antal tilmeldte:' %} {{ occurrence.nr_attendees }}</li>
                                </ul>
                            </div>
                        </a>
                        <div class="tools">
                            <a class="new-signups pull-left" title="{% trans 'Antal nye tilmeldinger' %}" href="{% url 'visit-occ-view' occurrence.pk %}">
                                {% trans 'Nye tilmeldinger' %}
                                <span class="no-of-new-signups">({{ occurrence.bookings.count }})</span>
                            </a>
                            <div class="pull-right">
                                <ul class="list-unstyled">
                                    {% if occurrence.needs_teachers %}
                                        <li>{% blocktrans count needed=occurrence.needed_teachers %}Mangler {{ needed }} underviser{% plural %}Mangler {{ needed }} undervisere{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if occurrence.needs_hosts %}
                                        <li>{% blocktrans count needed=occurrence.needed_hosts %}Mangler {{ needed }} vært{% plural %}Mangler {{ needed }} værter{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if occurrence.needs_room %}
                                        <li>{% blocktrans with count=1 %}Mangler lokale{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if occurrence.comments %}
                                        <li>{% trans 'Kommentar:' %} {{ occurrence.comments }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <span class="label label-{{ occurrence.get_workflow_status_class }} pull-right">{{ occurrence.get_workflow_status_display }}</span>
                        </div>
                    </div>
                {% endfor %}

            {% elif list.type == 'Resource' %}
                {% for res in list.limited_qs|default:list.queryset %}
                    <div class="list-group-item clearfix">
                        <a href="{% url 'resource-view' res.pk %}" title="{% trans 'Se tilbuddets detaljer og evt. tilmeldinger' %}">
                            <h2 class="list-group-item-heading">{{ res.title }}</h2>
                            <div class="list-group-item-text">
                                <ul>
                                    <li>#{{res.pk}}</li>
                                    <li>{% trans 'Type:' %} {{ res.get_type_display }}</li>
                                    {% if res.get_occurrences|length %}
                                        <li>
                                            {% trans 'Dato/tid:' %}
                                            <span class="type-offer">
                                                {% if res.get_occurrences|length == 1 %}
                                                    {{ res.first_occurence.start_datetime|date:"d. m. Y" }}
                                                    {% blocktrans with time=res.first_occurence.start_datetime|date:"H:i" %}kl. {{ time }}{% endblocktrans %}
                                                {% else %}
                                                    {% blocktrans with count=res.get_occurrences|length date=res.first_occurence.start_datetime|date:"d. m. Y" time=res.first_occurence.start_datetime|date:"H:i" %}
                                                        {{ count }} mulige tidspunkter, første gang {{ date }} kl. {{ time }}
                                                    {% endblocktrans %}
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endif %}
                                    {%if res.display_locality %}
                                        <li>{% trans 'Hvor:' %} {{ res.display_locality }}</li>
                                    {% endif %}
                                    <li>{% trans 'Oprettet: ' %} {{ res.statistics.created_time }}</li>
                                    <li>{% trans 'Opdateret: ' %} {{ res.statistics.updated_time }}</li>
                                </ul>
                            </div>
                        </a>
                        <div class="tools">
                            {% if user.userprofile.has_edit_role %}
                                <span class="edit-tools pull-left">
                                    <a href="{% url 'resource-edit' res.pk %}">{% trans 'Rediger' %}</a> |
                                    <a href="{% url 'resource-clone' res.pk %}">{% trans 'Kopiér' %}</a>
                                </span>
                            {% endif %}
                            <span class="label label-{{ res.get_state_class }} pull-right">{{ res.get_state_display }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>