{% load i18n %}
{% load booking_tags %}
<div class="col-sm-6">
    <div class="panel panel-bookings">
        <div class="panel-heading {{ list.color }}">
            <h3 class="panel-title">
                {% if list.title.link %}
                    {{ list.title.text }}
                {% else %}
                    {{ list.title }}
                {% endif %}
            </h3>
            {% if list.button %}
                <a href="{{ list.button.link }}" class="column-show-all">{{ list.button.text }}</a>
            {% endif %}
        </div>
        <div class="panel-body" data-list-item=".list-group-item">

            {% if list.type == 'Visit' %}
                {% for visit in list.limited_qs|default:list.queryset %}
                    <div class="list-group-item clearfix">
                        <a href="{% url 'visit-view' visit.real.pk %}" title="{% trans 'Se arrangementets detaljer' %}">
                            <h2 class="list-group-item-heading">
                                {{ visit.real.display_title|capfirst }}
                            </h2>

                            <div class="list-group-item-text">
                                <ul>
                                    <li>
                                        {% blocktrans with date=visit.real.display_value %}Dato/tid: {{ date }}{% endblocktrans %}
                                    </li>
                                    <li>{% trans 'Antal tilmeldte:' %} {{ visit.real.nr_attendees }}</li>
                                    {% if request.user.userprofile.has_edit_role and visit.real.has_changes_after_planned %}
                                    <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans 'Nylige ændringer'%}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </a>
                        <div class="tools">
                            <a class="new-signups pull-left" title="{% trans 'Antal tilmeldinger' %}" href="{% url 'visit-view' visit.real.pk %}">
                                {% trans 'Tilmeldinger' %}
                                <span class="no-of-new-signups">({{ visit.real.bookings.count }})</span>
                            </a>
                            <div class="pull-right">
                                <ul class="list-unstyled">
                                    {% if visit.real.needs_teachers %}
                                        <li>{% blocktrans count needed=visit.real.needed_teachers %}Mangler {{ needed }} underviser{% plural %}Mangler {{ needed }} undervisere{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if visit.real.needs_hosts %}
                                        <li>{% blocktrans count needed=visit.real.needed_hosts %}Mangler {{ needed }} vært{% plural %}Mangler {{ needed }} værter{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if visit.real.needs_room %}
                                        <li>{% blocktrans with count=1 %}Mangler lokale{% endblocktrans %}</li>
                                    {% endif %}
                                    {% if visit.real.comments %}
                                        <li>{% trans 'Kommentar:' %} {{ visit.real.comments }}</li>
                                    {% endif %}
                                    {% if visit.real.nr_waiting > 0 %}
                                        <li>{% trans 'Antal på venteliste:' %} {{ visit.real.nr_waiting }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <span class="label label-{{ visit.real.get_workflow_status_class }} pull-right">{{ visit.real.get_workflow_status_display }}</span>
                        </div>
                    </div>
                {% endfor %}

            {% elif list.type == 'Product' %}
                {% for res in list.limited_qs|default:list.queryset %}
                    <div class="list-group-item clearfix">
                        <a href="{% url 'product-view' res.pk %}" title="{% trans 'Se tilbuddets detaljer og evt. tilmeldinger' %}">
                            <h2 class="list-group-item-heading">{{ res.title }}</h2>
                            <div class="list-group-item-text">
                                <ul>
                                    <li>
                                        {% trans 'Type:' %}
                                        {{ res.get_type_display }}
                                    </li>

                                    {% if res.is_guest_time_suggested %}
                                        <li>
                                            {% trans 'Dato/tid:' %}
                                            {% trans 'Foreslå selv tidspunkt' %}
                                        </li>
                                    {% else %}
                                        <li>
                                            {% trans 'Dato/tid:' %}
                                            {% if res.future_bookable_times|length == 0 %}
                                                {% trans 'Alt optaget' %}
                                            {% elif res.future_bookable_times|length == 1 %}
                                                {{ res.future_bookable_times.first.interval_display }}
                                            {% else %}
                                                {% blocktrans with count=res.future_bookable_times|length interval=res.future_bookable_times.first.interval_display %}
                                                    {{ count }} mulige tidspunkter, første gang {{ interval }}
                                                {% endblocktrans %}
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    {% if res.display_locality %}
                                        <li>
                                            {% trans 'Hvor:' %}
                                            {{ res.display_locality }}
                                        </li>
                                    {% endif %}

                                    {% if res.price %}
                                        <li>
                                            {% trans 'Pris:' %}
                                            <span class="type-offer">{{ res.price }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </a>
                        <div class="tools">
                            {% if user.userprofile.has_edit_role %}
                                <span class="edit-tools pull-left">
                                    <a href="{% url 'product-edit' res.pk %}">{% trans 'Rediger' %}</a> |
                                    <a href="{% url 'product-clone' res.pk %}">{% trans 'Kopiér' %}</a>
                                </span>
                            {% endif %}
                            <span class="label label-{{ res.get_state_class }} pull-right">{{ res.get_state_display }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>