{% extends "index.html" %}
{% load i18n %}

{% block content %}
    <div class="divider"></div>

    <h1>{% trans "Ret i 'Mine tilbud'" %}</h1>

    <div class="divider"></div>

    <div class="row">
        <div class="col-sm-12">
            <form name="editmyresourcesform" id="editmyresourcesform"
                action="{% url 'my-resources' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-success btn-sm" type="submit" value="Opdatér" name="confirm" />
                <input class="btn btn-danger btn-sm" type="submit" value="Annullér" name="cancel" />
            </form>
        </div>
    </div>
{% endblock %}
