{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="/static/css/personlig-side.css">
{% endblock %}

{% block htmltitle %} - {% trans 'personlig side' %}{% endblock %}

{% block content %}

<div class="divider"></div>
    <h1>{% trans 'Velkommen' %} {{user.username}}</h1>
    
    <div class="divider"></div>
    
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans 'Personlig side' %}</h2>
            <p>{% trans 'Du er logget ind som' %} {{user.userprofile.user_role.name}}.</p>
            {% if user.userprofile.unit.name %}
                <p>{% trans 'Din enhed' %}: {{ user.userprofile.unit.name }}</p>
            {% endif %}
            <p>{% trans 'På denne side kan du se en oversigt over dine tilbud, hvilke der har tilmeldinger, og hvilke der er under planlægning.' %}</p>
            {% if request.user.userprofile.is_teacher %}
            <p>
                {% blocktrans %}Som underviser har du mulighed for at angive hvornår du kan undervise{% endblocktrans %}.<br />
            </p>
            <p>
                <a href="{% url 'teacher-availability-edit' %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér mulige undervisningstidspunkter' %}</a>
                <a href="{% url 'teacher-availability' request.user.userprofile.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Se dato-oversigt for undervisning' %}</a>
            </p>
            {% endif %}
            <div class="divider"></div>
        </div>
        <div class="col-sm-3">
            <div class="list-group admin-links">
                {% if request.user.userprofile.can_create %}
                    <a class="list-group-item" href="{% url 'visit-occ-search' %}" style="float: left">
                        <h4 class="list-group-item-heading">{% trans 'Søg i besøg' %}</h4>
                        <p class="list-group-item-text">{% trans 'Søg i besøg der ligger i systemet.' %}</p>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-group admin-links">
                {% if request.user.userprofile.can_create %}
                    <a class="list-group-item" href="{% url 'search' %}" style="float: left">
                        <h4 class="list-group-item-heading">{% trans 'Søg i tilbud' %}</h4>
                        <p class="list-group-item-text">{% trans 'Søg i tilbud der ligger i systemet.' %}</p>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            {% if request.user.userprofile.can_create %}
                <div class="text-right">
                    <a href="{% url 'resource-create' %}?back={{ thisurl | urlencode }}" class="btn btn-primary margin-bottom-5">{% trans '+ Opret tilbud' %}</a>
                    <a href="#adminblock" class="btn btn-primary margin-bottom-5" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="adminblock">{% trans 'Administration' %} <span class="glyphicon glyphicon-cog"></span> </a>
                </div>
                <div class="collapse list-group admin-links" id="adminblock">
                    <a class="list-group-item" href="{% url 'user_list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér brugere' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Brugere er personer der har en adgang til backend i dette bookingmodul. Her kan du oprette, slette og redigere brugere.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'emailtemplate-list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér emailskabeloner' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Opret og redigér overordnede e-mails.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'admin:booking_locality_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér lokaliteter' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'En lokalitet er en fysisk adresse, fx det sted hvor et besøg skal afholdes, her kan du redigere lokaliteter.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'admin:booking_person_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér kontaktpersoner' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Kontaktpersoner er personer, der har ikke adgang til backend i dette bookingmodul. De kan udelukkende svare på henvendelser via e-mail fx fra en gæst, når de er blevet oprettet som kontaktpersoner ved oprettelsen af et tilbud.' %}"></span>
                        </h4>
                    </a>
                    {% if request.user.userprofile.can_edit_units %}
                        <a class="list-group-item" href="{% url 'admin:booking_unit_changelist' %}">
                            <h4 class="list-group-item-heading">
                                {% trans 'Administrér enheder' %}
                                <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'En enhed er et administrativt område fx et fakultet eller institut, her kan du redigere enheder.' %}"></span>
                            </h4>
                        </a>
                    {% endif %}
                    <a class="list-group-item" href="{% url 'evaluations' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Overblik over evalueringer' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her kan du se et overblik over besøg med tilknyttede evalueringer.' %}"></span>
                        </h4>
                    </a>
                    {% if not "disabled by: not yet implemented" %}
                        <a class="list-group-item" href="{% url 'user_list' %}">
                            <h4 class="list-group-item-heading">
                                {% trans 'Statistik' %}
                                <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her har du adgang til at trække statistik på tilbud og tilmeldinger.' %}"></span>
                            </h4>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if not "slået fra indtil videre, genindføres måske i en senere fase" %}
    <div class="divider"></div>
    <h2>{% trans 'Søg i tilbud og tilmeldinger' %}</h2>
    <div class="row">
        <div class="col-sm-12">
            <div id="filter-panel" class="filter-panel">
                <div class="panel panel-default search-offers">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="input-group">
                                <label class="control-label" for="pref-search">{% trans 'Fritekstsøgning fx. ID-nummer, skole, navn:' %}</label>
                                <input type="text" class="form-control input-sm" id="pref-search" placeholder="{% trans 'Indtast søgeord eller ID-nummer...' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button">{% trans 'Søg' %}</button>
                                </span>
                            </div>
                            <div class="input-group">
                                <label class="control-label" for="pref-filters">{% trans 'Vælg søgefilter:' %}</label>
                                <select id="pref-filters" class="form-control input-sm">
                                    <option value="2">------------</option>
                                    <option value="2">{% trans 'Dagens tilbud' %}</option>
                                    <option value="2">{% trans '7 dage frem' %}</option>
                                    <option value="2">{% trans 'Mine tilbud' %}</option>
                                    <option value="2">{% trans 'Mine 10 senest oprettede tilbud' %}</option>
                                    <option value="2">{% trans 'Enhedens tilbud' %}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label class="control-label" for="pref-orderby">{% trans 'Filtrér på status:' %}</label>
                                <select id="pref-orderby" class="form-control input-sm">
                                    <option value="">------------</option>
                                    <option value="2">{% trans 'Publicerede' %}</option>
                                    <option value="2">{% trans 'Ikke publicerede' %}</option>
                                    <option value="2">{% trans 'Kladder' %}</option>
                                    <option value="2">{% trans 'Afventer' %}</option>
                                    <option value="2">{% trans 'Planlagte' %}</option>
                                    <option value="2">{% trans 'Afviklede' %}</option>
                                    <option value="2">{% trans 'Aflyst' %}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="divider"></div>

    {% for list in lists %}
        {% cycle True False False as beginRow silent %}
        {% cycle False False True as endRow silent %}
        {% if beginRow or forloop.first %}
            <div class="row eq-height listcontainer">
        {% endif %}
        {% include 'profile/item_list.html' with list=list %}
        {% if endRow or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    
    <!-- Modal delete booking -->
    <div class="modal fade deleteBooking" tabindex="-1" role="dialog" aria-labelledby="SletBooking">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="SletBooking">{% trans 'Er du sikker?' %}</h4>
          </div>
          <div class="modal-body">
           <p>{% trans 'Du er ved at slette tilmeldingen "Magnetisme og elektroner". Hvis du vil fortsætte og slette denne tilmelding, klik på knappen "Slet denne tilmelding".' %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Annullér' %}</button>
            <button type="button" class="btn btn-primary">{% trans 'Slet denne tilmelding' %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal delete booking end -->
    
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/pager.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}
