{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="/static/css/personlig-side.css">
{% endblock %}

{% block htmltitle %} - {% trans 'personlig side' %}{% endblock %}

{% block content %}

    <div class="clearfix" style="margin: 2em 0 1em;">
        <div class="pull-left">
            <h1>{% trans 'Velkommen' %} {{user.username}}</h1>
            <p class="text-muted">{% trans 'Du er logget ind som' %} {{user.userprofile.user_role.name}} {% if user.userprofile.organizationalunit.name %}fra {{ user.userprofile.organizationalunit.name }}{% endif %}</p>
        </div>
        <div class="pull-right">
            {% if request.user.userprofile.can_create %}
                <div class="text-right">
                    <a href="{% url 'product-create' %}?back={{ request.get_full_path | urlencode }}" class="btn btn-primary margin-bottom-5">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {% trans 'Opret tilbud' %}
                    </a>
                    <a href="#adminblock" class="btn btn-default margin-bottom-5" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="adminblock">{% trans 'Administration' %} <span class="glyphicon glyphicon-cog"></span> </a>
                </div>
                <div class="collapse list-group admin-links" id="adminblock">
                    <a class="list-group-item" href="{% url 'user_list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér brugere' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Brugere er personer der har en adgang til backend i dette bookingmodul. Her kan du oprette, slette og redigere brugere.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'emailtemplate-list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér e-mailskabeloner' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Opret og redigér overordnede e-mails.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'admin:booking_locality_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér lokaliteter' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'En lokalitet er en fysisk adresse, fx det sted hvor et besøg skal afholdes, her kan du redigere lokaliteter.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'admin:booking_room_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér lokaler' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Et lokale er et fysisk lokale placeret på en lokalitet, her kan du redigere lokaler.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'admin:booking_roomresponsible_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér lokaleansvarlige' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Lokaleansvarlige er personer eller mailbokse der kan kontaktes for booking af lokaler.' %}"></span>
                        </h4>
                    </a>
                    {% if request.user.userprofile.can_edit_units %}
                        <a class="list-group-item" href="{% url 'admin:booking_organizationalunit_changelist' %}">
                            <h4 class="list-group-item-heading">
                                {% trans 'Administrér enheder' %}
                                <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'En enhed er et administrativt område fx et fakultet eller institut, her kan du redigere enheder.' %}"></span>
                            </h4>
                        </a>
                    {% endif %}
                    {% if request.user.userprofile.can_edit_product %}
                        <a class="list-group-item" href="{% url 'admin:booking_product_changelist' %}">
                            <h4 class="list-group-item-heading">
                                {% trans 'Administrér tilbud' %}
                                <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Et tilbud er et arrangement som foregår på et eller flere tidspunkter.' %}"></span>
                            </h4>
                        </a>
                    {% endif %}
                    {% if request.user.userprofile.can_edit_visit %}
                        <a class="list-group-item" href="{% url 'admin:booking_visit_changelist' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér besøg' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Et besøg er en instans af et arrangement, og foregår på ét tidspunkt.' %}"></span>
                        </h4>
                    </a>
                    {% endif %}
                    <a class="list-group-item" href="{% url 'resource-list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér ressourcer' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Opret og redigér ressourcer som kan tildeles besøg.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'resourcepool-list' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Administrér ressourcegrupper' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Opret og redigér ressourcegrupper som tilbud kan behøve.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'evaluations' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Overblik over evalueringer' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her kan du se et overblik over besøg med tilknyttede evalueringer.' %}"></span>
                        </h4>
                    </a>
                    <a class="list-group-item" href="{% url 'statistics' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Statistik' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her kan du som administrator eller koordinator se statistik over tilmeldinger under de enheder, som du har rettigheder til at administrere.' %}"></span>
                        </h4>
                    </a>
                    {% if not "disabled by: not yet implemented" %}
                        <a class="list-group-item" href="{% url 'user_list' %}">
                            <h4 class="list-group-item-heading">
                                {% trans 'Statistik' %}
                                <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her har du adgang til at trække statistik på tilbud og tilmeldinger.' %}"></span>
                            </h4>
                        </a>
                    {% endif %}
                    <a class="list-group-item" href="{% url 'evaluation-statistics' %}">
                        <h4 class="list-group-item-heading">
                            {% trans 'Evalueringer' %}
                            <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="right" title="{% trans 'Her kan du se statistik over evalueringer' %}"></span>
                        </h4>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if request.user.userprofile.is_teacher %}
            <p>
                {% trans 'Som underviser har du mulighed for at angive hvornår du kan undervise.' %}<br />
            </p>
            <p>
                {% if request.user.userprofile.get_resource.calendar %}
                <a href="{% url 'calendar' request.user.userprofile.get_resource.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér mulige undervisningstidspunkter' %}</a>
                {% else %}
                <a href="{% url 'calendar-create' request.user.userprofile.get_resource.pk %}" role="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {% trans 'Opret kalender' %}
                </a>
                {% endif %}
                <a href="{% url 'availability' request.user.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Se datoer for besøg' %}</a>
                <a href="{% url 'user_edit' request.user.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Opdater profil' %}</a>
            </p>
            {% elif request.user.userprofile.is_host %}
            <p>
                {% trans 'Som vært har du mulighed for at angive hvornår du kan deltage i besøg.' %}<br />
            </p>
            <p>
                {% if request.user.userprofile.get_resource.calendar %}
                <a href="{% url 'calendar' request.user.userprofile.get_resource.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér mulige tidspunkter' %}</a>
                {% else %}
                <a href="{% url 'calendar-create' request.user.userprofile.get_resource.pk %}" role="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {% trans 'Opret kalender' %}
                </a>
                {% endif %}
                <a href="{% url 'availability' request.user.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Se datoer for besøg' %}</a>
                <a href="{% url 'user_edit' request.user.pk %}" role="button" class="btn btn-default btn-xs">{% trans 'Opdater profil' %}</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
                {% if request.user.userprofile.can_create %}
                    <a class="btn btn-default margin-right-10 margin-bottom-5" href="{% url 'search' %}">
                        {% trans 'Søg i tilbud' %} <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                {% endif %}
                {% if request.user.userprofile.can_create %}
                    <a class="btn btn-default margin-right-10 margin-bottom-5" href="{% url 'visit-search' %}">
                        {% trans 'Søg i besøg' %} <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                {% endif %}
        </div>
        <div class="col-xs-12 col-sm-8">
            {% if autoassign_failed.visits.count > 0 %}
                <a href="{% url 'visit-search' %}?w={{ autoassign_failed.status_id }}" class="text-danger" target="_blank">
                    {% if autoassign_failed.products.count == 1 %}
                        {% blocktrans with productname=autoassign_failed.products.first.title %}
                            OBS: {{ productname }} har besøg der mangler ressourcer
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with visitcount=autoassign_failed.visits.count status=autoassign_failed.status_name %}
                            OBS: Du har {{ visitcount }} besøg med status {{ status }}
                        {% endblocktrans %}
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </div>
<div class="divider"></div>
    {% if not "slået fra indtil videre, genindføres måske i en senere fase" %}
    <h2>{% trans 'Søg i tilbud og tilmeldinger' %}</h2>
    <div class="row">
        <div class="col-sm-12">
            <div id="filter-panel" class="filter-panel">
                <div class="panel panel-default search-offers">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="input-group">
                                <label class="control-label" for="pref-search">{% trans 'Fritekstsøgning fx. ID-nummer, skole, navn:' %}</label>
                                <input type="text" class="form-control input-sm" id="pref-search" placeholder="{% trans 'Indtast søgeord eller ID-nummer...' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm" type="button">{% trans 'Søg' %}</button>
                                </span>
                            </div>
                            <div class="input-group">
                                <label class="control-label" for="pref-filters">{% trans 'Vælg søgefilter:' %}</label>
                                <select id="pref-filters" class="form-control input-sm">
                                    <option value="2">------------</option>
                                    <option value="2">{% trans 'Dagens tilbud' %}</option>
                                    <option value="2">{% trans '7 dage frem' %}</option>
                                    <option value="2">{% trans 'Mine tilbud' %}</option>
                                    <option value="2">{% trans 'Mine 10 senest oprettede tilbud' %}</option>
                                    <option value="2">{% trans 'Enhedens tilbud' %}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label class="control-label" for="pref-orderby">{% trans 'Filtrér på status:' %}</label>
                                <select id="pref-orderby" class="form-control input-sm">
                                    <option value="">------------</option>
                                    <option value="2">{% trans 'Publicerede' %}</option>
                                    <option value="2">{% trans 'Ikke publicerede' %}</option>
                                    <option value="2">{% trans 'Kladder' %}</option>
                                    <option value="2">{% trans 'Afventer' %}</option>
                                    <option value="2">{% trans 'Planlagte' %}</option>
                                    <option value="2">{% trans 'Afviklede' %}</option>
                                    <option value="2">{% trans 'Aflyst' %}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% for list in lists %}
        {% cycle True False False as beginRow silent %}
        {% cycle False False True as endRow silent %}
        {% if beginRow or forloop.first %}
            <div class="row eq-height listcontainer">
        {% endif %}
        {% include 'profile/item_list.html' with list=list %}
        {% if endRow or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}

    <!-- Modal delete booking -->
    <div class="modal fade deleteBooking" tabindex="-1" role="dialog" aria-labelledby="SletBooking">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="SletBooking">{% trans 'Er du sikker?' %}</h4>
          </div>
          <div class="modal-body">
           <p>{% trans 'Du er ved at slette tilmeldingen "Magnetisme og elektroner". Hvis du vil fortsætte og slette denne tilmelding, klik på knappen "Slet denne tilmelding".' %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Annullér' %}</button>
            <button type="button" class="btn btn-primary">{% trans 'Slet denne tilmelding' %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal delete booking end -->

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/pager.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}
