{% extends "index.html" %}
{% load i18n %}

{% block htmltitle %} -
    {% trans 'Administrér brugere' %}
{% endblock %}

{% block content %}
    {% include 'common/breadcrumbrow.html' %}

    <h1>{% trans 'Administrér brugere' %}</h1>

    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-12" id="admin-input">
            <a href="{% url 'user_create' %}" class="btn btn-primary btn-tiny">{% trans 'Opret ny bruger' %}</a>
            <div class="divider"></div>
            <h2>{% trans 'Filtrér brugerliste' %}</h2>
            
            <form class="form-horizontal" name="filteruserlist" id="filteruserlist">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Enhed:' %}</label>
                    <div class="col-sm-5">
                        <select name="unit">
                            <option value="">-- {% trans 'Vælg enhed' %} --</option>
                            {% for val, name in possible_units %}
                            <option value="{{ val }}"{% if selected_unit == val %}selected=" selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Rolle:' %}</label>
                    <div class="col-sm-5">
                        <select name="role">
                            <option value="">-- {% trans 'Vælg rolle' %} --</option>
                            {% for val, name in possible_roles %}
                            <option value="{{ val }}"{% if selected_role == val %}selected=" selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Søg i navn:' %}</label>
                    <div class="col-sm-5">
                        <input type="text" name="q" value="{{ request.GET.q }}" />
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-2 padleft5">
                    <input class="btn btn-primary" type="submit" value="Søg" />
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <ul class="list-unstyled">
                {% for user in users %}
                <li class="media">
                    <dl class="dl-horizontal">
                        <dt>{% trans 'Navn:' %}</dt>
                        <dd>
                            {{ user }}
                            <a href="{% url 'user_edit' user.pk %}">{% trans 'Redigér' %}</a>
                        </dd>
                        <dt>{% trans 'Email:' %}</dt>
                        <dd>{{ user.email }}</dd>
                        <dt>{% trans 'Enhed:' %}</dt>
                        <dd>{{ user.userprofile.unit.name }}</dd>
                        <dt>{% trans 'Rolle:' %}</dt>
                        <dd>{{ user.userprofile.get_role_name }}</dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="divider"></div>

{% endblock %}
