{% extends 'index.html' %}
{% load tz %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "Opret tidspunkter for" %} '{{ product.title }}'{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
{% endblock %}


{% block content %}
    {% timezone "Europe/Copenhagen" %}
    <div class="divider"></div>
    <h1>
        {% trans "Opret tidspunkter for" %}
        '<a href="{% url 'product-view' product.pk %}">{{ product.title }}</a>'
    </h1>

    <div class="divider"></div>

    <div class="col-md-12">
        <form action="{% url 'times-from-rules' product.pk %}" id="create-time-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="step" value="1" />

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="input-start">{% trans 'Startdato' %}:</label>
                </div>
                <div class="col-sm-7">
                    <input id="input-start" name="start" type="text" class="form-control" placeholder="{% trans 'Dato' %}" value="{% now "d.m.Y" %}">
                </div>
                <div class="col-sm-3 with-errors">
                </div>
            </div>

            <div class="row form-group time-inputs">
                <div class="col-sm-2">
                    <label for="input-start">{% trans 'Tidspunkt og varighed' %}:</label>
                </div>
                <div class="col-sm-7 form-inline">
                    <div class="input-daterange" style="margin-top: 0;">

                        <label for="{{ form.start_time.id_for_label }}">{% trans 'Fra' %}:</label>
                        <div class="input-group clockpicker">
                            <input class="form-control input-sm" id="{{ form.start_time.id_for_label }}" name="{{ form.start_time.name }}" type="text" value="{{ form.start_time.value }}" size="5">
                            <span class="input-group-addon" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span></span>
                        </div>

                        <label for="{{ form.end_time.id_for_label }}">{% trans 'til' %}:</label>
                        <div class="input-group clockpicker">
                            <input class="form-control input-sm" id="{{ form.end_time.id_for_label }}" name="{{ form.end_time.name }}" type="text" value="{{ form.end_time.value }}" size="5">
                            <span class="input-group-addon" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                        {% trans 'plus' %}
                        {{ form.extra_days }}
                        <label for="{{ form.extra_days.id_for_label }}">{% trans 'hele dage' %}.</label>


                    </div>
                    {% if product.duration_in_minutes %}
                    <div>
                        {% blocktrans with durationspec=product.duration_display %}
                        Tilbuddets varighed er angivet til {{ durationspec }}.
                        {% endblocktrans %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-3 with-errors">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="input-frequency">{% trans 'Gentagelse' %}:</label>
                </div>
                <div class="col-sm-7 checkbox" id="input-weekdays">
                    <p>
                        <strong>{% trans 'Gentages' %}</strong>
                        <select name="input-frequency" id="input-frequency" style="display: inline; width: auto;">
                            <option value="weekly">{% trans 'ugentligt' %}</option>
                            <option value="montly">{% trans 'månedligt' %}</option>
                            <option value="trimonthly">{% trans 'hver 3. måned' %}</option>
                            <option value="halfyearly">{% trans 'halvårligt' %}</option>
                            <option value="yearly">{% trans 'årligt' %}</option>
                        </select>
                        <strong>{% trans 'på' %}:</strong>
                    </p>
                    <label><input id="input-weekdays-mon" type="checkbox" name="RRule.MO"> {% trans 'Mandage' %}</label>
                    <label><input id="input-weekdays-tue" type="checkbox" name="RRule.TU"> {% trans 'Tirsdage' %}</label>
                    <label><input id="input-weekdays-wed" type="checkbox" name="RRule.WE"> {% trans 'Onsdage' %}</label>
                    <label><input id="input-weekdays-thu" type="checkbox" name="RRule.TH"> {% trans 'Torsdage' %}</label>
                    <label><input id="input-weekdays-fri" type="checkbox" name="RRule.FR"> {% trans 'Fredage' %}</label>
                    <label><input id="input-weekdays-sat" type="checkbox" name="RRule.SA"> {% trans 'Lørdage' %}</label>
                    <label><input id="input-weekdays-sun" type="checkbox" name="RRule.SU"> {% trans 'Søndage' %}</label>
                </div>
                <div class="col-sm-3 with-errors"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="input-until">{% trans 'Sluttidspunkt' %}:</label>
                </div>
                <div class="col-sm-7 checkbox">
                    {% trans 'På dato' %}
                    <input id="input-until" name="until" type="text" class="form-control" placeholder="{% trans 'Dato' %}">
                    <label class="label-unstyled" for="input-count">eller efter <input id="input-count" name="count" type="text" class="form-control" placeholder="0" value="1"> forekomster</label>
                </div>
            </div>

           <div id="rruleOutput">
                <div class="row form-group">
                    <div class="col-sm-2">
                        <p><strong>{% trans 'Valgte datoer/tidspunkter' %}:</strong></p>
                    </div>
                    <div class="col-sm-7 checkbox" id="input-weekdays">
                        <ul class="rrule-datelist list-unstyled">
                        </ul>
                    </div>
                    <div class="col-sm-3 with-errors"></div>
                </div>
            </div>

            <div>
                <input class="btn btn-success" type="submit" value="{% trans 'Opret tidspunkter' %}" role="button" />
                <a href="{% url 'manage-times' product.pk %}" role="button" class="btn btn-danger">{% trans 'Annullér' %}</a>
            </div>
        </form>
    </div>
    {% endtimezone %}
{% endblock %}

{% block extra_scripts %}
{% include 'eventtime/create_from_rules_script.html' %}
{% endblock %}
