{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %}
    -
    {% trans 'Administrér tidspunkter for' %}
    "{{ object.title }}"
    ({{ object.get_type_display }})
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <h1>
        {% trans 'Administrér tidspunkter for' %}
        "{{ object.title }}"
        ({{ object.get_type_display }})
    </h1>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'delete-times' product.pk %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="submit" role="button" class="btn btn-primary" value="{% trans 'Slet markerede' %}">
                    <a href="{% url 'create-time' product.pk %}" role="button" class="btn btn-primary">{% trans 'Opret nyt tidspunkt' %}</a>
                    <a href="{% url 'times-from-rules' product.pk %}" role="button" class="btn btn-primary pull-right">{% trans 'Opret nye tidspunkter ud fra regler' %}</a>
                </div>
                {% if object.eventtime_set.all %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Dato</th>
                            <th>Antal tilmeldinger</th>
                            <th>Værter/undervisere tildelt</th>
                            <th>Besøg status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for eventtime in object.eventtime_set.all %}
                        <tr>
                            <td>
                                {% if eventtime.can_be_deleted %}
                                <input type="checkbox" name="selected_eventtimes" value="{{ eventtime.pk }}" />
                                {% endif %}
                            </td>
                            <td><a href="{% url 'edit-time' eventtime.product.pk eventtime.pk %}">{{ eventtime }}</a></td>
                            <td>{{ eventtime.number_of_bookings|default:"0" }} ({{ eventtime.number_of_attendees|default:"0" }})</td>
                            <td>{{ eventtime.number_of_teachers_and_hosts|default:"0" }}</td>
                            <td>
                                {% if eventtime.visit %}
                                <a href="{% url 'visit-view' eventtime.visit.pk %}">{{ eventtime.visit.get_status_display }}</a>
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    {% trans 'Der er ikke defineret nogen tidspunkter' %}
                </p>
                {% endif %}
            </form>
        </div>
    </div>

    </div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}
