{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %}
    -
    {% trans 'Administrér tidspunkter for' %}
    "{{ object.title }}"
    ({{ object.get_type_display }})
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <h1>
        {% trans 'Administrér tidspunkter for' %}
        '<a href="{% url 'product-view' object.pk %}">{{ object.title }}</a>'
        ({{ object.get_type_display }})
    </h1>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'delete-times' product.pk %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="submit" role="button" class="btn btn-default" value="{% trans 'Slet markerede' %}">
                    <a href="{% url 'create-time' product.pk %}" role="button" class="btn btn-default">{% trans 'Opret nyt tidspunkt' %}</a>
                    <a href="{% url 'times-from-rules' product.pk %}" role="button" class="btn btn-default pull-right">{% trans 'Opret nye tidspunkter ud fra regler' %}</a>
                </div>
                {% if object.eventtime_set.all %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tidspunkt</th>
                            <th>Antal tilmeldinger / gæster</th>
                            <th>Værter/undervisere tildelt</th>
                            {% if object.is_resource_controlled %}
                            <th>Ressourcer</th>
                            {% endif %}
                            <th>Besøg status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for eventtime in object.eventtime_set.all %}
                        <tr>
                            <td>
                                {% if eventtime.can_be_deleted %}
                                <input type="checkbox" name="selected_eventtimes" value="{{ eventtime.pk }}" />
                                {% endif %}
                            </td>
                            <td><a href="{% url 'edit-time' eventtime.product.pk eventtime.pk %}">{{ eventtime.interval_display }}</a></td>
                            <td>{{ eventtime.visit.booking_list|length }} / {{ eventtime.visit.nr_attendees|default:"0" }}</td>
                            <td>{{ eventtime.visit.assigned_hosts|length }} / {{ eventtime.visit.assigned_teachers|length }}</td>
                            {% if object.is_resource_controlled %}
                            <td>
                                {{ eventtime.resource_status_marker|safe }}
                            </td>
                            {% endif %}
                            <td>
                                {% if eventtime.visit %}
                                <a href="{% url 'visit-view' eventtime.visit.pk %}">
                                    <span class="btn btn-{{ eventtime.visit.get_workflow_status_class }} btn-xs">
                                        {{ eventtime.visit.get_workflow_status_display }}
                                    </span>
                                </a>
                                {% else %}
                                <span class="btn btn-info btn-xs">{% trans 'Ikke oprettet' %}</span> -
                                <a href="{{ eventtime.visit_link}}" class="btn btn-default btn-xs">
                                    {% trans 'Opret besøg' %}
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    {% trans 'Der er ikke defineret nogen tidspunkter' %}
                </p>
                {% endif %}
            </form>
        </div>
    </div>

    </div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}
