{% extends 'index.html' %}
{% load i18n %}

{% block htmltitle %} - {% trans "slet ressource" %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <h1>{% trans 'Slet ressource' %}</h1>

    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans 'Er du sikker på at du vil slette denne ressource?' %}</p>
        <p>{% trans 'Dette kan have indflydelse på eksisterende besøg, der benytter denne ressource, både dem der er under planlægning, og dem der er færdigplanlagte' %}</p>
        <dl class="dl-horizontal">
            <dt>{% trans 'Type' %}</dt>
            <dd>{{ object.resource_type }}</dd>
            <dt>{% trans 'Enhed' %}</dt>
            <dd>{{ object.organizationalunit.name }}</dd>
            <dt>{% trans 'Navn' %}</dt>
            <dd>{{ object.name }}</dd>
            <dt>{% trans 'Grupper' %}</dt>
            <dd>
                <ul class="list-unstyled">
                    {% for resourcepool in object.resourcepool_set.all %}
                        <li>
                            <a href="{% url 'resourcepool-view' resourcepool.id %}">{{ resourcepool.name }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% trans 'Ikke medlem af nogen grupper' %}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
        {% if object.resourcepool_set.count > 0 %}
            <p>{% trans 'Ressourcens grupper vil ikke blive slettet' %}</p>
        {% endif %}

        <div class="divider"></div>
        <button type="submit" class="btn btn-primary">{% trans 'Ja slet' %}</button>
        <a class="btn btn-default" href="{% if oncancel %}{{ oncancel }}{% else %}javascript:history.back(){% endif %}">{% trans 'Nej' %}</a>
    </form>

{% endblock %}
