{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.title }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="clearfix">
        <h1 class="pull-left">{{ object.get_name }}</h1>
        <div class="pull-right">
            <a href="{% url 'resource-edit' object.id %}?back={% url 'resource-view' object.id %}" role="button" class="btn btn-primary" role="button">{% trans 'Redigér' %}</a>
            {% if object.can_delete %}
                <a href="{% url 'resource-delete' object.id %}?back={% url 'resource-view' object.id %}" class="btn btn-danger" role="button">{% trans 'Slet ressourcen' %}</a>
            {% endif %}
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>{% trans 'Type' %}</dt>
        <dd>{{ object.resource_type }}</dd>
        <dt>{% trans 'Enhed' %}</dt>
        <dd>{{ object.organizationalunit.name }}</dd>
        <dt>{% trans 'Navn' %}</dt>
        <dd>{{ object.get_name }}</dd>
        <dt>{% trans 'Grupper' %}</dt>
        <dd>
            <ul class="list-unstyled">
                {% for resourcepool in object.resourcepool_set.all %}
                    <li>
                        <a href="{% url 'resourcepool-view' resourcepool.id %}">{{ resourcepool.name }}</a>
                    </li>
                {% empty %}
                    <li>
                        {% trans 'Ikke medlem af nogen grupper' %}
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>

    <div class="divider"></div>

    <div>
        {% if object.calendar %}
            <a href="{% url 'calendar' object.id %}" class="btn btn-primary" role="button">{% trans 'Rediger kalender for denne ressource' %}</a>
        {% else %}
            <p>
            {% blocktrans %}
                Denne ressource har ingen kalender tilknyttet og betragtes derfor som altid tilgængelig med mindre den bliver brugt til et besøg.
                Hvis du ønsker at styre tilgængeligheden af ressourcen via en kalender kan du klikke på knappen for at oprette en kalender for ressourcen.
            {% endblocktrans %}
            </p>
            <div class="divider"></div>
            <a href="{% url 'calendar-create' object.id %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {% trans 'Opret kalender for ressourcen' %}
            </a>
        {% endif %}
    </div>

    <div class="divider"></div>

{% endblock %}
