{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% if object.pk %}{% trans "rediger ressource" %}{% else %}{% trans "opret ressource" %}{% endif %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <h1>{% if object.pk %}{% trans "Rediger ressource" %}{% else %}{% trans "Opret ressource" %}{% endif %}</h1>

    <form id="resourceform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label for="{{ field.id_for_label }}" class="control-label">{% trans 'Type:' %}</label>
                    </div>
                    <div class="col-sm-7">
                        {{ object.resource_type }}
                        {% if object.resource_type.id == ResourceType.RESOURCE_TYPE_HOST %}
                            <a href="{% url 'user_edit' object.user.pk %}" class="btn btn-default btn-xs" role="button">{% trans 'Gå til redigering af vært' %}</a>
                        {% elif object.resource_type.id == ResourceType.RESOURCE_TYPE_TEACHER %}
                            <a href="{% url 'user_edit' object.user.pk %}" class="btn btn-default btn-xs" role="button">{% trans 'Gå til redigering af underviser' %}</a>
                        {% elif object.resource_type.id == ResourceType.RESOURCE_TYPE_ROOM %}
                            <a href="{% url 'admin:booking_room_change' object.room.pk %}" class="btn btn-default btn-xs" role="button">{% trans 'Gå til redigering af lokale' %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label class="control-label">{% trans 'Enhed:' %}</label>
                    </div>
                    <div class="col-sm-7">
                        {{ object.organizationalunit.name }}
                    </div>
                </div>
                {% include 'common/fields/generic_field.html' with field=form.name %}
                {% include 'common/fields/generic_field.html' with field=form.locality %}
                {% include 'resource/fields/resourcepools.html' %}
            </div>
        </div>

        {% include 'common/continue_cancel.html' %}
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
{% endblock %}
