{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}


{% block htmltitle %} - {% trans "ressourcer" %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="clearfix">
        <h1 class="pull-left">{% trans 'Ressourcer' %}</h1>
        <a href="{% url 'resourcepool-list' %}" role="button" class="btn btn-primary pull-right margin-left-10 margin-bottom-5-mobile">{% trans 'Administrér ressourcegrupper' %}</a>
        <a href="{% url 'resource-create' %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {% trans 'Opret ny ressource' %}
        </a>
    </div>

    <p class="margin-top-10 double-columns">
        {% blocktrans %}
            Ressourcer er enkelte objekter, personer eller lokaler, som kan anvendes under et besøg, og som kun kan anvendes af ét besøg ad gangen.<br/>
            Under planlægningen af et besøg udvælges de specifikke ressourcer, med henblik på at reservere disse til besøget.
        {% endblocktrans %}
    </p>

    <div class="row">
        <div class="col-md-12">
            <table id="ressource-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans 'Navn' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Enhed' %}</th>
                        <th>{% trans 'Grupper' %}</th>
                        <th>{% trans 'Handling' %}</th>
                    </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{% trans 'Navn' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Enhed' %}</th>
                    <th>{% trans 'Grupper' %}</th>
                    <th>{% trans 'Handling' %}</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for resource in resources %}
                    <tr>
                        <td>
                            <a href="{% url 'resource-view' resource.id %}">{{ resource.get_name }}</a>
                        </td>
                        <td>
                            {{ resource.resource_type.name }}
                        </td>
                        <td>
                            {{ resource.organizationalunit.name }}
                        </td>
                        <td>
                            {% for group in resource.group_preview %}
                                <a href="{% url 'resourcepool-view' group.group.id %}">{{ group.name }}</a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if resource.calendar %}
                                <a href="{% url 'calendar' resource.pk %}" role="button" class="btn btn-default btn-xs margin-bottom-5">{% trans 'Kalender' %}</a>
                            {% else %}
                                <a href="{% url 'calendar-create' resource.pk %}" role="button" class="btn btn-primary btn-xs margin-bottom-5">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    {% trans 'Opret kalender' %}
                                </a>
                            {% endif %}
                            <br>
                            <a href="{% url 'resource-edit' resource.id %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% if resource.can_delete %}
                                <a href="{% url 'resource-delete' resource.id %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-danger btn-xs">{% trans 'Slet' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            {% trans 'Ingen ressourcer' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                (Undervisere og lokaler kan ikke slettes herfra)
            </p>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  // Datatable language switcher
  function getLanguage() {
    var langMap = {
      en: 'English',
      da: 'Danish'
    };
    var lang = $('html').attr('lang');
    return '//cdn.datatables.net/plug-ins/1.10.13/i18n/' + langMap[lang] + '.json';
  }

  // DataTable
  var table = $('#ressource-table').DataTable({
    language: {
      url: getLanguage()
    },
    "dom": '<"listing"l>tip',
    ordering: true,
    autoWidth: false,
    responsive: true,
    initComplete: function() {
      // Apply the search
      table.columns().every(function() {
        var that = this;

        $('input', this.footer()).on('keyup change', function() {
          if (that.search() !== this.value) {
            that
              .search(this.value)
              .draw();
          }
        });
      });
    }
  });

  // Setup - add a text input to each footer cell
  $('#ressource-table tfoot th').each(function() {
    var title = $(this).text().toLowerCase();
    $(this).html('<input type="text" class="form-control input-sm ku-filters" placeholder="Søg i ' + title + '" />');
  });
});
</script>
{% endblock %}
