<form name="adminvisitsearch" id="adminvisitsearch" method="get"
      action="{% url 'search' %}">
    {% for name, value in form.hiddenfields %}
    <input class="hiddenfield" type="hidden"
           name="{{ name }}" value="{{ value }}" />
    {% endfor %}
    <h2>Filtrér søgning</h2>
    <dl class="dl-horizontal">
        <dt><label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label></dt>
        <dd>{{ form.q }}</dd>

        <dt>{{ form.s.label }}</dt>
        <dd>{{ form.s }}</dd>

        <dt>{{ form.e.label }}</dt>
        <dd>{{ form.e }}</dd>

        <dt>{{ form.v.label }}</dt>
        <dd>{{ form.v }}</dd>

        <dt>{{ form.b.label }}</dt>
        <dd>{{ form.b }}</dd>

        <dt>{{ form.u.label }}</dt>
        <dd>{{ form.u }}</dd>

        <dt>{{ form.from_date.label }}</dt>
        <dd>{{ form.from_date }}</dd>

        <dt>{{ form.to_date.label }}</dt>
        <dd>{{ form.to_date }}</dd>

        <dt></dt>
        <dd><input class="btn btn-primary" type="submit" value="Opdater" /></dd>
    </dl>
    
</form>
