{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}

{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% trans "Send email" %}</h1>
        </div>
    </div>
    <hr/>
    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data" autocomplete="off" id="emailform">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">

            <div class="panel panel-default">
                <div class="panel-body">

                    {% if form.name != None %}
                        <div class="row form-group">
                            <div>
                                {{ form.name.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.name.css_classes }}" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.email != None %}
                        <div class="row form-group">
                            <div>
                                {{ form.email.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.email.css_classes }}" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.email }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.phone != None %}
                        <div class="row form-group">
                            <div>
                                {{ form.phone.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.phone.css_classes }}" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.phone }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.recipients != None %}
                        <div class="row form-group">
                            <div>
                                {{ form.recipients.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.recipients.css_classes }}" for="{{ form.recipients.id_for_label }}">{{ form.recipients.label }}:</label>
                            </div>
                            <div id="recipients" class="col-sm-10">
                                <div id="recipient-groups">{% trans 'Tilføj:' %}&nbsp;</div>
                                <div id="recipient-list" class="email-recipients">
                                    {{ form.recipients }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if form.subject != None %}
                        <div class="row form-group">
                            <div>
                                {{ form.subject.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.subject.css_classes }}" for="{{ form.subject.id_for_label }}">{{ form.subject.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.subject }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row form-group">
                        <div>
                            {{ form.body.errors }}
                        </div>
                        <div class="col-sm-2">
                            <label class="{{ form.body.css_classes }}" for="{{ form.body.id_for_label }}">{{ form.body.label }}:</label>
                        </div>
                        <div class="col-sm-10">
                            {{ form.body }}
                        </div>
                    </div>

                    {% if template_key %}
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label>{% trans 'Skabeloner:' %}</label>
                            </div>
                            <div class="col-sm-10">
                                {% if templates %}
                                    {% for template in templates reversed %}
                                        <a href="{% url 'emailtemplate-view' template.id %}" class="
                                        {% if forloop.last %}template-selected{% else %}template-overridden{% endif %}
                                        ">{% if template.unit %}{{ template.unit.name }}{% else %}{% trans 'Rodskabelon' %}{% endif %}</a>
                                        {% if not forloop.last %} &gt; {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% trans 'Ingen skabeloner fundet' %}
                                    <a href="{% url 'emailtemplate-create' %}?unit={{ template_unit.id }}&key={{ template_key }}">{% trans 'Opret skabelon' %}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        {% include 'common/send_cancel.html' %}
        <div class="divider"></div>
    </form>


{% endblock %}

{% block extra_scripts %}
    {{ form.media }}

    {% if recp %}
    <script type="text/javascript">
        {% autoescape off %}
        <!--
            var recipients = {{ recp | jsonify }};
            var groupContainer = $("#recipient-groups");
            var recipientContainer = $("#recipient-list > ul");
            var emailRegex = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var customPrefix = "custom:";

            var addRecipient = function(value, text) {
                if (recipientContainer.find("input[value='"+value+"']").length == 0) {
                    var li = $("<li>"),
                        label = $("<label>"),
                        box = $("<input>");
                    li.append(label);
                    label.text(text);
                    label.prepend(box);
                    box.attr({
                        'type':'checkbox',
                        'name':'{{ form.recipients.name }}',
                        'id':'{{ form.recipients.name }}_' + value,
                        'checked':'checked',
                        'value':value
                    });
                    recipientContainer.append(li);
                }
            };

            var addGroup = function(groupName) {
                var items = recipients[groupName]['items'];
                for (var id in items) {
                    addRecipient(id, items[id]);
                }
            };

            for (var groupName in recipients) {
                var group = recipients[groupName];
                var label = group['label'];
                var button = $("<button>");
                button.text(label);
                button.attr({type:"button"});
                button.addClass("btn btn-default");
                groupContainer.append(button);
                button.click(addGroup.bind(null, groupName));
            }
            console.log(recipients);

            var custom = $("<input>");
            custom.attr({type:'email', placeholder:'{% trans 'Indtast email-adresse' %}'});
            custom.addClass("form-control");
            groupContainer.append(custom);
            custom.keydown(function(event){
                if (event.keyCode == 13) {
                    try {
                        var address = this.value;
                        if (emailRegex.test(address)) {
                            addRecipient(customPrefix + address, address);
                        }
                    } catch (e) {}
                    event.preventDefault();
                    return false;
                }
            });

            $("form#emailform").submit(function(){
                var address = custom.val();
                if (emailRegex.test(address)) {
                    addRecipient(customPrefix + address, address);
                }
            });

            var clear = $("<button>");
            clear.attr({type:"button"});
            clear.text("{% trans 'Ryd' %}")
            clear.addClass("btn btn-default");
            groupContainer.append(clear);
            clear.click(function(){
                recipientContainer.empty();
            });

        //-->
        {% endautoescape %}
    </script>
    {% endif %}
{% endblock %}