{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% if object.pk %}{% trans "Rediger emailskabelon" %}{% else %}{% trans "Ny emailskabelon" %}{% endif %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <a href="#" class="btn btn-default btn-sm openall">{% trans "Udvid alle felter" %}</a> <a href="#" class="btn btn-default btn-sm closeall">{% trans "Luk alle felter" %}</a>
        </div>
    </div>
    <hr/>
    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">

            {{ form.type }}

            <div class="panel panel-default">
                <div id="headingCategory" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="" aria-controls="collapseTitel" aria-expanded="false" href="#collapseTitel" data-parent="#accordion" data-toggle="collapse" role="button">{% trans "Name" %}</a><span class="caret"></span>
                    </h4>
                </div>
                <div id="collapseTitel" class="panel-collapse collapse
                {% if not form.errors or form.name.errors or form.name.errors %}in{% endif %}
                " aria-labelledby="headingCategory" role="tabpanel" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div>
                                {{ form.name.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.name.css_classes }}" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div>
                                {{ form.unit.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.unit.css_classes }}" for="{{ form.unit.id_for_label }}">{{ form.unit.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.unit }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                {% blocktrans %}
                                    Når en emailskabelon skal findes til et givet formål (f.eks. når en booking foretages), søges efter en skabelon med det rette navn (f.eks. "booking"). Først søges efter skabeloner associeret med det relevante institut, derefter skabeloner associeret med det relevante fakultet, og sidst efter skabeloner uden enhed tilknyttet. Den først fundne af disse skabeloner vil blive anvendt til udsendelse af email.
                                {% endblocktrans %}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div>
                                {{ form.subject.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.subject.css_classes }}" for="{{ form.subject.id_for_label }}">{{ form.subject.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div>
                                {{ form.body.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label class="{{ form.body.css_classes }}" for="{{ form.body.id_for_label }}">{{ form.body.label }}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ form.body }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include 'common/save_cancel.html' %}
        <div class="divider"></div>
    </form>


{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
{% endblock %}