{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block htmltitle %} - {% trans 'emailskabeloner' %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>{% trans "Emailskabeloner" %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <a href="{% url 'emailtemplate-create' %}" class="btn btn-primary">{% trans "Opret skabelon" %}</a>
        </div>
    </div>
    <hr/>

    <p>
        {% blocktrans %}
            Når der skal afsendes en email fra systemet, enten manuelt eller automatisk, tages der udgangspunkt i den skabelon som er relevant i den enkelte situation.
            Tilbud er tilknyttet enheder, og gennem tilbuddet er besøg og tilmeldinger også associeret med en enhed.
            Emailen tager således udgangspunkt i skabelonen for den relevante situation og den associerede enhed.
            Hvis der ikke findes en skabelon for enheden, ledes der i den overordnede enhed (f.eks. instituttets fakultet). Hvis der heller ikke findes en skabelon dér, anvendes Rod-skabelonen.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
            På denne måde kan der oprettes en Rod-skabelon for alle typer, og de enkelte fakulteter og institutter kan angive deres egne skabeloner hvis en anden tekst end Rod-skabelonen ønskes.
        {% endblocktrans %}
    </p>

    {% if duplicates %}
        <p class="text-warning">{% trans 'Advarsel: der er flere skabeloner med samme Type og Enhed. Kun én af disse vil komme i betragtning' %}</p>
    {% endif %}

    <table class="table table-striped sortable" data-sort-columns="0 1">
        <thead>
            <tr>
                <th class="col-sm-3 sort">
                    {% trans 'Type' %}
                </th>
                <th class="col-sm-4 sort">
                    {% trans 'Enhed' %}
                </th>
                <th class="col-sm-5">
                    {% trans 'Handlinger' %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr class="{% if object in duplicates %}warning{% endif %}">
                    <td class="col-sm-3">
                        {{ object.get_key_display }}
                    </td>
                    <td class="col-sm-4">
                        {% if object.unit %}
                            {{ object.unit.name }}
                        {% else %}
                            {% trans 'Grundskabelon' %}
                        {% endif %}
                    </td>
                    <td class="col-sm-5">
                        <a href="{% url 'emailtemplate-view' object.id %}">{% trans 'Preview' %}</a>
                        <a href="{% url 'emailtemplate-edit' object.id %}?back={{ thisurl | urlencode }}">{% trans 'Redigér' %}</a>
                        <a href="{% url 'emailtemplate-clone' object.id %}?back={{ thisurl | urlencode }}">{% trans 'Kopiér' %}</a>
                        <a href="{% url 'emailtemplate-delete' object.id %}?back={{ thisurl | urlencode }}">{% trans 'Slet' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'thirdparty/jquery-table-sort/jquery.table_sort.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort-table.js' %}"></script>
{% endblock %}
