{% load booking_tags %}
{% counter i %}
{% for key, value in map %}
        {% if value|type == 'str' %}
            <li><a href="javascript:{{ function }}('{{ value }}')">{{ key }}</a></li>
        {% elif value|type == 'list' %}
            <li class="dropdown-submenu" data-target="menu_{{ j }}_{{ i }}">
                <a tabindex="-1" href="javascript:void()">{{ key }}</a>
                <ul class="dropdown-menu" id="menu_{{ j }}_{{ i }}">
                    {% include 'email/modelfieldselect.html' with map=value function=function j=i only %}
                </ul>
            </li>
            {% counter i %}
        {% endif %}
{% endfor %}
