{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} -
    {% if template.organizationalunit %}
        {% blocktrans with templatename=template.name unitname=template.organizationalunit.name %}
            Preview emailskabelon '{{ templatename }}' for {{ unitname }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with templatename=template.name %}
            Preview emailskabelon '{{ templatename }}'
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-6">
            <h1>
                {% blocktrans with templatename=template.name %}
                    Preview emailskabelon '{{ templatename }}'
                {% endblocktrans %}
            </h1>
            {% if template.organizationalunit %}
                <dl class="dl-horizontal"><dt>{% trans 'Enhed:'%}</dt><dd>{{ template.organizationalunit.name }}</dd></dl>
            {% else %}
                {% trans 'Grundskabelon'%}
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            <a href="{% url 'emailtemplate-edit' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-primary">{% trans "Rediger skabelon" %}</a>
            <a href="{% url 'emailtemplate-clone' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-primary">{% trans "Kopier skabelon" %}</a>
            <a href="{% url 'emailtemplate-delete' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-danger">{% trans "Slet skabelon" %}</a>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            {% trans 'På denne side kan du afprøve skabelonens felter ved at definere en kontekst.' %}
        </div>
    </div>

    <form action="" id="previewForm" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        <div id="rowcontainer">
        {% for entry in form %}
            <div class="row form-group"{% if forloop.first %} id="rowprototype"{% endif %}>
                {{ entry.type }}
                <div class="col-sm-2">
                    <label class="control-label" for="{{ entry.value.id_for_label }}">{{ entry.key.value }}:</label>
                    {{ entry.key }}
                </div>
                <div class="col-sm-10">
                    {{ entry.value }}
                </div>
            </div>
        {% endfor %}
        </div>
    </form>

    {% if subject or body %}
        <div class="content-panel">
            {% if subject %}
                <h3>{% trans 'Beskedens emne' %}</h3>
                <blockquote id="subject">{{ subject }}</blockquote>
            {% endif %}
            {% if body %}
                <h3>{% trans 'Beskedens tekst' %}</h3>
                <blockquote id="body">
                    {% autoescape off %}
                    {{ body }}
                    {% endautoescape %}
                </blockquote>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>

    <script type="text/javascript">
        var url = "{{ request.get_full_path }}";
        var processingMessage = "{% trans 'Arbejder...' %}";
        var errorMessage = "{% trans 'Fejl' %}";
        {% autoescape off %}
        $(function(){
            var objects = {{ objects }};
            var typeClassMap = {'string': 'emailtemplate-type-string'};
            for (var type in objects) {
                typeClassMap[type] = 'emailtemplate-type-' + type;
            }
/*
            var replaceWidget = function(oldField, newType) {
                var newWidget = $("<"+newType+">");
                newWidget.attr({id: oldField.attr("id"), name: oldField.attr("name")});
                newWidget.addClass("form-control");
                oldField.replaceWith(newWidget);
                return newWidget;
            };
            */
/*
            var typeChanged = function(row, setValue){
                // When a type field is changed
                var type = row.find('.emailtemplate-type').val();
                var valueField = row.find('.emailtemplate-value');
                if (!valueField.hasClass(typeClassMap[type])) {
                    var oldValue = valueField.val(),
                        newWidget;
                    if (type == 'string') {
                        newWidget = replaceWidget(valueField, "input");
                    } else if (type in objects) {
                        newWidget = replaceWidget(valueField, "select");
                        var objectList = objects[type];
                        if (objectList.length) {
                            for (var i = 0; i < objectList.length; i++) {
                                var optionData = objectList[i];
                                var option = $("<option>");
                                option.val(optionData.value);
                                option.text(optionData.text);
                                newWidget.append(option);
                            }
                        }
                    }
                    if (newWidget) {
                        newWidget.addClass("emailtemplate-value " + typeClassMap[type]);
                        //if (setValue === true) {
                        //    newWidget.val(oldValue);
                        //}
                    }
                }
            };*/
/*
            var rowAdded = function(event, row, setValue){
                // When a new context row is added
                row = $(row);
                typeChanged(row, setValue);
            };
*/

            /*$("#rowcontainer").find(".row").each(function(){
                rowAdded(null, $(this), true);
            });
            $("#rowcontainer").on("addrow", rowAdded);*/

            var update = function() {
                $("#subject").text(processingMessage);
                $("#body").text(processingMessage);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#previewForm").serialize(),
                    dataType: "json",
                    success: function(data) {
                        $("#subject").text(data['subject']);
                        $("#body").html(data['body']);
                    },
                    error: function() {
                        $("#subject").text("Fejl i template");
                        $("#body").text("Fejl i template");
                    }
                });
            };

            $("#rowcontainer").change(update);
        });






        {% endautoescape %}
    </script>
{% endblock %}
