{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} -
    {% if template.organizationalunit %}
        {% blocktrans with templatename=template.name unitname=template.organizationalunit.name %}
            Preview emailskabelon '{{ templatename }}' for {{ unitname }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with templatename=template.name %}
            Preview emailskabelon '{{ templatename }}'
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-6">
            <h1>
                {% blocktrans with templatename=template.name %}
                    Preview emailskabelon '{{ templatename }}'
                {% endblocktrans %}
            </h1>
            {% if template.organizationalunit %}
                <dl class="dl-horizontal"><dt>{% trans 'Enhed:'%}</dt><dd>{{ template.organizationalunit.name }}</dd></dl>
            {% else %}
                {% trans 'Grundskabelon'%}
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            <a href="{% url 'emailtemplate-edit' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-primary">{% trans "Rediger skabelon" %}</a>
            <a href="{% url 'emailtemplate-clone' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-primary">{% trans "Kopier skabelon" %}</a>
            <a href="{% url 'emailtemplate-delete' template.id %}?back={{ request.get_full_path | urlencode }}" class="btn btn-danger">{% trans "Slet skabelon" %}</a>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            {% trans 'På denne side kan du afprøve skabelonens felter ved at definere en kontekst.' %}
        </div>
    </div>

    <form action="" id="previewForm" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        <div id="rowcontainer">
        {% for entry in form %}
            <div class="row form-group"{% if forloop.first %} id="rowprototype"{% endif %}>
                {{ entry.type }}
                <div class="col-sm-2">
                    <label class="control-label" for="{{ entry.value.id_for_label }}">{% trans entry.key.value|capfirst %}:</label>
                    {{ entry.key }}
                </div>
                <div class="col-sm-10">
                    {{ entry.value }}
                </div>
            </div>
        {% endfor %}
        </div>
    </form>

    {% for item in recipient_output %}
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
            {% if item.label %}
                <h3>Til {{ item.label }}</h3>
            {% endif %}
                <div class="panel-body">
                    {% if item.subject %}
                        <h3>{% trans 'Beskedens emne' %}</h3>
                        <blockquote id="{{ item.key }}_subject">{{ item.subject }}</blockquote>
                    {% endif %}
                    {% if item.body %}
                        <h3>{% trans 'Beskedens tekst' %}</h3>
                        <blockquote id="{{ item.key }}_body">
                            {% autoescape off %}
                                {{ item.body }}
                            {% endautoescape %}
                        </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>

    <script type="text/javascript">
        var url = "{{ request.get_full_path }}";
        var processingMessage = "{% trans 'Arbejder...' %}";
        var errorMessage = "{% trans 'Fejl i template' %}";
        var recipientTypes = [
        {% for item in recipient_output %}
            "{{ item.key }}",
        {% endfor %}
        ];
        {% autoescape off %}
        $(function(){
            var objects = {{ objects|jsonify }};
            var typeClassMap = {'string': 'emailtemplate-type-string'};
            for (var type in objects) {
                typeClassMap[type] = 'emailtemplate-type-' + type;
            }

            var form = $("#previewForm");
            var counter = form.find("#id_form-TOTAL_FORMS");
            var recipientFieldId = "id_form-" + counter.val() + "-";
            var recipientFieldName = "form-" + counter.val() + "-";
            var recipientTypeField = $("<input>").attr({id: recipientFieldId+"type", name:recipientFieldName+"type", type:"hidden"}).val("Recipient").appendTo(form);
            var recipientKeyField = $("<input>").attr({id: recipientFieldId+"key", name:recipientFieldName+"key", type:"hidden"}).val("recipient").appendTo(form);
            var recipientValueField = $("<input>").attr({id: recipientFieldId+"value", name:recipientFieldName+"value", type:"hidden"}).appendTo(form);
            counter.val(parseInt(counter.val(), 10) + 1);

            var update = function() {

                for (var i=0; i<recipientTypes.length; i++) {
                    var recpType = recipientTypes[i];
                    recipientValueField.val(recpType);

                    $("#"+recpType+"_subject").text(processingMessage);
                    $("#"+recpType+"_body").text(processingMessage);
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#previewForm").serialize(),
                        dataType: "json",
                        success: (function(r){
                            return function (data) {
                                $("#"+r+"_subject").text(data['subject']);
                                $("#"+r+"_body").html(data['body']);
                            }
                        })(recpType),
                        error: (function(r){
                            return function () {
                                $("#"+r+"_subject").text(errorMessage);
                                $("#"+r+"_body").text(errorMessage);
                            }
                        })(recpType)
                    });
                }
            };

            $("#rowcontainer").change(update);
        });
        {% endautoescape %}
    </script>
{% endblock %}
