{% extends 'index.html' %}
{% load i18n %}

{% block htmltitle %} - {% trans 'Svar på e-mail' %} {{ object.subject }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="divider"></div>
    <div class="row form-group">
        <div class="col-sm-8">
            <h1>
                {% if is_guest_mail and not request.GET.thanks %}
                    {% trans 'Her kan du stille spørgsmål til din tilmelding eller skrive en kommentar' %}
                {% else %}
                    {% trans "Svar på e-mail" %}
                {% endif %}
            </h1>
        </div>
    </div>
    <hr/>
    {% if request.GET.thanks %}
        <div class="row form-group">
            <div class="col-sm-12">
                <p>
                    {% trans 'Beskeden er afsendt.' %}
                </p>
            </div>
        </div>
    {% elif product or visit %}
        <form name="reply-to-email-form" id="reply-to-email-form" method="post" action="{% url 'reply-to-email' object.reply_nonce %}">
            {% csrf_token %}

            <div class="row form-group">
                <div class="col-sm-1">
                   <label>{% trans "Emne" %}</label>
                </div>
                <div class="col-sm-11">
                    {{ object.subject }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    {{ form.reply.errors }}
                    {{ form.reply }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    {% if object.htmlbody %}
                        <iframe style="border:1px solid #ccc; width:100%; height:300px" src="{% url 'reply-to-email-htmlbody' view.kwargs.reply_nonce %}"></iframe>
                    {% else %}
                        {{ object.body.strip|linebreaksbr }}
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="submit" value="{% trans 'Send svar' %}" />
                </div>
            </div>
        </form>
    {% else %}
        <p>
            {% trans 'Det er desværre ikke muligt at svare på den angivne e-mail' %}
        </p>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
{% endblock %}
