<div class="booking-info">{# Needs to be wrapped in a div or mail programs will insert extra paragraphs #}
<strong>Navn</strong>: {{ booker.get_full_name }}<br />
<strong>E-mail</strong>: {{ booker.email|default:"Ikke angivet" }}<br />
<strong>Telefonnummer</strong>: {{ booker.phone|default:"Ikke angivet" }}<br />
<strong>Gymnasium/skole</strong>: {{ booker.school|default:"Ikke angivet" }}<br />
<strong>Klasse</strong>: {{ booker.get_level_display|default:"Ikke angivet" }}<br />
<strong>Postnummer</strong>: {{ booker.school.postcode.number|default:"Ikke angivet" }}<br />
<strong>By</strong>: {{ booker.school.postcode.city|default:"Ikke angivet" }}<br />
<strong>Region</strong>: {{ booker.school.postcode.region|default:"Ikke angivet" }}<br />
<strong>Antal deltagere</strong>: {{ booker.attendee_count|default:"0" }}<br />
{% if booking.classbooking.tour_desired %}
    <strong>Ønske om rundvisning</strong>: Ja<br/>
{% endif %}
{% if booking.classbooking.catering_desired %}
    <strong>Ønske om forplejning</strong>: Ja<br/>
{% endif %}
{% if booking.classbooking.presentation_desired %}
    <strong>Ønske om oplæg om uddannelse</strong>: Ja<br/>
{% endif %}
{% if booking.classbooking.custom_desired and booking.visit.product.custom_name %}
    <strong>Ønske om {{ booking.visit.product.custom_name|lower }}</strong>: Ja<br/>
{% endif %}
{% if booking.notes %}
<strong>Kommentarer:</strong>
<div style="white-space: pre; margin: 0; padding: 0;">{{ booking.notes }}</div>
{% endif %}
</div>