{% extends "index.html" %}

{% block content %}

    <div class="container">

        <h1>Admin: Bookings</h1>
        
        <a href="manage">Tilbage til admin home</a>
        
        <hr>
        
        <ul>
            <li><span class="label label-default">Venter</span> <strong><a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></strong></li>
            <li><span class="label label-default">Venter</span> <strong><a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></strong></li>
            <li><span class="label label-default">Forespørgsel sendt</span> <a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></li>
            <li><span class="label label-default">Tilbudsansvarlig har bolden</span> <a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></li>
            <li><span class="label label-default">Forespørgsel sendt</span> <a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></li>
            <li><span class="label label-default">Tilbudsansvarlig har bolden</span> <a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></li>
            <li><span class="label label-default">Forespørgsel sendt</span> <a href="booking-details">Jeg vil gerne booke noget på et tidspunkt</a></li>
        </ul>
    
    </div>

{% endblock %}