{% extends "index.html" %}

{% block content %}

    <div class="container">

        <h1>Booking #1321849353434</h1>
        
        <a href="booking-list">Tilbage til bookings</a>
        
        <hr>
        
        <p><strong>Nogen Nogensen</strong> vil gerne booke <a href="item">Dette tilbud X</a> på <strong>[denne dato]</strong></p>
        
        <form class="form-horizontal">
            <div class="form-group">
              <label for="status" class="col-sm-2 control-label">Sæt status:</label>
              <div class="col-sm-10">
                <select class="form-control" id="status">
                    <option>Venter</option>
                    <option>Forespørgsel sendt til tilbuds-ansvarlig</option>
                    <option>Tilbuds-ansvarlig har bolden</option>
                  </select>
                </div>
            </div>
        </form>
    
    </div>

{% endblock %}