{% extends "index.html" %}

{% block content %}

    <div class="container">

        <h1>Tilbud X</h1>
        
        <a href="search-list">Tilbage til søgning</a>
        
        <dl>
            <dt>
                Kategori:
            </dt>
            <dd>
                eglsiehglsiefhlsæeihf
            </dd>
            <dt>
                Kategori:
            </dt>
            <dd>
                eglsiehglsiefhlsæeihf
            </dd>
            <dt>
                Kategori:
            </dt>
            <dd>
                eglsiehglsiefhlsæeihf
            </dd>
            <dt>
                Kategori:
            </dt>
            <dd>
                eglsiehglsiefhlsæeihf
            </dd>
        </dl>
        
        <p>eflæiahsef ælasihef ælasiejhf ælasiejf æasliejf æalsiefj laseihf æsliefj asæleifh sælaeifh </p>
        
        <a href="book-it" class="btn btn-default">Book det</a>
        
        <hr>
            
        <a href="manage-item">Admin</a>
    
    </div>

{% endblock %}