{% load i18n %}
{% if modal %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="overskrift">{% blocktrans with title=visit.title %}Tilmeld dig tilbuddet "{{ title }}"{% endblocktrans %}</h4>
</div>
{% else %}
    <h4 class="modal-title" id="overskrift">{% blocktrans with title=visit.title %}Tilmeld dig tilbuddet "{{ title }}"{% endblocktrans %}</h4>
{% endif %}