{% load i18n %}
<div class="listcontainer">
    {% for booking in list %}
        <div class="list-group-item clearfix">
            <a href="{% url 'booking-view' booking.id %}">
                <dl class="dl-horizontal">
                    <dt class="text-muted">{% trans 'Skole:' %}</dt>
                    <dd><strong>{{ booking.booker.school.name }}, {{ booking.booker.school.postcode }}</strong></dd>
                    <dt class="text-muted">{% trans 'Navn:' %}</dt>
                    <dd>{{ booking.booker.get_name }}</dd>
                    <dt class="text-muted">{% trans 'Email:' %}</dt>
                    <dd>{{ booking.booker.email }}</dd>
                    <dt class="text-muted">{% trans 'Antal:' %}</dt>
                    <dd>{{ booking.booker.attendee_count }}</dd>
                    {% if booking.notes %}
                        <dt class="text-muted">{% trans 'Noter:' %}</dt>
                        <dd>{{ booking.notes }}</dd>
                    {% endif %}
                    {% if booking.classbooking %}
                        <dt class="text-muted">{% trans 'Rundvisning:' %}</dt>
                        <dd>{{ booking.classbooking.tour_desired | yesno }}</dd>
                    {% endif %}
                    {% if booking.teacherbooking %}
                        {% if booking.teacherbooking.subjects %}
                            <dt class="text-muted">{% trans 'Fag:' %}</dt>
                            <dd>
                                <ul>
                                    {% for subject in booking.teacherbooking.subjects.all %}
                                        <li>{{ subject }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        {% endif %}
                    {% endif %}
                </dl>
            </a>
        </div>
    {% endfor %}
</div>