{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.visit.title }} - {{ object.date_display }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h1>{% blocktrans with visittitle=object.visit.title on_date=object.date_display %}Planlægning af '{{ visittitle }}' {{ on_date }}{% endblocktrans %}</h1>
        </div>
        <div class="divider"></div>
    </div>

    <div class="row overview">
        <div class="col-sm-12 col-md-10 panel panel-default">

            <div class="col-xs-9">
                <div>
                    {% url 'visit-view' object.visit.id as visiturl %}
                    {% blocktrans with nr_bookers=object.nr_bookers visittitle=object.visit.title %}
                        {{ nr_bookers }} har tilmeldt sig denne instans af <a href="{{ visiturl }}">{{ visittitle }}</a>
                    {% endblocktrans %}
                </div>

                {% if not object.start_datetime %}
                <div class="divider"></div>
                <div>
                    {% trans 'Der er endnu ikke et fastlagt et tidspunkt for dette besøg.' %}
                    {% if object.desired_time %}
                        {% trans 'Gæsten har ønsket følgende tidspunkt:' %}
                        <pre class="desired-time">{{ object.desired_time }}</pre>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if can_notify %}
                    <div class="pull-right dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="sendNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Send besked' %}
                            <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sendNotification">
                            <li><a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}">{% trans 'Ingen skabelon' %}</a></li>
                            {% if emailtemplates %}
                                <li role="separator" class="divider"></li>
                                {% for id, label in emailtemplates %}
                                    <li>
                                        {% if modal %}
                                            <a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}">{{ label }}</a>
                                        {% else %}
                                            <a href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}&back={{ thisurl | urlencode }}">{{ label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'emailtemplate-list' %}" target="_blank">{% trans 'Redigér skabeloner' %}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row status">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Statusoverblik' %}</h2>

                    {% if not object.can_assign_resources %}
                        <p>
                            {% blocktrans with text=object.BEING_PLANNED_STATUS_TEXT %}
                            Det er ikke længere muligt at tildele ressourcer til dette besøg. Hvis du ønsker at rette i de tildelte ressourcer skal du ændre status til '{{ text }}'.
                            {% endblocktrans %}
                        </p>
                    {% endif %}

                    <dl class="dl-horizontal status">
                        <dt>{% trans 'Tidspunkt' %}</dt>
                        <dd>
                            {% if object.start_datetime %}
                                {{ object.start_datetime }}
                            {% else %}
                                {% trans 'Ikke angivet' %}
                            {% endif %}
                            {% if can_edit and object.can_assign_resources %}
                                <a href="{% url 'change-visit-occ-starttime' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Undervisere' %}</dt>
                        <dd>
                            {{ object.get_teacher_status_display }},
                            {% blocktrans with found=object.teachers.all|length needed=object.visit.needed_teachers %}{{ found }}/{{ needed }} undervisere fundet{% endblocktrans %}
                            {% if can_edit %}
                                {%if object.can_assign_resources %}
                                    <a href="{% url 'change-visit-occ-teachers' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                                {% endif %}
                            {% elif request.user.userprofile.is_teacher and object.needs_teachers %}
                                {% if request.user in object.teachers.all %}
                                    (allerede underviser for dette besøg)
                                {% else %}
                                    <a href="{% url 'become-teacher' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Bliv underviser for dette besøg' %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Værter' %}</dt>
                        <dd>
                            {{ object.get_host_status_display }},
                            {% blocktrans with found=object.hosts.all|length needed=object.visit.needed_hosts %}{{ found }}/{{ needed }} værter fundet{% endblocktrans %}
                            {% if can_edit %}
                                {% if object.can_assign_resources %}
                                    <a href="{% url 'change-visit-occ-hosts' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                                {% endif %}
                            {% elif request.user.userprofile.is_host and object.needs_hosts %}
                                {% if request.user in object.hosts.all %}
                                    {% trans '(allerede vært for dette besøg)' %}
                                {% else %}
                                    <a href="{% url 'become-host' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Bliv vært for dette besøg.' %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Lokaler' %}</dt>
                        <dd>
                            {{ object.get_room_status_display }}
                            {% if can_edit and object.can_assign_resources %}
                                <a href="{% url 'change-visit-occ-rooms' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Automatisk email' %}</dt>
                        <dd>
                            {{ object.get_autosend_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-autosend' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Status' %}</dt>
                        <dd>
                            {{ object.get_workflow_status_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-status' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Skift status' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Link til evaluering' %}</dt>
                        <dd>
                            {% if object.evaluation_link %}
                            <a href="{{ object.evaluation_link }}">{{ object.evaluation_link }}</a>
                            {% else %}
                            {% trans 'Ikke angivet' %}
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-eval' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Interne kommentarer' %}</dt>
                        <dd>
                            <pre>{{ object.comments }}</pre>
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-comments' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>

    <div class="row activitylog">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Aktivitetslog' %}</h2>

                    <ul class="list-unstyled">
                        {% for entry in log_entries %}
                        <li>
                            <dl class="dl-horizontal">
                                <dt>{% trans 'Hvem:' %}</dt>
                                <dd>{% if entry.user.get_full_name %}{{ entry.user.get_full_name }}{% else %}{{ entry.user }}{% endif %}</dd>
                                <dt>{% trans 'Hvad:' %}</dt>
                                <dd>{{ entry.action_flag|logaction_type_display }}</dd>
                                <dt>{% trans 'Hvornår' %}:</dt>
                                <dd>{{ entry.action_time }}</dd>
                                <dt>{% trans 'Besked:' %}</dt>
                                <dd><pre>{{ entry.change_message }}</pre></dd>
                            </dl>
                        </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a href="{% url 'visit-occ-add-logentry' object.pk %}" role="button" class="btn btn-primary btn-xs pull-right">{% trans 'Tilføj ny log-post' %}</a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row attendees">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{% trans 'Tilmeldte' %}</h2>
                    <div class="listcontainer">
                        {% for booking in object.bookings.all %}
                            <div class="list-group-item clearfix">
                                <a href="{% url 'booking-view' booking.id %}">
                                    <dl class="dl-horizontal">
                                        <dt class="text-muted">{% trans 'Skole:' %}</dt>
                                        <dd><strong>{{ booking.booker.school.name }}, {{ booking.booker.school.postcode }}</strong></dd>
                                        <dt class="text-muted">{% trans 'Navn:' %}</dt>
                                        <dd>{{ booking.booker.get_name }}</dd>
                                        <dt class="text-muted">{% trans 'Email:' %}</dt>
                                        <dd>{{ booking.booker.email }}</dd>
                                        <dt class="text-muted">{% trans 'Antal:' %}</dt>
                                        <dd>{{ booking.booker.attendee_count }}</dd>
                                        {% if booking.notes %}
                                            <dt class="text-muted">{% trans 'Noter:' %}</dt>
                                            <dd>{{ booking.notes }}</dd>
                                        {% endif %}
                                        {% if booking.classbooking %}
                                            <dt class="text-muted">{% trans 'Rundvisning:' %}</dt>
                                            <dd>{{ booking.classbooking.tour_desired | yesno }}</dd>
                                        {% endif %}
                                        {% if booking.teacherbooking %}
                                            {% if booking.teacherbooking.subjects %}
                                                <dt class="text-muted">{% trans 'Fag:' %}</dt>
                                                <dd>
                                                    <ul>
                                                    {% for subject in booking.teacherbooking.subjects.all %}
                                                        <li>{{ subject }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                </dd>
                                            {% endif %}
                                        {% endif %}
                                    </dl>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="go-back">
                            <a href="/visit/occurrence/search" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {% trans 'Søg i besøg' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
{% endblock %}
