{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h1>{% blocktrans with visittitle=object.visit.title on_date=object.date_display %}Planlægning af '{{ visittitle }}' {{ on_date }}{% endblocktrans %}</h1>
        </div>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        {% url 'visit-view' object.visit.id as visiturl %}
                        {% blocktrans with nr_bookers=object.nr_bookers visittitle=object.visit.title %}
                            {{ nr_bookers }} har tilmeldt sig denne instans af <a href="{{ visiturl }}">{{ visittitle }}</a>
                        {% endblocktrans %}
                    </div>

                    {% if not object.start_datetime %}
                    <div class="divider"></div>
                    <div>
                        Der er endnu ikke et fastlagt et tidspunkt for dette arrangement.
                        {% if object.desired_time %}
                        Gæsten har ønsket følgende tidspunkt:
                        <pre class="desired-time">{{ object.desired_time }}</pre>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if can_notify %}
                        <div class="pull-right dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="sendNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Send besked' %}
                                <span class="caret"/>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="sendNotification">
                                <li><a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}">{% trans 'Ingen skabelon' %}</a></li>
                                {% if emailtemplates %}
                                    <li role="separator" class="divider"></li>
                                    {% for id, label in emailtemplates %}
                                        <li>
                                            {% if modal %}
                                                <a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}">{{ label }}</a>
                                            {% else %}
                                                <a href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}&back={{ thisurl | urlencode }}">{{ label }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}

                </div>
            </div>


            <div class="divider"></div>

            <h2>Statusoverblik</h2>

            {% if not object.can_assign_resources %}
            <p>
                Det er ikke længere muligt at tildele ressourcer til denne
                booking. Hvis du ønsker at rette i de tildelte ressourcer skal
                du ændre statuses til '{{object.BEING_PLANNED_STATUS_TEXT}}'.
            </p>
            {% endif %}

            <dl class="dl-horizontal status">
                <dt>Tidspunkt</dt>
                <dd>
                    {% if object.start_datetime %}
                        {{ object.start_datetime }}
                    {% else %}
                        Ikke angivet
                    {% endif %}
                    {% if object.can_assign_resources %}
                    <a href="{% url 'change-visit-occ-starttime' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                    {% endif %}
                </dd>
                <dt>Undervisere</dt>
                <dd>
                    {{ object.get_teacher_status_display }}
                    {% if object.can_assign_resources %}
                    <a href="{% url 'change-visit-occ-teachers' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                    {% endif %}
                </dd>
                <dt>Værter</dt>
                <dd>
                    {{ object.get_host_status_display }}
                    {% if object.can_assign_resources %}
                    <a href="{% url 'change-visit-occ-hosts' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                    {% endif %}
                </dd>
                <dt>Lokaler</dt>
                <dd>
                    {{ object.get_room_status_display }}
                    {% if object.can_assign_resources %}
                    <a href="{% url 'change-visit-occ-rooms' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                    {% endif %}
                </dd>
                <dt>Automatisk email</dt>
                <dd>
                    {{ object.get_autosend_display }}
                    {% if object.can_assign_resources %}
                        <a href="{% url 'change-visit-occ-autosend' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                    {% endif %}
                </dd>
                <dt>Afvikling</dt>
                <dd>
                    {{ object.get_workflow_status_display }}
                    <a href="{% url 'change-visit-occ-status' object.pk %}" role="button" class="btn btn-primary btn-xs">Skift status</a>
                </dd>
                <dt>Interne kommentarer</dt>
                <dd>
                    <pre>{{ object.comments }}</pre>
                    <a href="{% url 'change-visit-occ-comments' object.pk %}" role="button" class="btn btn-primary btn-xs">Redigér</a>
                </dd>
            </dl>

            <div class="divider"></div>

            <h2>Aktivitetslog</h2>

            <ul class="list-unstyled">
                {% for entry in log_entries %}
                <li>
                    <dl class="dl-horizontal">
                        <dt>Hvem:</dt>
                        <dd>{% if entry.user.get_full_name %}{{ entry.user.get_full_name }}{% else %}{{ entry.user }}{% endif %}</dd>
                        <dt>Hvad:</dt>
                        <dd>{{ entry.action_flag|logaction_type_display }}</dd>
                        <dt>Hvornår:</dt>
                        <dd>{{ entry.action_time }}</dd>
                        <dt>Besked:</dt>
                        <dd><pre>{{ entry.change_message }}</pre></dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
            <div>
                <a href="{% url 'visit-occ-add-logentry' object.pk %}" role="button" class="btn btn-primary btn-xs pull-right">Tilføj ny log-post</a>&nbsp;
            </div>
            <div class="divider"></div>


            <div class="go-back">
                <a href="#" class="btn btn-default" onclick="history.go(-1); return false;"><span class="glyphicon glyphicon-chevron-left"></span> {% trans 'Tilbage til bookingliste' %}</a>
            </div>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="/static/js/custom.js"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
{% endblock %}
