{% extends 'index.html' %}
{% load staticfiles %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.visit.title }} - {{ object.date_display }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h1>{% blocktrans with visittitle=object.visit.title on_date=object.date_display %}Planlægning af '{{ visittitle }}' {{ on_date }}{% endblocktrans %}</h1>
        </div>
        <div class="divider"></div>
    </div>

    <div class="row overview">
        <div class="col-sm-12 col-md-10 panel panel-default">

            <div class="col-xs-9">
                <div>
                    {% url 'visit-view' object.visit.id as visiturl %}
                    {% blocktrans with nr_bookers=object.nr_attendees visittitle=object.visit.title %}
                        {{ nr_bookers }} har tilmeldt sig denne instans af <a href="{{ visiturl }}">{{ visittitle }}</a>
                    {% endblocktrans %}
                </div>

                {% if not object.start_datetime %}
                <div class="divider"></div>
                <div>
                    {% trans 'Der er endnu ikke et fastlagt et tidspunkt for dette besøg.' %}
                    {% if object.desired_time %}
                        {% trans 'Gæsten har ønsket følgende tidspunkt:' %}
                        <pre class="desired-time">{{ object.desired_time }}</pre>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if can_notify %}
                    <div class="pull-right dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="sendNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Send besked' %}
                            <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sendNotification">
                            <li><a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}">{% trans 'Ingen skabelon' %}</a></li>
                            {% if emailtemplates %}
                                <li role="separator" class="divider"></li>
                                {% for id, label in emailtemplates %}
                                    <li>
                                        {% if modal %}
                                            <a data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}">{{ label }}</a>
                                        {% else %}
                                            <a href="{% url 'visit-occ-notify' object.pk %}?template={{ id }}&back={{ thisurl | urlencode }}">{{ label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'emailtemplate-list' %}" target="_blank">{% trans 'Redigér skabeloner' %}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row status">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Statusoverblik' %}</h2>

                    {% if not object.can_assign_resources %}
                        <p>
                            {% blocktrans with text=object.BEING_PLANNED_STATUS_TEXT %}
                            Det er ikke længere muligt at tildele ressourcer til dette besøg. Hvis du ønsker at rette i de tildelte ressourcer skal du ændre status til '{{ text }}'.
                            {% endblocktrans %}
                        </p>
                    {% endif %}

                    <dl class="dl-horizontal status">
                        <dt>{% trans 'Tidspunkt' %}</dt>
                        <dd>
                            {% if object.start_datetime %}
                                {{ object.start_datetime }}
                            {% else %}
                                {% trans 'Ikke angivet' %}
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-starttime' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Undervisere' %}</dt>
                        <dd>
                            {{ object.get_teacher_status_display }},
                            {% blocktrans with found=object.teachers.all|length needed=object.visit.needed_teachers %}{{ found }}/{{ needed }} undervisere fundet{% endblocktrans %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-teachers' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% elif request.user.userprofile.is_teacher and object.needs_teachers %}
                                {% if request.user in object.teachers.all %}
                                    (allerede underviser for dette besøg)
                                {% else %}
                                    <a href="{% url 'become-teacher' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Bliv underviser for dette besøg' %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Værter' %}</dt>
                        <dd>
                            {{ object.get_host_status_display }},
                            {% blocktrans with found=object.hosts.all|length needed=object.visit.needed_hosts %}{{ found }}/{{ needed }} værter fundet{% endblocktrans %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-hosts' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% elif request.user.userprofile.is_host and object.needs_hosts %}
                                {% if request.user in object.hosts.all %}
                                    {% trans '(allerede vært for dette besøg)' %}
                                {% else %}
                                    <a href="{% url 'become-host' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Bliv vært for dette besøg.' %}</a>
                                {% endif %}
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Lokaler' %}</dt>
                        <dd>
                            {{ object.get_room_status_display }}
                            {% if object.rooms.all %}
                            <ul>
                            {% for room in object.rooms.all %}
                                <li>{{ room.name_with_locality }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-rooms' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Automatisk email' %}</dt>
                        <dd>
                            {{ object.get_autosend_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-autosend' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Status' %}</dt>
                        <dd>
                            {{ object.get_workflow_status_display }}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-status' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Skift status' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Antal på venteliste' %}</dt>
                        <dd>
                            {{ object.nr_waiting }}
                            <a href="#waitinglist" role="button" class="btn btn-primary btn-xs">{% trans 'Se liste' %}</a>
                        </dd>
                        <dt>{% trans 'Link til evaluering' %}</dt>
                        <dd>
                            {% if object.evaluation_link %}
                            <a href="{{ object.evaluation_link }}">{{ object.evaluation_link }}</a>
                            {% else %}
                            {% trans 'Ikke angivet' %}
                            {% endif %}
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-eval' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                        <dt>{% trans 'Interne kommentarer' %}</dt>
                        <dd>
                            <pre>{{ object.comments }}</pre>
                            {% if can_edit %}
                                <a href="{% url 'change-visit-occ-comments' object.pk %}" role="button" class="btn btn-primary btn-xs">{% trans 'Redigér' %}</a>
                            {% endif %}
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>

    <div class="row activitylog">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>{% trans 'Aktivitetslog' %}</h2>

                    <ul class="list-unstyled scroll-400">
                        {% for entry in log_entries %}
                        <li>
                            <dl class="dl-horizontal">
                                <dt>{% trans 'Hvem:' %}</dt>
                                <dd>{% if entry.user.get_full_name %}{{ entry.user.get_full_name }}{% else %}{{ entry.user }}{% endif %}</dd>
                                <dt>{% trans 'Hvad:' %}</dt>
                                <dd>{{ entry.action_flag|logaction_type_display }}</dd>
                                <dt>{% trans 'Hvornår' %}:</dt>
                                <dd>{{ entry.action_time }}</dd>
                                <dt>{% trans 'Besked:' %}</dt>
                                <dd><pre>{{ entry.change_message }}</pre></dd>
                            </dl>
                        </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a href="{% url 'visit-occ-add-logentry' object.pk %}" role="button" class="btn btn-primary btn-xs pull-right">{% trans 'Tilføj ny log-post' %}</a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row attendees">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>
                        {% trans 'Tilmeldte' %}
                        ({{ object.nr_attendees }}{% if object.visit.maximum_number_of_visitors %}/{{ object.visit.maximum_number_of_visitors }}{% endif %})
                    </h2>
                    {% include "booking/snippets/list.html" with list=object.booking_list form=bookinglistform listname='booking' %}
                </div>
            </div>
        </div>
    </div>

    <div class="row waiting">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a name="waitinglist"></a>
                    <h2>
                        {% trans 'Venteliste' %}
                        ({{ object.nr_waiting }}{% if object.visit.waiting_list_length %}/{{ object.visit.waiting_list_length }}{% endif %})
                    </h2>
                    {% if object.waiting_list_closing_time %}
                        {% if object.waiting_list_closed %}
                            {% blocktrans with time=object.waiting_list_closing_time %}
                                Ventelisten lukkede {{ time }}.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with time=object.waiting_list_closing_time %}
                                Ventelisten lukker {{ time }}.
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}
                    {% include "booking/snippets/list.html" with list=object.waiting_list form=waitinglistform listname='waiting' %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="go-back">
                            <a href="{% url 'visit-occ-search' %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                {% trans 'Søg i besøg' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}
    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static "js/modalframe-host.js" %}"></script>
    <script type="text/javascript">
        <!--
        $(function(){
            {% autoescape off %}
                var waitingAttendees = {{ waitingattendees | jsonify }},
                    availableSeats = {{ object.available_seats | jsonify }};
            {% endautoescape %}
            var dequeueButton = $("button[name='action'][value='dequeue']");
            if (dequeueButton.length) {
                var update = function() {
                    var selectedAttendees = 0;
                    $(".listcontainer.waiting input[type='checkbox']:checked").each(function(){
                        selectedAttendees += waitingAttendees[this.value];
                    });
                    if (selectedAttendees > availableSeats) {
                        dequeueButton.enable(false, "listFull");
                        dequeueButton.attr("title",
                            "{% trans 'Der er kun {available} pladser tilbage. Du har valgt {selected} deltagere.' %}"
                            .replace("{available}", availableSeats)
                            .replace("{selected}", selectedAttendees)
                        );
                    } else {
                        dequeueButton.enable(true, "listFull");
                        dequeueButton.removeAttr("title");
                    }
                };
                $(".listcontainer.waiting input[type='checkbox']").change(update);
                update();
            }
        });

        $(function(){
            $("form").each(function(){
                var form = $(this);
                var button = form.find("button[name='action']");
                var update = function() {
                    button.enable(form.find("input[type='checkbox']:checked").length, "selectionPresent");
                };
                form.find("input[type='checkbox']").change(update);
                update();
            });
        });

        $(function(){
            $(".listcontainer form button[name='action'][value='delete']").click(function(){
                return window.confirm("{% trans 'Er du sikke på at du vil slette disse tilmeldinger?' %}");
            });
        });

        $(function () {
            var button = $("button[name='action'][value='mail']");
            var update = function() {
                var selected = [];
                $(".listcontainer.waiting input[type='checkbox']:checked").each(function(){
                    selected.push("recipients=booking:" + $(this).val());
                });
                var href = button.attr("data-modal-href");
                href = href.replace(/&?recipients=[^&]/, "");
                href += (href.indexOf("?")==-1) ? "?" : "&";
                href += selected.join("&");
                button.attr("data-modal-href", href);
            };
            $(".listcontainer.waiting input[type='checkbox']").change(update);
            update();
        });


        //-->
    </script>
{% endblock %}
