{% load i18n %}
<div class="col-sm-2">
    <label for="grundskolefag-edit" class="control-label">{% trans 'Grundskolefag:' %}</label>
</div>

<div class="col-sm-10">
    <div>
        <div id="grundskolefag-empty">{% trans 'Der er ikke valgt nogen fag' %}</div>
        <script type="text/template" id="grundskolefag-item-template">
            <li>
                <input type="hidden" value="##submitvalue##" name="grundskolefag" />
                <span class="fag-description">##description##</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </script>
        <ul id="grundskolefag-list">
        {% for fag in grundskolefag_selected %}
            <li>
                <input type="hidden" value="{{ fag.submitvalue }}" name="grundskolefag" />
                <span class="fag-description">{{ fag.description }}</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="grundskolefag-edit">
        <div class="fagedit-group">
            <label for="grundskolefag-fag">{% trans 'Tilføj fag:' %}</label>
            <select name="grundskolefag-fag" id="grundskolefag-fag" class="form-control">
                <option value="">-- {% trans 'Vælg grundskolefag' %} --</option>
                {% for fag in grundskolefag_choices %}
                <option value="{{fag.pk}}">{{fag.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fagedit-group">
            <label for="grundskolefag-minclass">{% trans 'Fra klassetrin:' %}</label>
            <select name="grundskolefag-minclass" id="grundskolefag-minclass" class="form-control">
                <option value="" selected="selected">-- {% trans 'Vælg klassetrin' %} --</option>
                {% for trin in klassetrin_range %}
                <option value="{{trin}}">{{trin}}</option>
                {% endfor %}
                <option value="10">10</option>
            </select>
        </div>
        <div class="fagedit-group">
            <label for="grundskolefag-maxclass">{% trans 'Til klassetrin:' %}</label>
            <select name="grundskolefag-maxclass" id="grundskolefag-maxclass" class="form-control">
                <option value="">-- {% trans 'Vælg klassetrin' %} --</option>
                {% for trin in klassetrin_range %}
                <option value="{{trin}}">{{trin}}</option>
                {% endfor %}
                <option value="10" selected="selected">10</option>
            </select>
        </div>
        <input type="button" id="grundskolefag-add" value="{% trans 'Tilføj' %}" />
    </div>
    
</div>
