{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "Kalender" %}{% endblock %}

{% block head %}
<style type="text/css">
    table.ressource-kalender div.marker-container {
        height: 12em;
        position: relative;
    }
    table.ressource-kalender div.marker {
        padding: 0 0.5em 0 0.5em;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
    table.ressource-kalender div.marker:hover {
        height: 100% !important;
    }
    table.ressource-kalender div.marker a {
        color: white;
    }
    table.ressource-kalender div.marker.available {
        background-color: green;
    }
    table.ressource-kalender div.marker.unavailable {
        z-index: 10;
        background-color: red;
    }
</style>
{% endblock %}


{% block content %}

    <div class="divider"></div>

    <div class="row">
        <h1 class="col-sm-6">
            {% trans "Kalender" %}
        </h1>
        <p class="col-sm-6" style="text-align: right;">
            {% if object.resource %}
            <a href="{% url 'resource-view' object.resource.id %}" role="button" class="btn btn-primary">{% trans 'Gå til ressource' %}</a>
            {% elif object.product %}
            <a href="{% url 'product-view' object.product.id %}" role="button" class="btn btn-primary">{% trans 'Gå til tilbud' %}</a>
            {% endif %}
            <br/>
            <a href="{% url reverses.calendar_event_create view.rel_obj.pk %}" role="button" class="btn btn-primary margin-top-10">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {% trans 'Opret tid i kalender' %}
            </a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Tilgængelige tider</h2>
            {% if not available %}
            <p>
                {% trans '(Ingen regler betyder aldrig tilgængelig)' %}
            </p>
            {% endif %}
            <ul>
                {% for event in available %}
                    <li>
                        <a href="{% url reverses.calendar_event_edit view.rel_obj.pk event.pk %}">{{ event.title }}</a>
                        {{ event.interval_display }}
                        {% if event.recurrences %}{% trans "(med gentagelser)" %}{% endif %}
                        <a href="{% url reverses.calendar_event_delete view.rel_obj.pk event.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                {% endfor %}
            </ul>
            <h2>{% trans 'Utilgængelige tider' %}</h2>
            {% if unavailable %}
            <ul>
                {% for event in unavailable %}
                    <li>
                        <a href="{% url reverses.calendar_event_edit view.rel_obj.pk event.pk %}">{{ event.title }}</a>
                        {{ event.interval_display }}
                        <a href="{% url reverses.calendar_event_delete view.rel_obj.pk event.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>
                    {% trans 'Ingen regler for utilgængelighed' %}
                </p>
            {% endif%}
            <h2>{% trans 'Besøgsreservationer' %}</h2>
            {% if booked_times %}
            <ul>
                {% for eventtime in booked_times %}
                    <li><a href="{% url 'visit-view' eventtime.visit.pk %}">{{ eventtime.visit }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>
                    {% trans 'Ingen reservationer i denne måned' %}
                </p>
            {% endif %}
            <div class="divider"></div>

            <table class="ressource-kalender table table-bordered table-striped">
                <thead>
                    <tr>
                        <td colspan="7" class="text-center">
                            <a href="?month={{ prev_month|date:'Ym' }}"><span class="pull-left">&lt;&lt;</span></a>
                            {{ month|date:"F Y"|title }}
                            <a href="?month={{ next_month|date:'Ym' }}"><span class="pull-right">&gt;&gt;</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ calendar_weeks.0.0.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.1.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.2.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.3.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.4.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.5.date|date:"l"|title }}</td>
                        <td>{{ calendar_weeks.0.6.date|date:"l"|title }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for week in calendar_weeks %}
                    <tr>
                        {% for day in week %}
                        <td>
                            {{ day.date.day }}.
                            <div class="marker-container">
                                {% for marker in day.events %}
                                <div class="marker {{ marker.available_class }}" style="top: {{ marker.top_offset }}em; height: {{ marker.height }}em;">
                                    <a href="{{ marker.event.source.calendar_event_link }}">
                                        <div>{{ marker.time_interval }}</div>
                                        <div>{{ marker.event.source.calender_event_title }}</div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                        {% endfor%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url reverses.calendar_delete view.rel_obj.pk %}" role="button" class="btn btn-danger pull-right">{% trans 'Slet denne kalender' %}</a>
        </div>
    </div>
    <div class="divider"></div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
