{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "Kalender-regel" %}{% endblock %}

{% block head %}
    {% include 'common/resources/datepicker_style.html' %}
    <link href="{% static 'css/bootstrap-clockpicker.css' %}" type="text/css" media="all" rel="stylesheet"  />
    {{ form.media }}
    <style type="text/css">
        div.recurrence-widget div.mode,
        div.recurrence-widget a.add-button.add-date {
            display: none;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="divider"></div>
    <h1>
        {% trans "Opret regel for kalender" %}
    </h1>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.calendar.as_hidden }}
                {{ form.start.as_hidden }}
                {{ form.end.as_hidden }}

                {% include 'common/fields/generic_field.html' with field=form.title %}

                {% include 'common/fields/generic_field.html' with field=form.availability %}

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label for="id_start_date">{% trans 'Dato/tid' %}:</label>
                    </div>
                    <div class="col-sm-7 form-inline">
                        {% with starttime=form.start.value|stringformat:"s"|slice:"11:16" endtime=form.end.value|stringformat:"s"|slice:"11:16" %}
                        <div class="input-daterange" style="margin-top: 0;">
                            <input class="form-control input-sm rangepicker" id="id_start_date" name="start_date" type="text" value="{{ form.start.value|stringformat:"s"|slice:"10" }}" size="10">
                            <div class="input-group clockpicker"{% if default_all_day or starttime == "00:00" and endtime == "00:00" %} style="display: none"{% endif %}>
                                <input class="form-control input-sm" id="id_start_time" name="start_time" type="text" value="{{ starttime }}" size="5">
                                <span class="input-group-addon" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <div class="input-group clockpicker"{% if default_all_day or starttime == "00:00" and endtime == "00:00" %} style="display: none"{% endif %}>
                                <input class="form-control input-sm" id="id_end_time" name="end_time" type="text" value="{{ endtime }}" size="5">
                                <span class="input-group-addon" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <input class="form-control input-sm rangepicker" id="id_end_date" name="end_date" type="text" value="{{ form.end.value|stringformat:"s"|slice:"10" }}" size="10">
                        </div>
                        <div>
                            <label for="id_all_day" class="form-inline">
                                <input type="checkbox" name="all_day" id="id_all_day"{% if starttime == "00:00" and endtime == "00:00" or default_all_day %} checked="checked"{% endif %}/>
                                {% trans 'Hele dagen' %}
                            </label>
                        </div>
                        {% endwith %}
                    </div>
                    <div class="col-sm-3 with-errors">
                    </div>
                </div>


                {% with field=form.recurrences %}
                <div class="row form-group">
                    <div class="col-sm-2{% if field.errors %} has-error{% endif %}{% if label_classes %} {{ label_classes }}{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}{% if field.field.required %}*{% endif %}:</label>
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                    <div class="col-sm-7{% if field_classes %} {{ field_classes }}{% endif %}">
                        <div>
                            <label for="id_enable_recurrences" class="form-inline">
                                <input type="checkbox" name="enable_recurrences" id="id_enable_recurrences"{% if field.value %} checked="checked"{% endif %}/>
                                {% trans 'Gentag...' %}
                            </label>
                        </div>
                        <div id="recurrence_field_container"{% if not field.value %} style="display: none"{% endif %}>
                            {{ field }}
                        </div>
                    </div>
                    <div class="col-sm-3 with-errors{% if error_classes %} {{ error_classes }}{% endif %}">
                        {{ field.errors }}
                    </div>
                </div>
                {% endwith %}

                <div class="row form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-success" role="button" type="submit">
                            {% if object.pk %}
                                {% trans 'Gem' %}
                            {% else %}
                                {% trans 'Opret' %}
                            {% endif %}
                        </button>
                        <a class="btn btn-danger" href="{% url 'calendar' view.kwargs.res %}">Annullér</a>
                    </div>
                    <div class="col-sm-3 with-errors">
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="divider"></div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/bootstrap-clockpicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'thirdparty/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'thirdparty/bootstrap-datepicker/dist/locales/bootstrap-datepicker.da.min.js' %}"></script>

    <script type="text/javascript">
    $(function(){

        function build_date(date_field_selector, time_value) {
            var date_val = $(date_field_selector).first().val(),
                date_parts = date_val.substr(0, 10).split(/[. -]/),
                time_parts = time_value.split(/[:]/);

            if(date_parts[0].length != 4) {
                date_parts = date_parts.reverse()
            }

            var date = new Date(
                date_parts[0],
                date_parts[1] - 1,
                date_parts[2],
                time_parts[0],
                time_parts[1],
                0
            )

            return [
                zero_pad(date.getDate()),
                zero_pad(date.getMonth() + 1),
                date.getFullYear()
            ].join(".") + " " + [
                zero_pad(date.getHours()),
                zero_pad(date.getMinutes()),
                "00"
            ].join(":")
        }

        function set_control_values() {
            $('#id_start_date').val($('#id_start').val().substr(0, 10));
            if ($('#id_all_day').is(":checked")) {
                var end_val = $('#id_end').val()
                    end_date_val = end_val.substr(0, 10)
                    end_time_val = end_val.substr(11, 5);
                if(end_time_val === "00:00") {
                    $('#id_end_date').val(
                        build_date('#id_end', '-24:00').substr(0, 10)
                    );
                } else {
                    $('#id_end_date').val(end_date_val);
                }
            } else {
                $('#id_end_date').val($('#id_end').val().substr(0, 10));
            }
        }
        set_control_values();

        $('.input-daterange').datepicker({
            language: 'da',
            format: 'dd.mm.yyyy',
            weekStart: 1,
            calendarWeeks: true,
            todayHighlight: true,
            clearBtn: true,
            autoclose: true,
            inputs: $('.input-daterange .rangepicker')
        });

        function zero_pad(int_val) {
            if(int_val < 10)
                return "0" + int_val;
            else
                return int_val;
        }

        function update_dates() {
            if($('#id_all_day').is(":checked")) {
                $('#id_start').val(build_date('#id_start_date', "00:00"))
                $('#id_end').val(build_date('#id_end_date', "24:00"))
            } else {
                $('#id_start').val(
                    build_date('#id_start_date', $('#id_start_time').val())
                );
                $('#id_end').val(
                    build_date('#id_end_date', $('#id_end_time').val())
                );
            }
        }

        $('.clockpicker').clockpicker({
            'donetext': "Opdater",
            'autoclose': true,
            'afterDone': update_dates
        });

        $('#id_start_date').change(update_dates);
        $('#id_end_date').change(update_dates);

        $('#id_enable_recurrences').on('change', function() {
            if($(this).is(":checked")) {
                $('#recurrence_field_container').show();
                $('#id_recurrences').val(
                    $(this).attr('data-last-value') || ''
                );
                $rec_widget = $('#id_recurrences').parent();
                if($rec_widget.find('div.panel').length < 1) {
                    $rec_widget.find('.add-button.add-rule').last().trigger(
                        'click'
                    )
                }
            } else {
                $('#recurrence_field_container').hide();
                $(this).attr(
                    'data-last-value', $('#id_recurrences').val() || ''
                )
                $('#id_recurrences').val('');
            }
        });

        $('#id_all_day').on("change", function() {
            if($(this).is(":checked")) {
                $('div.input-group.clockpicker').hide();
            } else {
                $('div.input-group.clockpicker').show();
            }
            update_dates();
        });
        update_dates();
    });
    </script>
{% endblock %}