{% if field %}
<div class="row form-group">
    <div class="col-sm-2{% if field.errors %} has-error{% endif %}">
    {% if left_label %}
        <strong>{{ left_label }}</strong>
    {% endif %}
    </div>
    <div class="col-sm-7{% if field.errors %} has-error{% endif %}">
        <div class="checkbox">
            <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}required{% endif %}">
                {{ field }}
                {{ field.label }}
            </label>
        </div>
    </div>
    <div class="col-sm-3 with-errors">
        {{ field.errors }}
    </div>
</div>
{% endif %}