{% if field %}
<div class="row form-group">
    <div class="col-sm-2{% if field.errors %} has-error{% endif %}{% if label_classes %} {{ label_classes }}{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}{% if field.field.required %}*{% endif %}:</label>
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
    </div>
    <div class="col-sm-7{% if field_classes %} {{ field_classes }}{% endif %}">
        {{ field }}
    </div>
    <div class="col-sm-3 with-errors{% if error_classes %} {{ error_classes }}{% endif %}">
        {{ field.errors }}
    </div>
</div>
{% endif %}