#personalPage.eq-height [class*="col-"] .panel {
    border-color: #ddd;
}
#personalPage.eq-height [class*="col-"] .panel .panel-body  {
    padding: 5px;
}
#personalPage .list-group-item {
    margin-bottom: 10px;
}
#personalPage  .list-group-item:first-child {
    margin-top: 5px;
}
#personalPage .list-group-item:nth-child(odd) {
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
#personalPage .list-group-item ul {
    padding-left: 0;
    color: #4A4949;
    list-style-type: none;
}
#personalPage .panel.panel-bookings .panel-heading {
    
}

#personalPage .panel.panel-bookings .panel-heading .panel-title {
    font-size: 14px;
    display: inline-block;
}

#personalPage .badge-primary {
    background-color: #337ab7;
}
#personalPage .badge-danger {
    background-color: #901a1e;
}
#personalPage .badge-success {
    background-color: #5cb85c;
}