.listcontainer.eq-height [class*="col-"] .panel {
    border-color: #ccc;
}

.listcontainer.eq-height [class*="col-"] .panel .panel-body {
    padding: 5px;
}

.listcontainer .list-group {
    margin-bottom: 0;
}

.listcontainer .list-group-item {
    margin-bottom: 10px;
    position: relative;
}

.listcontainer .list-group-item:hover {
    border: 1px solid #bbb;
}

.listcontainer .list-group-item:first-child {
    margin-top: 5px;
    border-radius: 0;
}

.listcontainer .list-group-item:last-child {
    margin-bottom: 0!important;
    border-radius: 0;
}

.listcontainer .list-group-item:nth-child(odd) {
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

.listcontainer a.list-group-item .list-group-item-heading {
    line-height: 16px;
}

.listcontainer .list-group-item ul {
    padding-left: 0;
    color: #4A4949;
    list-style-type: none;
}

.listcontainer .panel.panel-bookings .panel-heading .panel-title {
    font-size: 1em;
    display: inline-block;
    max-width: 85%;
    color: #333;
}

.panel-bookings .list-group-item-text li {
  margin: 2px 0;
}

.listcontainer .badge-primary {
    background-color: #337ab7;
}

.listcontainer .badge-danger {
    background-color: #901a1e;
}

.listcontainer .badge-success {
    background-color: #5cb85c;
}

.listcontainer [class*="alert-"] {
    border-width: 1px;
    border-style: solid;
}

.listcontainer .list-group-item .outdated:hover {
    background-color: #f2dede;
    border: 1px solid #9C5154;
    opacity: 1;
}

.list-group .admin-links>.list-group-item {
    background-color: transparent;
    background: rgb(250, 250, 250);
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6', GradientType=0);
}

.admin-links .list-group-item-heading {
    font-size: 1em;
    font-weight: 600;
    color: #252525;
}

.listcontainer .list-group-item>a:hover {
    text-decoration: none;
}

#adminblock .list-group-item {
    padding-left: 10px;
    padding-right: 10px;
}

#filter-panel .search-offers {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

#filter-panel .input-group {
    margin-right: 10px;
}

#filter-panel .input-group label {
    margin-right: 5px;
}

#filter-panel .input-group .input-group-btn {
    vertical-align: bottom;
}

#filter-panel .input-group:nth-child(1) {
    width: 40%;
}

#filter-panel .input-group:nth-child(2) {
    width: 27%;
}

#filter-panel .input-group:nth-child(3) {
    width: 28%;
}

@media screen and (max-width:768px) {
    #filter-panel .input-group {
        margin-bottom: 10px;
    }
    #filter-panel .input-group {
        width: 100%!important;
    }
}

#adminblock .glyphicon {
    font-size: 1.2em;
}

#adminblock .tooltip {
    width: 250px;
}
