{% load i18n %}
{% if autosendform %}
<div class="row form-group">
    <div>{{ autosendform.autosend.errors }}</div>
    <div class="col-sm-2">
        <label for="{{ autosendform.autosend.id_for_label }}">{% trans 'Automatiske emails' %}:</label>
    </div>
    <div class="col-sm-10">
        {{ autosendformset.management_form }}
        <div id="autosend-list">
            {% for autosendform in autosendformset %}
                <div class="autosend-row">
                    {{ autosendform }}
                </div>
            {% endfor %}
        </div>
        <a id="addAutosend">{% trans "Tilføj ny" %}</a>
    </div>
</div>
{% endif %}