{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>

<script type="text/javascript">
    <!--
        $(function(){

            // Enables/disables input elements and labels
            var toggleEnabled = function(element, key, enable) {
                if (element.length > 1) {
                    element.each(function(){
                        toggleEnabled($(this), key, enable);
                    });
                } else if (element.length === 1) {
                    var d = element.data("disable") || {};
                    d[key] = !!enable;
                    var doEnable = true;
                    for (var k in d) {
                        if (d[k] === false) {
                            doEnable = false;
                            break;
                        }
                    }
                    if (doEnable) {
                        element.removeAttr("disabled");
                    } else {
                        element.attr("disabled", "disabled");
                    }
                    if (element.attr("id")) {
                        $("label[for='" + element.attr("id") + "']").toggleClass("deletion", !doEnable);
                    }
                    element.data("disable", d);
                }
            };

            var toggleReminder = function(row) {
                var value = parseInt(row.find("[name$='-template_key']").val(), 10);
                var daysInput = row.find("[name$='-days']");
                toggleEnabled(daysInput, "reminder", value === 10);
            };

            var fixRow = function(row) {
                var templateSelect = row.find("[name$='-template_key']");
                templateSelect.change(function(){
                    toggleReminder(row);
                    disableAlreadySelected();
                });
                toggleReminder(row);
                var deleteField = row.find("[name$='-DELETE']");
                deleteField.change(function(){
                    toggleEnabled(row.find("input,select").not($(this)), "delete", !$(this).prop("checked"));
                });
                deleteField.prop("checked", false);
                toggleEnabled(row.find("input,select").not(deleteField), "delete", !deleteField.prop("checked"));
            };

            var disableAlreadySelected = function() {
                var selects = $("[name$='-template_key']"),
                    selected = {};
                selects.each(function() {
                    var value = $(this).val();
                    if (value !== "") {
                        selected[value] = true;
                    }
                });
                selects.find("option").each(function(){
                    if (selected[this.value] && !this.selected) {
                        this.disabled = "disabled";
                    } else {
                        this.disabled = null;
                    }
                });
            };

            $(".autosend-row").each(function() {
                fixRow($(this));
                disableAlreadySelected();
            });

            $("#addAutosend").click(function(){
                var row = formset.addRow(
                        $("#{{ autosendformset.management_form.TOTAL_FORMS.id_for_label }}"),
                        $("#{{ autosendformset.management_form.MAX_NUM_FORMS.id_for_label }}"),
                        $(".autosend-row").first(),
                        $("#autosend-list")
                );
                if (row) {
                    fixRow(row);
                    disableAlreadySelected();
                }
                return false;
            });
        });
    //-->
</script>