{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/formset-row.js' %}"></script>

<script type="text/javascript">
    <!--
        $(function(){

            // Enables/disables input elements and labels
            var toggleEnabled = function(element, key, enable) {
                if (element.length > 1) {
                    element.each(function(){
                        toggleEnabled($(this), key, enable);
                    });
                } else if (element.length === 1) {
                    var d = element.data("disable") || {};
                    d[key] = !!enable;
                    var doEnable = true;
                    for (var k in d) {
                        if (d[k] === false) {
                            doEnable = false;
                            break;
                        }
                    }
                    if (doEnable) {
                        element.removeAttr("disabled");
                    } else {
                        element.attr("disabled", "disabled");
                    }
                    var id = element.attr("id");
                    if (id) {
                        var keeperId = id+"_keeper";
                        if (doEnable) {
                            $("#"+keeperId).remove();
                        } else {
                            var keeper = $("<input>").attr({type: 'hidden', id: keeperId, name: element.attr('name')});
                            keeper.val(element.val());
                            element.parent().append(keeper);
                        }
                        $("label[for='" + id + "']").toggleClass("deletion", !doEnable);
                    }
                    element.data("disable", d);
                }
            };

            // Enables/disables the days field depending on what's selected in the template_key
            var toggleReminder = function(row) {
                var value = parseInt(row.find("[name$='-template_key']").val(), 10);
                var daysInput = row.find("[name$='-days']");
                toggleEnabled(daysInput, "reminder", value === 10);
            };

            // Enables/disables the "enabled" field, and sets its value, depending on whether we inherit from a VisitAutosend
            var toggleInherit = function(row) {
                if (window.inherited) {
                    var inheritField = row.find("[name$='-inherit']");
                    var enabledField = row.find("[name$='-enabled']");
                    var daysField = row.find("[name$='-days']");
                    var template_key = row.find("[name$='-template_key']").val();
                    var superObject = window.inherited[template_key];

                    toggleEnabled(inheritField, "inherit2", !!superObject);
                    if (!superObject) {
                        inheritField.prop("checked", false);
                    }

                    if (inheritField.prop("checked")) {
                        if (superObject) {
                            enabledField.data("oldValue", enabledField.prop("checked"));
                            enabledField.prop("checked", superObject.enabled);
                            toggleEnabled(enabledField, "inherit", false);

                            daysField.data("oldValue", daysField.val());
                            daysField.val(superObject.days);
                            toggleEnabled(daysField, "inherit", false);
                        }
                    } else {
                        toggleEnabled(enabledField, "inherit", true);
                        toggleEnabled(daysField, "inherit", true);
                        enabledField.prop("checked", enabledField.data("oldValue"));
                        daysField.val(daysField.data("oldValue"));
                    }
                }
            };

            // Updates existing rows (on load) and new rows (on add)
            var fixRow = function(row) {
                var templateSelect = row.find("[name$='-template_key']");
                templateSelect.change(function(){
                    toggleReminder(row);
                    toggleInherit(row);
                    disableAlreadySelected();
                });
                toggleReminder(row);

                var deleteField = row.find("[name$='-DELETE']");
                deleteField.change(function(){
                    toggleEnabled(row.find("input,select").not($(this)), "delete", !$(this).prop("checked"));
                });
                deleteField.prop("checked", false);
                toggleEnabled(row.find("input,select").not(deleteField), "delete", !deleteField.prop("checked"));

                var inheritField = row.find("[name$='-inherit']");
                inheritField.change(function(){
                    toggleInherit(row);
                });
                toggleInherit(row);
            };

            // Disables template options that are selected in another row (so each template key can only be selected in one row)
            var disableAlreadySelected = function() {
                var selects = $("[name$='-template_key']"),
                    selected = {};
                selects.each(function() {
                    var value = $(this).val();
                    if (value !== "") {
                        selected[value] = true;
                    }
                });
                selects.find("option").each(function(){
                    if (selected[this.value] && !this.selected) {
                        this.disabled = "disabled";
                    } else {
                        this.disabled = null;
                    }
                });
            };

            $(".autosend-row").each(function() {
                fixRow($(this));
                disableAlreadySelected();
            });

            $("#addAutosend").click(function(){
                var row = formset.addRow(
                        $("#{{ autosendformset.management_form.TOTAL_FORMS.id_for_label }}"),
                        $("#{{ autosendformset.management_form.MAX_NUM_FORMS.id_for_label }}"),
                        $(".autosend-row").first(),
                        $("#autosend-list")
                );
                if (row) {
                    fixRow(row);
                    disableAlreadySelected();
                }
                return false;
            });
        });
    //-->
</script>