{% if field %}
<div class="row form-group">
    <div class="col-sm-2{% if field.errors %} has-error{% endif %}"></div>
    <div class="col-sm-7{% if field.errors %} has-error{% endif %}"">
        <div class="checkbox">
            <label for="{{ field.id_for_label }}" class="control-label">
                {{ field }}
                {{ field.label }}{% if field.field.required %}*{% endif %}
            </label>
        </div>
    </div>
    <div class="col-sm-3 with-errors">
        {{ field.errors }}
    </div>
</div>
{% endif %}