<div class="institution_level_dependent" data-display-value="2">
    <div class="row form-group">
        <div>
            {{ form.class_level_min.errors }}
        </div>
        <div class="col-sm-2">
            <label class="{{ form.class_level.css_classes }}" for="{{ form.class_level_min.id_for_label }}">{{ form.class_level_min.label }}:</label>
        </div>
        <div class="col-sm-10">
            {{ form.class_level_min }}
        </div>
    </div>
    <div class="row form-group">
        <div>
            {{ form.class_level_max.errors }}
        </div>
        <div class="col-sm-2">
            <label class="{{ form.class_level_max.css_classes }}" for="{{ form.class_level_max.id_for_label }}">{{ form.class_level_max.label }}:</label>
        </div>
        <div class="col-sm-10">
            {{ form.class_level_max }}
        </div>
    </div>
</div>
