{% load i18n %}
{% if form.duration %}
    <div class="row">
        <div class="col-sm-2">
            <label class="{{ form.duration.css_classes }}" for="{{ form.duration.id_for_label }}">{{ form.duration.label }}:</label>
        </div>
        <div class="col-sm-7">
            <select id="{{ form.duration.id_for_label }}" name="{{ form.duration.name }}" class="form-control" data-selected="{{ form.instance.duration }}">
                <option value="00:00">{% trans 'Ingen' %}</option>
                <option value="00:15">{% trans '15 minutter' %}</option>
                <option value="00:30">{% trans '30 minutter' %}</option>
                <option value="00:45">{% trans '45 minutter' %}</option>
                <option value="01:00">{% trans '1 time' %}</option>
                <option value="01:15">{% trans '1 time, 15 minutter' %}</option>
                <option value="01:30">{% trans '1 time, 30 minutter' %}</option>
                <option value="01:45">{% trans '1 time, 45 minutter' %}</option>
                <option value="02:00">{% trans '2 timer' %}</option>
                <option value="02:30">{% trans '2 timer, 30 minutter' %}</option>
                <option value="03:00">{% trans '3 timer' %}</option>
                <option value="03:30">{% trans '3 timer, 30 minutter' %}</option>
                <option value="04:00">{% trans '4 timer' %}</option>
                <option value="04:30">{% trans '4 timer, 30 minutter' %}</option>
                <option value="05:00">{% trans '5 timer' %}</option>
                <option value="05:30">{% trans '5 timer, 30 minutter' %}</option>
                <option value="06:00">{% trans '6 timer' %}</option>
                <option value="06:30">{% trans '6 timer, 30 minutter' %}</option>
                <option value="07:00">{% trans '7 timer' %}</option>
                <option value="07:30">{% trans '7 timer, 30 minutter' %}</option>
                <option value="08:00">{% trans '8 timer' %}</option>
                <option value="08:30">{% trans '8 timer, 30 minutter' %}</option>
                <option value="09:00">{% trans '9 timer' %}</option>
                <option value="09:30">{% trans '9 timer, 30 minutter' %}</option>
                <option value="10:00">{% trans '10 timer' %}</option>
                <option value="11:00">{% trans '11 timer' %}</option>
                <option value="12:00">{% trans '12 timer' %}</option>
                <option value="13:00">{% trans '13 timer' %}</option>
                <option value="14:00">{% trans '14 timer' %}</option>
                <option value="15:00">{% trans '15 timer' %}</option>
                <option value="20:00">{% trans '20 timer' %}</option>
                <option value="24:00">{% trans '24 timer' %}</option>
                <option value="36:00">{% trans '36 timer' %}</option>
                <option value="48:00">{% trans '48 timer' %}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 with-errors">
        {{ form.duration.errors }}
    </div>
{% endif %}
