<script type="text/javascript">
    <!--
        $("#id_recurrences").on("change", function() {
            $.ajax({
                url : "/jsapi/rrulestr",
                type : "POST",
                data : {
                    'rrulestr': $(this).val(),
                    'start_times': $('#id_time').val() === "" ? "00:00" : $('#id_time').val(),
                    'duration': $('#id_duration').val(),
                    'visit_id': $('#existing-recurrence-dates').data('visitId'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },

                success : function(json) {
                    var list = $('#recurrence-dates');

                    list.empty();

                    var items = [];

                    $.each(json, function(i, item) {

                        items.push('<li><input type="checkbox" name="occurrences" value="' + item + '"/>' + item + '</li>');

                    });  // close each()

                    list.append( items.join('') );
                },

                error : function(xhr,errmsg,err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                }
            });
        });
        var addTimeField = function(){
            var timeDiv = $(".time-select>div").clone(true,true);
            timeDiv.appendTo($(".time-container"));
            $(".remove-button").prop('disabled', false);
        };
        $(".plus-button").click(addTimeField);
        $(".remove-button").click(function(){
            $(this).parent().remove();
        });
        $(".start-time").on('change', function(){
            var value = [];
            $(".start-time").each(function(){
                value.push($(this).val());
            });
            $('#id_time').val(value.join(','));
        });
    //-->
</script>