{% load i18n %}
{% load booking_tags %}

{% if form.rooms_needed %}
<div class="row form-group">
    <div>{{ form.rooms_needed.errors }}</div>
    <div class="col-sm-2">
        <label class="{{ form.rooms_needed.css_classes }}" for="{{ form.rooms_needed.id_for_label }}">{{ form.rooms_needed.label }}:</label>
    </div>
    <div class="col-sm-10">
        {{ form.rooms_needed }}
    </div>
</div>

<div id="rooms_needed_fields">
    <div class="row form-group">
        <div class="col-sm-2">
            <label>{% trans 'Tildeling af lokale(r)' %}:</label>
        </div>
        <div class="col-sm-10">
            {% blocktrans %}
            Herunder kan du tilknytte lokaler til tilbuddet. Alle lokaler der
            knyttes til et tilbud vil automatisk blive tilknyttet alle besøg
            der efterfølgende oprettes for tilbuddet. Hvis du først ønsker at
            tilknytte lokaler til besøg når de har modtaget tilmeldinger bør
            du ikke tilknytte nogen lokaler her.<br />
            Hvis du tilføjer nye lokaler vil de blive tilknyttet den lokalitet
            du har valgt for tilbuddet.
            {% endblocktrans %}
        </div>
    </div>
    {% include 'resource/fields/rooms-control.html' %}
</div>
{% endif %}