{% if field %}
<div class="row form-group">
    <div class="col-sm-2{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}{% if field.field.required %}*{% endif %}:</label>
    </div>
    <div class="col-sm-7">
        <ul id="id_{{ field.name }}">
            {% for x in field.field.queryset %}
            <li>
                <label for="id_{{ field.name }}_{{ forloop.counter0 }}">
                    <input
                        {% if x.pk in field.value %}
                        checked="checked"
                        {% endif %}
                        id="id_{{ field.name }}_{{ forloop.counter0 }}"
                        name="{{ field.name }}"
                        type="checkbox"
                        value="{{ x.pk }}"
                    >
                    {{ x }}
                    <a href="{% url 'availability' x.userprofile.pk %}#todaysdate"
                       role="button" class="btn btn-primary btn-xs"
                       onclick="this.target='_blank'"
                    >
                        Se detaljer
                        <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3 with-errors">
        {{ field.errors }}
    </div>
</div>
{% endif %}
