{% load i18n %}

{% if hastime %}
    <div class="row form-group">
        <div class="col-sm-2">
            <label>{% trans 'Tidspunkter:' %}</label>
        </div>
        <div class="col-sm-10 pre-scrollable">
            <ul id="id_time" class="list-unstyled"></ul>
    
            {% if object and object.visitoccurrence_set %}
                <ul id="existing-recurrence-dates" class="list-unstyled" data-visit-id="{{ object.id }}">
                    {% for occurrence in object.visitoccurrence_set.all %}
                        <li data-date="{{ occurrence.start_datetime|date:'d-m-Y H:i' }}">{{ occurrence.start_datetime|date:'d-m-Y H:i' }}
                            {% if not occurrence.is_booked %}
                                <input class="btn-add-time timepick" type="text" name="timepick" placeholder="Tilføj tid">
                                <button type="button" class="btn-rm-date">x</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <p class="add-time-all">
                    <span class="glyphicon glyphicon-time"></span>
                    <input class="btn-add-time-all timepick" type="text" name="timepick" placeholder="Sæt tid for alle datoer">
                </p>
                <input id="occurrences" name="occurrences" type="hidden">
            {% endif %}
            
            <label class="btn btn-primary btn-xs">
                <input id="id_datepick" type="text" name="datepick" class="datepicker">{% trans 'Tilføj ny dato' %}
            </label>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#rruleModal">
                {% trans 'Tilføj datoer fra regel' %}
            </button>
            
        </div>
    </div>
    
    
    
    <!-- RRule modal -->
    <div class="modal fade" id="rruleModal" tabindex="-1" role="dialog" aria-labelledby="rruleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="rruleModalLabel">Angiv dato-regel</h4>
                </div>
                <div class="modal-body">
                    <div id="input">
                        <section id="text-input">
                            <input class="form-control" type="text" value="Hver tirsdag og fredag indtil 24 november 2016">
                            <p>Eksempler: (Klik for at se datoer)</p>
                            <ul class="examples list-unstyled">
                                <li><code>Hver tirsdag og fredag indtil 24 november 2016</code></li>
                                <li><code>Hver tirsdag indtil 2. apr 2016</code></li>
                            </ul>
                        </section>    
                    </div>
                    <section id="output">
                        <p id="init"></p>
                        <h3>Datoer</h3>
                        <div id="dates"></div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary btn-add-rrule-dates">Tilføj disse datoer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
