{% load i18n %}

{% if hastime %}
    <div class="row form-group">
        <div class="col-sm-2">
            <label>{% trans 'Tidspunkter:' %}</label>
        </div>
        <div class="col-sm-10 pre-scrollable">
            <ul id="id_time" class="list-unstyled"></ul>
    
            {% if object and object.visitoccurrence_set %}
                <ul id="existing-recurrence-dates" class="list-unstyled" data-visit-id="{{ object.id }}">
                    {% for occurrence in object.visitoccurrence_set.all %}
                        <li data-date="{{ occurrence.start_datetime|date:'d-m-Y H:i' }}">{{ occurrence.start_datetime|date:'d-m-Y H:i' }}
                            {% if not occurrence.is_booked %}
                                <input class="btn-add-time timepick" type="text" name="timepick" placeholder="{% trans 'Tilføj starttid' %}">
                                <button type="button" class="btn-rm-date">x</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <input id="occurrences" name="occurrences" type="hidden">
            {% endif %}
            
            <label class="btn btn-primary btn-sm">
                <input id="id_datepick" type="text" name="datepick" class="datepicker">{% trans 'Tilføj ny dato' %}
            </label>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#rruleModal">
                {% trans 'Tilføj datoer fra regel' %}
            </button>
            
            <div class="modify-datetime">
                <button class="btn-add-time-all btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-time"></span>
                    {% trans 'Sæt starttid for alle datoer' %}
                    <input class="add-time-all btn btn-default btn-xs timepick" type="text" name="timepick">
                </button>
                <button class="btn-rm-date-all btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                    {% trans 'Fjern alle datoer' %}
                </button>
            </div>
            
        </div>
    </div>
    
    
    <!-- RRule modal -->
    <div class="modal fade" id="rruleModal" tabindex="-1" role="dialog" aria-labelledby="rruleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="rruleModalLabel">Tilføj datoer fra regel</h4>
                </div>
                <div class="modal-body">
                    <form class="rrule-form">
                        <div id="input">
                            <h2>Input</h2>
                            <div id="tabs"></div>
                            <div id="input-types">
                                <section id="options-input">
                                    <h3>Options</h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>{% trans 'Frekvens' %}</code>
                                                <div class="help">Frequency</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label><input name="freq" type="radio" value="0">RRule.YEARLY</label>
                                            <label><input name="freq" type="radio" value="1">RRule.MONTHLY</label>
                                            <label><input name="freq" type="radio" value="2" checked>RRule.WEEKLY</label>
                                            <label><input name="freq" type="radio" value="3">RRule.DAILY</label>
                                            <label><input name="freq" type="radio" value="4">RRule.HOURLY</label>
                                            <label><input name="freq" type="radio" value="5">RRule.MINUTELY</label>
                                            <label><input name="freq" type="radio" value="6">RRule.SECONDLY</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>dtstart</code>
                                                <div class="help">The recurrence start. Besides being the
                                                    base for the recurrence, missing parameters in the
                                                    final recurrence instances will also be extracted from
                                                    this date. If not given, <code>new Date</code> will be
                                                    used instead.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="dtstart" type="datetime-local">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>until</code>
                                                <div class="help">If given, this must be a
                                                    <code>Date</code>
                                                    instance, that will
                                                    specify
                                                    the limit of the recurrence. If a recurrence instance
                                                    happens
                                                    to be the same as the <code>Date</code> instance given
                                                    in the
                                                    <code>until</code>
                                                    argument, this will be the last occurrence.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="datetime-local" name="until">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>count</code>
                                                <div class="help">How many occurrences will be generated.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="number" max="1000" min="1" value="30" name="count">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>interval</code>
                                                <div class="help">The interval between each freq iteration.
                                                    For example, when using <code>RRule.YEARLY</code>, an
                                                    interval of <code>2</code> means once every two years,
                                                    but with <code>RRule.HOURLY</code>, it means once every
                                                    two hours. The default interval is <code>1</code>.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="number" value="1" min="1" name="interval">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>wkst</code>
                                                <div class="help"> The week start day. Must be one of the
                                                    <code>RRule.MO</code>, <code>RRule.TU</code>,
                                                    <code>RRule.WE</code>
                                                    constants, or an integer, specifying the first day of
                                                    the week. This will affect recurrences based on weekly
                                                    periods. The default week start is
                                                    <code>RRule.MO</code>.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label><input type="radio" name="wkst" value="0" checked>RRule.MO</label>
                                            <label><input type="radio" name="wkst" value="1">RRule.TU</label>
                                            <label><input type="radio" name="wkst" value="2">RRule.WE</label>
                                            <label><input type="radio" name="wkst" value="3">RRule.TH</label>
                                            <label><input type="radio" name="wkst" value="4">RRule.FR</label>
                                            <label><input type="radio" name="wkst" value="5">RRule.SA</label>
                                            <label><input type="radio" name="wkst" value="6">RRule.SU</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>byweekday</code>
                                                <div class="help">If given, it must be either an integer
                                                    (<code>0
                                                        == RRule.MO</code>),
                                                    a
                                                    sequence of integers, one of the weekday constants
                                                    (<code>RRule.MO</code>,
                                                    <code>RRule.TU</code>, etc), or a sequence of these
                                                    constants.
                                                    When
                                                    given,
                                                    these variables will define the weekdays where the
                                                    recurrence
                                                    will be applied. It's also possible to use an argument
                                                    n
                                                    for
                                                    the weekday instances, which will mean the nth
                                                    occurrence
                                                    of
                                                    this weekday in the period. For example, with
                                                    <code>RRule.MONTHLY</code>,
                                                    or with <code>RRule.YEARLY</code> and
                                                    <code>BYMONTH</code>,
                                                    using
                                                    <code>RRule.FR.clone(+1)</code> in
                                                    <code>byweekday</code> will
                                                    specify
                                                    the
                                                    first friday of the month where the recurrence happens.
                                                    Notice
                                                    that the RFC documentation, this is specified as
                                                    <code>BYDAY</code>,
                                                    but was renamed to avoid the ambiguity of that
                                                    argument.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label><input type="checkbox" name="byweekday" value="0">RRule.MO</label>
                                            <label><input type="checkbox" name="byweekday" value="1">RRule.TU</label>
                                            <label><input type="checkbox" name="byweekday" value="2">RRule.WE</label>
                                            <label><input type="checkbox" name="byweekday" value="3">RRule.TH</label>
                                            <label><input type="checkbox" name="byweekday" value="4">RRule.FR</label>
                                            <label><input type="checkbox" name="byweekday" value="5">RRule.SA</label>
                                            <label><input type="checkbox" name="byweekday" value="6">RRule.SU</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>bymonth</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the months to apply the recurrence
                                                    to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label><input name="bymonth" type="checkbox" value="1"> Jan</label>
                                            <label><input name="bymonth" type="checkbox" value="2"> Feb</label>
                                            <label><input name="bymonth" type="checkbox" value="3"> Mar</label>
                                            <label><input name="bymonth" type="checkbox" value="4"> Apr</label>
                                            <label><input name="bymonth" type="checkbox" value="5"> May</label>
                                            <label><input name="bymonth" type="checkbox" value="6"> Jun</label>
                                            <label><input name="bymonth" type="checkbox" value="7"> Jul</label>
                                            <label><input name="bymonth" type="checkbox" value="8"> Aug</label>
                                            <label><input name="bymonth" type="checkbox" value="9"> Sep</label>
                                            <label><input name="bymonth" type="checkbox" value="10"> Oct</label>
                                            <label><input name="bymonth" type="checkbox" value="11"> Nov</label>
                                            <label><input name="bymonth" type="checkbox" value="12"> Dec</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>bysetpos</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, positive or negative. Each given integer will
                                                    specify
                                                    an occurrence number, corresponding to the nth
                                                    occurrence
                                                    of
                                                    the rule inside the frequency period. For example, a
                                                    <code>bysetpos</code> of <code>-1</code> if combined
                                                    with a
                                                    <code>RRule.MONTHLY</code>
                                                    frequency, and a byweekday of (<code>RRule.MO</code>,
                                                    <code>RRule.TU</code>,
                                                    <code>RRule.WE</code>, <code>RRule.TH</code>,
                                                    <code>FR</code>),
                                                    will
                                                    result
                                                    in the last
                                                    work day of every month.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="bysetpos">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>bymonthday</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the month days to apply the
                                                    recurrence
                                                    to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="bymonthday">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>byyearday</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the year days to apply the recurrence
                                                    to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="byyearday">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>byweekno</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the week numbers to apply the
                                                    recurrence
                                                    to.
                                                    Week numbers have the meaning described in ISO8601,
                                                    that
                                                    is,
                                                    the first week of the year is that containing at least
                                                    four
                                                    days of the new year.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="byweekno">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>byhour</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the hours to apply the recurrence to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="byhour">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>byminute</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the minutes to apply the recurrence
                                                    to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="byminute">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="option-name"><code>bysecond</code>
                                                <div class="help">If given, it must be either an integer,
                                                    or a
                                                    sequence of
                                                    integers, meaning the seconds to apply the recurrence
                                                    to.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="bysecond">
                                        </div>
                                    </div>
                                </section>
                                <section id="text-input">
                                    <h3>Text input</h3>
                                    <p><input value="Every 2 weeks on Friday for 6 times"></p>
                                    <p>Examples:</p>
                                    <ul class="examples">
                                        <li><code>Every weekday</code></li>
                                        <li><code>Every 2 weeks on Tuesday</code></li>
                                        <li><code>Every week on Monday, Wednesday</code></li>
                                        <li><code>Every month on the 2nd last Friday for 7 times</code></li>
                                        <li><code>Every 6 months</code></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <section id="output">
                            <p id="init"></p>
                            <p id="options-output"></p>
                            <p id="text-output"><a href=""></a></p>
                            <h5>Datoer</h5>
                            <div id="dates"></div>
                        </section>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn-add-rrule-dates" class="btn btn-primary">Tilføj disse datoer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
