<div class="row form-group">
    <div>
        {{ form.minimum_number_of_visitors.errors }}
    </div>
    <div class="col-sm-2">
        <label class="{{ form.minimum_number_of_visitors.css_classes }}" for="{{ form.minimum_number_of_visitors.id_for_label }}">{{ form.minimum_number_of_visitors.label }}:</label>
    </div>
    <div class="col-sm-10">
        {{ form.minimum_number_of_visitors }}
    </div>
</div>
<div class="row form-group">
    <div>
        {{ form.maximum_number_of_visitors.errors }}
    </div>
    <div class="col-sm-2">
        <label class="{{ form.maximum_number_of_visitors.css_classes }}" for="{{ form.maximum_number_of_visitors.id_for_label }}">{{ form.maximum_number_of_visitors.label }}:</label>
    </div>
    <div class="col-sm-10">
        {{ form.maximum_number_of_visitors }}
    </div>
</div>