@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans-regular-webfont.woff2') format('woff2'), url('../fonts/notosans-regular-webfont.woff') format('woff'), url('../fonts/notosans-regular-webfont.ttf') format('truetype'), url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arrow';
    src: url('../fonts/arrow.eot');
    src: url('../fonts/arrow.eot?#iefix') format('embedded-opentype'), url('../fonts/arrow.woff') format('woff'), url('../fonts/arrow.ttf') format('truetype'), url('../fonts/arrow.svg#arrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    text-align: left;
    height: 100%;
}

html {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: 'noto_sansregular', Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    color: #252525;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 1.4em;
    margin-top: 0;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    margin-top: 0;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    line-height: inherit;
    color: #4c4c4c;
}

h4 {
    line-height: inherit;
    font-size: 18px;
    margin-top: 0;
}

h5 {
    line-height: inherit;
    font-size: 14px;
}

a {
    cursor: pointer;
}

a:not(.btn), a:not(.btn):hover, a:not(.btn):active {
    color: #165aad;
}

strong, .bold {
    font-weight: bold;
}
blockquote {
    font-size: 1em;
}
.btn-default {
    background: rgb(250, 250, 250);
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 230, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6', GradientType=0);
}

.content-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 26px;
}

.label {
    font-size: 90%;
    padding: .3em .6em .3em;
}

.label-default {
    letter-spacing: 0.7px;
    color: #666;
    background-color: #fff;
    border: 1px solid #999;
    margin-right: 5px;
}

.inline-block {
    display: inline-block;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.divider {
    height: 20px;
}

.container {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding-left: 26px;
        padding-right: 26px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .margin-bottom-5-mobile {
        margin-bottom: 5px;
    }
    .margin-top-5-mobile {
        margin-top: 5px;
    }
    .margin-top-10-mobile {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 746px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 966px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1070px;
    }
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    height: 28px;
    width: 250px;
    padding: 0 15px;
    margin-top: -10px;
}

.personal-bar {
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 992px) {
    .navbar {
        margin-bottom: 0;
    }
    .personal-bar {
        height: auto;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.personal-bar>ul {
    max-width: 1070px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.personal-bar .home a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e021";
    margin-right: 3px;
    display: inline-block;
}

.row.row-border {
    padding-top: 5px;
    padding-bottom: 5px;
}
/*Editor TinyMce*/

#id_description_tbl {
    width: 100%!important;
}

#branding-images h2 {
    display: table-cell;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 115%;
    vertical-align: middle;
    padding: 5px 5px 5px 3px;
    color: #252525;
}

#branding-title {
    min-width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1.1px;
}

#branding-title a {
    color: #252525;
}

#branding-title a:hover {
    text-decoration: none;
}

.navbar-default {
    border-radius: 0;
    background-color: #777;
    min-height: 28px;
    height: 28px;
}

.search-list {
    margin: 15px 0;
}

.search-list .dropdown-menu {
    font-size: 11px;
}

.search-list .dropdown-menu li.selected {
    background-color: #f5f5f5;
}

.search-list .dropdown-menu li.selected>a {
    font-weight: bold;
}

#searchBox {
    right: -1px;
}

#search, #reset-btn {
    font-size: 14px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.breadcrumb {
    color: #999;
    font-size: 10px;
    padding: 0 15px 0 1px;
    margin: 15px 0;
    background-color: transparent;
}

.breadcrumb>li+li:before {
    content: '>';
    margin: 0 5px 0 3px;
    padding: 0;
}

.breadcrumb>.active {
    color: #A9ADB2;
}

.breadcrumb li a, .breadcrumb li a:hover {
    font-weight: normal;
}

#filters.in, #filters.collapsing {
    display: block!important;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}

.panel, .panel-heading {
    border-radius: 0;
}

.panel.panel-default, .panel.panel-sidebar {
    border-color: transparent;
}

.panel.panel-default>.panel-heading {
    padding: 6px 2px 6px 6px;
    background: rgb(234, 234, 232);
    background: -moz-linear-gradient(top, rgba(234, 234, 232, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(234, 234, 232, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(234, 234, 232, 1) 0%, rgba(241, 241, 241, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eaeae8', endColorstr='#f1f1f1', GradientType=0);
    border-color: #cacaca;
    border-top: 1px solid #901a1e;
    border-bottom: 1px solid #D5D5D5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel .panel-title, .panel .panel-title a {
    font-size: 12px;
    color: #5e5e5e;
    font-weight: bold;
}
#mapinfo .panel-heading:hover, #mapinfo .panel-heading:active, #mapinfo .panel-heading:focus {
    text-decoration: none;
}
#mapinfo .panel-heading.collapsed h3.panel-title:after {
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    margin-left: 4px;
    font-size: 10px;
    position: relative;
    top: 2px;
}
#mapinfo .panel-heading:not(.collapsed) h3.panel-title:after {
    font-family: 'Glyphicons Halflings';
    content:"\e250";
    margin-left: 4px;
    font-size: 10px;
    position: relative;
    top: 1px;
}
#productform .panel .panel-title a {
    display: block;
    position: relative;
}

#productform .panel .panel-title a .caret,
#productform .panel .panel-title a .caret-up {
    position: absolute;
    right: 10px;
    top: 40%;
}

#productform .panel .panel-title a .caret-up {
     position: absolute;
     right: 10px;
     top: 40%;
 }

.panel.panel-sidebar .panel-body a .caret-up {
    color: initial;
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
}

a>.caret,
a>.caret-up,
a>.caret:focus,
a>.caret-up:focus,
a>.caret:active,
a>.caret-up:active {
    color: #252525;
    outline: none;
}

.caret {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.panel-body {
    padding: 15px 15px 15px 0;
}

.panel.panel-sidebar .panel-body a h3.panel-title {
    color: #4c4c4c;
    margin-top: 25px;
}

.panel.panel-sidebar .panel-body a .caret {
    color: initial;
    margin-left: 5px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(1-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel.panel-sidebar>.panel-heading {
    padding: 6px 2px 6px 6px;
    background: #fff;
    border-top: none;
    border-left: 6px solid #901a1e;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel.panel-sidebar>.panel-heading h3 {
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    text-transform: initial;
}

.panel.panel-sidebar .panel-body .panel-title:not(:first-child) {
    margin-top: 25px;
}

.panel.panel-sidebar hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#accordion a:hover, #accordion a:active, #accordion a:focus {
    text-decoration: none;
}

li.media {
    margin-top: 0;
    padding: 15px 10px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

li.media:first-child {
    border-top: 1px solid #ddd;
}

li.media:last-child {
    border-bottom: 1px solid #ddd;
}

li.media:nth-child(odd) {
    background-color: #f4f4f4;
}

li.media:hover {
    background-color: #f2f2f2;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

li.media:nth-child(even):hover {
    background-color: #fafafa;
}

li.media .info-list {
    padding-top: 8px;
    border-top: 1px solid #eee;
}

li.media .type-offer.list-inline {
    display: inline-block;
}

h3.media-heading {
    line-height: 22px;
    font-size: 13px;
}

.media-body p {
    margin-top: 4px;
}

.media-info {
    margin: 5px 0;
}

mark, .matched-search-phrase {
    font-weight: bold;
}

.double-columns {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 26px;
    -moz-column-gap: 26px;
    column-gap: 26px;
}

.google-maps-container {
    padding: 0;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.well {
    padding: 10px 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.order-buttons .btn {
    margin-right: 15px;
}

.small-icon {
    font-size: 75%;
    margin-left: 4px;
}

.print-icon {
    color: #777!important;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.small-icons img {
    vertical-align: text-top;
}

.disclaimer {
    margin: 20px 0;
}

.items-pr-side {
    width: 150px;
    float: right;
}

.items-pr-side .input-group-addon {
    padding: 6px 10px;
    text-align: center;
    background-color: #fff;
    border: none;
}

.pagination, .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}

.pagination a, .pagination a:hover {
    font-weight: normal;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #333;
}

.input-daterange {
    margin-top: 20px;
}

.input-daterange input {
    text-align: left!important;
    font-size: 11px;
}

.datepicker-switch {
    text-transform: capitalize;
}

#dato {
    margin-bottom: 2px;
}

.row.no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.go-back {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.go-back .glyphicon {
    margin-right: 4px;
}

.padleft0 {
    padding-left: 0;
}

.padleft5 {
    padding-left: 5px;
}

#startbooking .form-group.has-error .help-block.with-errors {
    background-color: #f2dede;
    border: 1px solid #a94442;
    margin: 0;
}

#startbooking .help-block.with-errors ul {
    display: table-row;
    margin-top: 0;
}

#startbooking .help-block.with-errors ul li {
    display: table-cell;
    padding: 7px;
    vertical-align: middle;
}

#startbooking .form-group.has-error .help-block.with-errors:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -6px;
    width: 10px;
    height: 10px;
    background: #f2dede;
    border-right: 1px solid #a94442;
    border-bottom: 1px solid #a94442;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.modal-header, .modal-body {
    padding: 20px;
}

.modal-content {
    border-radius: 2px;
}

.modal-content iframe {
    border: 0 none;
    width: 100%;
}

#admin-input input[type="text"], #admin-input input[type="email"], #admin-input input[type="password"], #admin-input select, #id_type, select, #embediframeform [type="text"] {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#embediframeform [type="text"] {
    width: auto;
}

.input-sm, textarea {
    font-size: 11px!important;
}


/*Backend specific styles start */

.edit-btn {
    margin-bottom: 10px;
}

label[for="gymnasiefag-fag"] {
    font-weight: bold!important;
}

.lengthcounter {
    margin-left: 7px;
}

.form-group ul[id*="id_"] {
    list-style-type: none;
    padding-left: 0;
}

.form-group label[for*="id_"], .form-group label[for*="id_"]+input[id*="id_"] {
    margin-right: 7px;
}

#productform .form-group label[for*="id_"], .form-group label[for*="id_"]+input[id*="id_"] {
    text-align: left;
}

.form-group label.required:before {
    color: red;
    content: '* ';
    display: inline;
}

a#attachAddFileField {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

#chosenrooms .glyphicon-remove, #gymnasiefag-list .glyphicon-remove {
    cursor: pointer;
    font-size: 14px;
    color: #a94442;
}

div ul.errorlist {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #a94442;
    padding: 10px;
    display: inline-block;
    list-style-position: inside;
    max-width: 70%;
}

div ul.warninglist {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #8a6d3b;
    padding: 10px;
    display: inline-block;
    list-style-position: inside;
    max-width: 70%;
}

.dl-panel {
    background-color: #eee;
    display: block;
    padding: 1em 1em 0;
}

.dl-panel dt {
    float: left;
    clear: left;
    padding-right: 0.5em;
}

.dl-panel dd {
    padding: 0 0 1em;
    display: block;
}


/* gymnasiefag-edit & grundskolefag-edit */

#gymnasiefag-fag, #gymnasiefag-levels, #grundskolefag-fag, #grundskolefag-minclass, #grundskolefag-maxclass {
    margin-right: 10px;
}

#gymnasiefag-empty, #grundskolefag-empty {
    margin-bottom: 10px;
}

.fagedit-group {
    display: inline-block;
}

.fagedit-group label {
    font-weight: normal;
}

.email-recipients ul {
    max-height: 120px;
    overflow-y: auto;
}

a.template-overridden, a.template-overridden:hover, a.template-overridden:active, a.template-overridden:visited {
    text-decoration: line-through;
    color: #999;
}


/* Datepicker */

#recipient-groups input {
    width: auto;
    display: inline;
}

#id_datepick {
    border: none;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    line-height: 0;
    background: transparent;
}


/* Date and time picker field styles */

.modify-datetime {
    display: none;
}

.modify-datetime-show {
    display: block;
    padding: 0.5em 0;
}

.btn-add-time-all, .btn-rm-date-all {
    display: inline-block;
}

.btn-add-time-all {
    position: relative;
}

.add-time-all {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
}

#add-time-all-label {
    font-weight: 400;
    color: #337ab7;
    font-size: 12px;
    line-height: 1.5;
}

#add-time-all-label:hover, #add-time-all-label:active {
    color: #23527c;
    text-decoration: underline;
}

.date {
    background: #eee;
    padding: 0.5em;
    margin: 1px;
    position: relative;
    display: inline-block;
    width: 12em;
}

@-webkit-keyframes fade-in {
    0% {
        background: #6e6;
    }
    100% {
        background: #eee;
    }
}

@keyframes fade-in {
    0% {
        background: #6e6;
    }
    100% {
        background: #eee;
    }
}

.date-new {
    -webkit-animation: fade-in 0.75s ease-in 1;
    animation: fade-in 0.75s ease-in 1;
}

.btn-add-time {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #337ab7;
    width: 5em;
    cursor: pointer;
}

.btn-rm-date {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border: none;
    background-color: transparent;
    padding: 0.5em;
    margin: 0;
}

.btn-rm-date:hover, .btn-rm-date:active {
    color: #ccc;
}


/* RRule date picker modal */

#rruleInput .form-group {
    margin-left: 0;
    margin-right: 0;
}

.label-unstyled {
    font-weight: normal;
}

#input-weekdays label {
    margin-right: 1em;
}

#input-until {
    width: 10em;
    display: inline-block;
}

#input-count {
    width: 5em;
    display: inline-block;
}

#rrule-text {
    text-align: center;
    color: #999;
    font-style: italic;
}

.rrule-datelist {
    background-color: #eee;
    padding: 1em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}


/* Autosend form */

.autosend-row {
    width: 100%;
    border: 1px solid #eee;
    margin: 1px 0;
    padding: 1px;
}

.autosend-row label.deletion {
    opacity: 0.5;
}

#recipient-groups input {
    width: auto;
    display: inline;
}


/* > Admin-visit-search start */

#adminvisitsearch .dl-horizontal dt {
    white-space: normal;
}


/* > Admin-visit-search end */


/* > Visitoccurrence-search start */

#visitoccsearch .dl-horizontal dt {
    white-space: normal;
}


/* > Visitoccurrence-search end */


/* frontpage lists */

.listcontainer.eq-height [class*="col-"] .panel {
    border-color: #ccc;
}

.listcontainer.eq-height [class*="col-"] .panel .panel-body {
    padding: 5px;
}

.listcontainer .list-group {
    margin-bottom: 0;
}

.listcontainer .list-group-item {
    margin-bottom: 10px;
    position: relative;
}

.listcontainer .list-group-item:hover {
    border: 1px solid #bbb;
}

.listcontainer .list-group-item:first-child {
    margin-top: 5px;
    border-radius: 0;
}

.listcontainer .list-group-item:last-child {
    margin-bottom: 0!important;
    border-radius: 0;
}

.listcontainer .list-group-item:nth-child(odd) {
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

.listcontainer a.list-group-item .list-group-item-heading {
    line-height: 16px;
}

.listcontainer .list-group-item ul {
    padding-left: 0;
    color: #252525;
    list-style-type: none;
}

.listcontainer .panel.panel-bookings .panel-heading .panel-title {
    font-size: 13px;
    display: inline-block;
    max-width: 85%;
    color: #333;
}

.listcontainer .badge-primary {
    background-color: #337ab7;
}

.listcontainer .badge-danger {
    background-color: #901a1e;
}

.listcontainer .badge-success {
    background-color: #5cb85c;
}

.listcontainer [class*="alert-"] {
    border-width: 1px;
    border-style: solid;
}

.listcontainer .list-group-item .outdated:hover {
    background-color: #f2dede;
    border: 1px solid #9C5154;
    opacity: 1;
}

.listcontainer .list-group-item>a:hover {
    text-decoration: none;
}


/* frontpage lists end */


/* nested menu dropdown */

.dropdown-submenu a {
    font-weight: bold !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: visible;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}


/* nested menu dropdown end */


/*Backend specific styles end */


/* Embedded pages styles */

.embedded>.container {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    max-width: 100%;
}

table.sortable th.sort {
    cursor: pointer
}

body.lightbox {
    margin-left: 10px;
    overflow: hidden;
    background-color: #fff;
}

@media screen and (max-width:768px) {
    html, body {
        font-size: 12px;
        line-height: 18px;
        background-color: #fff;
    }
    a {
        font-size: 12px;
    }
    h1 {
        font-size: 16.8px;
        margin-top: 10px;
    }
    h2 {
        line-height: 1.5;
    }
    .navbar-default .navbar-toggle {
        border: none;
        padding: 5px 10px;
        margin-top: 0;
        margin-right: 5px;
        margin-bottom: 0;
        z-index: 3;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #eee;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-brand {
        position: absolute;
        padding: 0;
        margin-left: 5px;
        z-index: 1;
    }
    #branding-title {
        min-width: 100px;
        margin: 0 0 20px 10px;
    }
    #branding-images {
        border-bottom: 1px solid #901a1e;
        height: auto;
    }
    #logo, div#global-tools ul {
        display: none;
    }
    .order-buttons .btn {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .btn#search {
        padding: 6px 20px;
    }
    [data-target="#filters"] {
        margin: 20px 0;
    }
    .items-pr-side {
        float: left;
    }
    #startbooking .form-group.has-error .help-block.with-errors {
        margin: 10px 15px 0 15px;
    }
    #startbooking .form-group.has-error .help-block.with-errors:after {
        display: none;
    }
    #startbookingform .form-group [class*="col-"]+[class*="col-"] {
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) {
    .grey-sides {
        /*border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;*/
        background-color: #fff;
    }
    .grey-line {
        height: 2px;
        border-bottom: 1px solid #ccc;
    }
    #branding-images {
        /*background: url(../img/download.jpg) no-repeat top right;*/
        border-bottom: 1px solid #901a1e;
        height: 85px;
    }
    #logo {
        width: 100px;
        float: left;
        position: relative;
        bottom: -4px;
        left: 25px;
    }
    #logo a {
        color: #252525;
    }
    .navbar {
        margin-bottom: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: #eee;
        padding: 3px 5px 0 9px;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
        color: #eee;
        text-decoration: underline;
    }
    #navbar ul.navbar-nav li:not(:first-child):before {
        content: "| ";
        float: left;
        color: #eee;
        margin-top: 5px;
    }
    #leftside {
        padding-top: 20px;
    }
    li.global-sprog a.english {
        background: transparent url("http://forskning.ku.dk/grafik/globalmenu/flag-uk.gif") no-repeat right 6px;
        display: inline-block;
        width: 68px;
        padding-left: 3px;
    }
    #filters.collapse {
        display: block!important;
        height: auto!important;
        overflow: visible!important
    }
    .dl-horizontal {
        margin-bottom: 0;
    }
    .dl-horizontal dt {
        width: 105px;
        text-align: left;
    }
    .dl-horizontal dt, .dl-horizontal dd {
        min-height: 1.5em;
        padding-top: 7px;
    }
    .dl-horizontal dd {
        margin-left: 110px;
        padding-top: 7px;
    }
    .dl-horizontal.status dt {
        width: 145px;
    }
    .dl-horizontal.status dd {
        margin-left: 150px;
    }
    #startbookingform .form-group [class*="col-"]+[class*="col-"] {
        padding-left: 0;
    }
    .form-horizontal .control-label {
        padding-top: 3px;
    }
    .eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.globalfooter {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background: #777;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

@media (min-width: 768px) {
    .globalfooter {
        background: -webkit-gradient(linear, left top, left bottom, from(#777), color-stop(25%, #868686), color-stop(50%, #8e8d8d), color-stop(80%, #888), to(#808080));
        background: -webkit-linear-gradient(top, #777 0%, #868686 25%, #8e8d8d 50%, #888 80%, #808080 100%);
        background: -o-linear-gradient(top, #777 0%, #868686 25%, #8e8d8d 50%, #888 80%, #808080 100%);
        background: linear-gradient(to bottom, #777 0%, #868686 25%, #8e8d8d 50%, #888 80%, #808080 100%);
    }
}

.globalfooter .footercontent {
    position: relative;
    padding: 26px 0;
    margin: 0 auto;
}

.globalfooter .footercontent>[class*="col-"] {
    z-index: 2;
    padding-left: 0;
}

.globalfooter .footercontent>[class*="col-"]:last-child {
    padding-right: 0;
}

.globalfooter .footercontent>[class*="col-"]:first-child:before {
    position: absolute;
    top: -5px;
    right: 55px;
    bottom: 0;
    left: auto;
    z-index: -1;
    display: block;
    width: 430px;
    height: 430px;
    content: ' ';
    background: url('http://cms.ku.dk/grafik/images/social-icons/footersegl.svg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: .1;
}

.globalfooter .footercontent>[class*="col-"]:last-child {
    margin-right: 0;
}

.globalfooter .footercontent>[class*="col-"] .footer-heading {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.globalfooter .footercontent>[class*="col-"] .footer-heading a, .globalfooter .footercontent>[class*="col-"] .footer-heading a:visited {
    color: #fff;
}

.globalfooter .footercontent>[class*="col-"] .footer-heading a:active, .globalfooter .footercontent>[class*="col-"] .footer-heading a:focus, .globalfooter .footercontent>[class*="col-"] .footer-heading a:hover {
    color: #e2e2e2;
}

.globalfooter .footercontent>[class*="col-"] .footer-heading:not(:first-child) {
    margin-top: 20px;
}

.globalfooter .footercontent>[class*="col-"] .footer-heading[data-heading='open'] {
    margin-top: 20px;
    margin-bottom: 3px;
}

.globalfooter ul.footerlinks {
    display: block;
    padding-left: 0;
    margin: 2px 0 0;
    list-style: none;
}

.globalfooter ul.footerlinks li {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.globalfooter ul.footerlinks li a {
    color: #fff;
    text-decoration: none;
}

.globalfooter ul.footerlinks li a:hover {
    color: #e2e2e2;
    text-decoration: none;
}

.globalfooter ul.footerlinks li .padlock:after {
    position: relative;
    top: 1px;
    left: 5px;
    display: inline-block;
    width: 10px;
    height: 14px;
    content: " ";
    background: url('http://cms.ku.dk/grafik/images/social-icons/padlock.svg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.globalfooter .social-items {
    width: 80%;
}

@media (min-width: 768px) and (max-width: 992px) {
    .globalfooter .social-items {
        width: 100%;
    }
}

.globalfooter .social-items .social-item {
    display: inline-block;
    margin: .5em .3em 0 0;
}

.globalfooter .social-items .social-item .social-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    background-color: #666;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.globalfooter .social-items .social-item .social-icon.facebook {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_facebook.svg');
}

.globalfooter .social-items .social-item .social-icon.facebook:hover {
    background-color: #3e5a98;
}

.globalfooter .social-items .social-item .social-icon.instagram {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_instagram.svg');
}

.globalfooter .social-items .social-item .social-icon.instagram:hover {
    background-color: #3e5a98;
}

.globalfooter .social-items .social-item .social-icon.twitter {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_twitter.svg');
}

.globalfooter .social-items .social-item .social-icon.twitter:hover {
    background-color: #2ca8df;
}

.globalfooter .social-items .social-item .social-icon.app {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_app.svg');
}

.globalfooter .social-items .social-item .social-icon.app:hover {
    background-color: #901a1e;
}

.globalfooter .social-items .social-item .social-icon.coursera {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_coursera.svg');
}

.globalfooter .social-items .social-item .social-icon.coursera:hover {
    background-color: #408bc9;
}

.globalfooter .social-items .social-item .social-icon.futurity {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_futurity.svg');
}

.globalfooter .social-items .social-item .social-icon.futurity:hover {
    background-color: #f7ba20;
}

.globalfooter .social-items .social-item .social-icon.ku_video {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_ku_video.svg');
}

.globalfooter .social-items .social-item .social-icon.ku_video:hover {
    background-color: #439639;
}

.globalfooter .social-items .social-item .social-icon.linkedin {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_linkedin.svg');
}

.globalfooter .social-items .social-item .social-icon.linkedin:hover {
    background-color: #0078b6;
}

.globalfooter .social-items .social-item .social-icon.rss {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_rss.svg');
}

.globalfooter .social-items .social-item .social-icon.rss:hover {
    background-color: #f7941e;
}

.globalfooter .social-items .social-item .social-icon.the_conversation {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_the_conversation.svg');
}

.globalfooter .social-items .social-item .social-icon.the_conversation:hover {
    background-color: #d7352a;
}

.globalfooter .social-items .social-item .social-icon.vimeo {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_vimeo.svg');
}

.globalfooter .social-items .social-item .social-icon.vimeo:hover {
    background-color: #d12223;
}

.globalfooter .social-items .social-item .social-icon.youtube {
    background-image: url('http://cms.ku.dk/grafik/images/social-icons/social_icon_youtube.svg');
}

.globalfooter .social-items .social-item .social-icon.youtube:hover {
    background-color: #d12223;
}

.globalfooter .social-items .social-item .social-icon:active, .globalfooter .social-items .social-item .social-icon:focus {
    background-color: #666;
}

.globalfooter .social-items .footer-heading {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .globalfooter .container {
        padding-right: 0;
        padding-left: 0;
    }
    .globalfooter .footercontent {
        display: block;
        width: 100%;
        padding: 0;
    }
    .globalfooter .footercontent:after {
        content: none;
    }
    .globalfooter .footercontent .footercolumn {
        float: none;
        width: 100%;
        padding: 0;
    }
    .globalfooter .footercontent .footercolumn:first-child:before {
        display: none;
    }
    .globalfooter .footercontent .footercolumn .footer-heading {
        position: relative;
        padding: 12px 25px 12px 20px;
        margin-top: 0 !important;
        cursor: pointer;
    }
    .globalfooter .footercontent .footercolumn .footer-heading[data-heading='open'] {
        padding-bottom: 8px;
        padding-left: 0;
        margin-bottom: 0;
        cursor: default;
    }
    .globalfooter .footercontent .footercolumn .footer-heading[data-heading='open']:after, .globalfooter .footercontent .footercolumn .footer-heading[data-heading='open']:before {
        display: none;
    }
    .globalfooter .footercontent .footercolumn .footer-heading[data-heading='toggle']+ul.footerlinks {
        display: none;
        margin: 0;
        background-color: #fff;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    .globalfooter .footercontent .footercolumn .footer-heading:before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: -webkit-calc(100% + 10px);
        width: calc(100% + 10px);
        height: 1px;
        margin-left: -10px;
        content: ' ';
        background: #fff;
    }
    .globalfooter .footercontent .footercolumn .footer-heading:after {
        position: absolute;
        top: 50%;
        right: 15px;
        left: auto;
        z-index: 2;
        font-family: "arrow";
        font-size: 13px;
        color: #fff;
        content: '\0043';
        -webkit-transition: -webkit-transform .4s ease-in-out;
        -o-transition: -o-transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
        -webkit-transform: rotate(0deg) translate3d(0, 0, 0) translateY(-50%);
        transform: rotate(0deg) translate3d(0, 0, 0) translateY(-50%);
    }
    .globalfooter .footercontent .footercolumn .footer-heading.open:after {
        -webkit-transition: -webkit-transform .4s ease-in-out;
        -o-transition: -o-transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
        -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
        transform: rotate(90deg) translate3d(0, 0, 0);
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li {
        position: relative;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
        color: #4a4949;
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li a {
        display: block;
        padding: 10px 20px;
        color: #606060;
        border-bottom: 1px solid #ccc;
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li a:active, .globalfooter .footercontent .footercolumn ul.footerlinks li a:focus {
        background-color: #cdcdcd;
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li a:hover {
        color: initial;
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li a .padlock:after {
        display: none;
    }
    .globalfooter .footercontent .footercolumn ul.footerlinks li:last-child a {
        border-bottom: 0;
    }
    .globalfooter .social-items {
        width: 100%;
        padding: 0 20px 20px;
    }
    .globalfooter .social-items .social-item {
        margin: 7px 16px 0 0;
    }
    .globalfooter .social-items .social-item .social-icon {
        width: 35px;
        height: 35px;
    }
}

/* Firefox-specific beautification of select dropdown buttons - rather than have an ugly grey box, put in a nice arrow */
@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,\
            <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 1000 1000' fill='rgb(51,51,51)'>\
                <path d='M900 400 l -800 0 l 400 400 z'/>\
            </svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}

.text-top {
    vertical-align: top !important;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

.table-bordered > thead {
    border-bottom-width: 1px;
}