<script type="text/javascript">
    <!--
    $(function(){
        var city = $("#id_city")
        region = $("#id_region");
        $("#id_postcode").on("change keyup", function(){
            var code = parseInt(this.value, 10);
            if (code && code>=1000 && code<10000) {
                $.ajax({
                    url: "{% url 'postcode' '0000' %}".replace("0000", code),
                    dataType: "json",
                    complete: function(response) {
                        var data = response.responseJSON;
                        city.val(data.city);
                        region.val(data.region && data.region.id);
                    }
                });
            }
        })
    });
    //-->
</script>