{% load i18n %}

<div class="form-group">
    <label class="col-sm-2 control-label {{ bookerform.school.css_classes }}" for="{{ bookerform.school.id_for_label }}">
        {% if visit.institution_level == 1 %}
            {% trans "Gymnasium*" %}
        {% elif visit.institution_level == 2 %}
            {% trans "Folkeskole*" %}
        {% else %}
            {% trans "Skole*" %}
        {% endif %}
    </label>
    <div class="col-sm-6{% if bookerform.school.errors %} has-error{% endif %}">
        {{ bookerform.school }}
    </div>
    <div class="col-sm-3 help-block with-errors">
        {{ bookerform.school.errors }}
    </div>
</div>

{% if visit.institution_level != 2 %}
<div class="form-group institution_level_dependent" data-display-value="1">
    <label class="col-sm-2 control-label {{ bookerform.line.css_classes }}" for="{{ bookerform.line.id_for_label }}">{% trans "Gymnasieretning" %}</label>
    <div class="col-sm-6{% if bookerform.line.errors %} has-error{% endif %}">
        {{ bookerform.line }}
    </div>
    <div class="col-sm-3 help-block with-errors">
        {{ bookerform.line.errors }}
    </div>
</div>
{% endif %}

<div class="form-group">
    <label class="col-sm-2 control-label {{ bookerform.level.css_classes }}" for="{{ bookerform.level.id_for_label }}">{% trans "Klasse" %}</label>
    <div class="col-sm-6{% if bookerform.level.errors %} has-error{% endif %}">
        {{ bookerform.level }}
    </div>
    <div class="col-sm-3 help-block with-errors">
        {{ bookerform.level.errors }}
    </div>
</div>