{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block htmltitle %} - {% trans "slet ressourcegruppe" %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="divider"></div>

    <h1>{% trans 'Slet ressourcegruppe' %}</h1>
    <hr/>

    <form action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans 'Er du sikker på at du vil slette denne ressourcegruppe?' %}</p>
        <dl class="dl-horizontal">
            <dt>{% trans 'Type' %}</dt>
            <dd>{{ object.resource_type }}</dd>
            <dt>{% trans 'Navn' %}</dt>
            <dd>{{ object.name }}</dd>
            <dt>{% trans 'Medlemmer' %}</dt>
            <dd>
                <ul class="list-unstyled">
                    {% for resource in object.specific_resources %}
                        <li>
                            <a href="{% url 'resource-view' resource.id %}">{{ resource.get_name }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% trans 'Ingen medlemmer' %}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>

        {% if object.resources.count %}
            <label for="delete_members">
                <input type="checkbox" name="delete_members" value="delete" id="delete_members">
                {% blocktrans count membercount=object.resources.count %}
                    Slet også gruppens ene medlem
                    {% plural %}
                    Slet også gruppens {{ membercount }} medlemmer
                {% endblocktrans %}
            </label>
        {% endif %}

        <div class="divider"></div>
        <button type="submit" class="btn btn-default">{% trans 'Ja' %}</button>
        <a class="btn btn-default" href="{% if oncancel %}{{ oncancel }}{% else %}javascript:history.back(){% endif %}">{% trans 'Nej' %}</a>
        <div class="divider"></div>
    </form>

{% endblock %}
