{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% if object.pk %}{% trans "redigér ressourcegruppe" %}{% else %}{% trans "opret ressourcegruppe" %}{% endif %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <h1>{% if object.pk %}{% trans "Redigér ressourcegruppe" %}{% else %}{% trans "Opret ressourcegruppe" %}{% endif %}</h1>

    <form id="resourceform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label for="{{ field.id_for_label }}" class="control-label">{% trans 'Type:' %}</label>
                    </div>
                    <div class="col-sm-7">
                        {{ object.resource_type }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label class="control-label">{% trans 'Enhed:' %}</label>
                    </div>
                    <div class="col-sm-7">
                        {{ object.organizationalunit.name }}
                    </div>
                </div>
                {% include 'common/fields/generic_field.html' with field=form.name %}
                {% include 'resourcepool/fields/resources.html' %}
            </div>
        </div>

        {% include 'common/continue_cancel.html' %}
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
{% endblock %}
