{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "ressourcegrupper" %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}
    <div class="clearfix">
        <h1 class="pull-left">{% trans 'Ressourcegrupper' %}</h1>    
        <a href="{% url 'resourcepool-create' %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {% trans 'Opret ny ressourcegruppe' %}
        </a>
    </div>
    
    <hr/>

    <p>
        {% blocktrans %}
            Ressourcegrupper er puljer af ressourcer; en samling af ressourcer af samme type.
            Et tilbud kan specificere at der skal bruges X antal af en ressourcegruppe, og under planlægningen af besøg under tilbuddes kan der udvælges hvilke X ressourcer i gruppen der reserveres.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            For eksempel kan en gruppe repræsentere undervisningslokaler i en bygning.
            For et givet tilbud er det underordnet hvilket af disse undervisningslokaler der bruges.
            Under planlægningen af et besøg udvælges ét af disse lokaler (én ressource i gruppen), så andre besøg ikke kommer til at reservere det samtidigt.
        {% endblocktrans %}
    </p>

    <div class="row">
        <div class="col-md-12">
            <div>
                <a href="{% url 'resource-list' %}" role="button" class="btn btn-default pull-right">{% trans 'Administrér ressourcer' %}</a>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans 'Navn' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Enhed' %}</th>
                        <th>{% trans 'Antal medlemmer' %}</th>
                        <th>{% trans 'Handling' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for resourcepool in resourcepools %}
                    <tr>
                        <td>
                            <a href="{% url 'resourcepool-view' resourcepool.id %}">{{ resourcepool.name }}</a>
                        </td>
                        <td>
                            {{ resourcepool.resource_type.name }}
                        </td>
                        <td>
                            {{ resourcepool.organizationalunit.name }}
                        </td>
                        <td>
                            {{ resourcepool.resources.count }}
                        </td>
                        <td>
                            <a href="{% url 'resourcepool-edit' resourcepool.id %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-default btn-xs">{% trans 'Redigér' %}</a>
                            {% if resourcepool.can_delete %}
                            <a href="{% url 'resourcepool-delete' resourcepool.id %}?back={{ request.get_full_path | urlencode }}" role="button" class="btn btn-danger btn-xs">{% trans 'Slet' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            {% trans 'Ingen ressourcegrupper' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
