{% extends 'index.html' %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {% trans "opret ressourcegruppe" %}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <h1>{% trans 'Opret ressourcegruppe' %}</h1>

    <form id="resourceform" action="" class="form-horizontal clearfix" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'common/fields/generic_field.html' with field=form.type %}
                {% include 'common/fields/generic_field.html' with field=form.unit %}
            </div>
        </div>

        {% include 'common/continue_cancel.html' %}
        <div class="divider"></div>

    </form>

{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
{% endblock %}
