{% extends 'index.html' %}
{% load timedelta %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {{ object.title }}{% endblock %}

{% block content %}

    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-8"><h2>{{ object.get_type_display }}</h2></div>
    </div>

    {% if messages %}
        <div class="row">
            <div class="col-sm-4 alert alert-info" role="alert">
                <ul>
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="offer-actions">
            {% if can_edit %}
                <a class="btn btn-primary" href="{% url 'product-edit' object.pk %}">{% trans 'Redigér' %}</a>
            {% endif %}
            {% if user.userprofile.can_create %}
                <a class="btn btn-primary" href="{% url 'product-clone' object.pk %}">{% trans 'Kopier tilbud' %}</a>
            {% endif %}
            {% if can_edit %}
                {% if object.is_resource_controlled %}
                    <a class="btn btn-primary" href="{% url 'resourcerequirement-list' object.pk %}">{% trans 'Redigér ressourcebehov' %}</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'product-simple-ressources' object.pk %}">{% trans 'Redigér ressourcer' %}</a>
                {% endif %}

                {% if object.type == object.GROUP_VISIT %}
                    {% if object.primary_evaluation %}
                        <a href="{% url 'evaluation-view' object.primary_evaluation.pk %}" role="button" class="btn btn-primary">{% trans 'Vis evaluering for lærere' %}</a>
                    {% else %}
                        <a href="{% url 'evaluation-create' object.pk %}?secondary=0" role="button" class="btn btn-primary">{% trans 'Opret evaluering for lærere' %}</a>
                    {% endif %}
                    {% if object.secondary_evaluation %}
                        <a href="{% url 'evaluation-view' object.secondary_evaluation.pk %}" role="button" class="btn btn-primary">{% trans 'Vis evaluering for elever' %}</a>
                    {% else %}
                        <a href="{% url 'evaluation-create' object.pk %}?secondary=1" role="button" class="btn btn-primary">{% trans 'Opret evaluering for elever' %}</a>
                    {% endif %}
                {% else %}
                    {% if object.primary_evaluation %}
                        <a href="{% url 'evaluation-view' object.primary_evaluation.pk %}" role="button" class="btn btn-primary">{% trans 'Vis evaluering' %}</a>
                    {% else %}
                        <a href="{% url 'evaluation-create' object.pk %}" role="button" class="btn btn-primary">{% trans 'Opret evaluering' %}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
          </div>
            <h1>{{ object.title }}</h1>
            <div class="well">
                {% autoescape off %}
                {{ object.teaser }}
                {% endautoescape %}
            </div>
            <div class="well">
                <!-- Richtext editor start -->
                {% autoescape off %}
                {{ object.description }}
                {% endautoescape %}
                <!-- Richtext editor end -->
            </div>
            {% if object.studymaterial_set %}
                <ul>
                {% for material in object.studymaterial_set.all %}
                    {% if material.file and material.file.size %}
                    <li>
                        <a target="_blank" href="{{ MEDIA_URL }}{{ material.file.url }}">{{ material.file.name | upload_name_strip_path }} ({{ material.file.size | filesizeformat }})</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            <div class="well order-buttons hidden-print">
                {% if object.is_bookable %}
                    {% if object.is_guest_time_suggested %}
                        <a class="btn btn-primary" href="{% url 'product-book-notime' object.id %}">
                            {% trans 'Tilmeld' %}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-primary" data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'product-book' object.id %}?modal=1">
                            {% trans 'Tilmeld' %}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}
                {% elif object.can_join_waitinglist %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'product-book' object.id %}?modal=1">
                        {% trans 'Skriv på venteliste' %}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {% else %}
                    <!-- is_type_bookable: {{ object.is_type_bookable }} -->
                    <!-- state: {{ object.self.state }} -->
                    <!-- has_bookable_visits: {{ object.has_bookable_visits }} -->
                {% endif %}
                {% if object.can_inquire %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalhost" data-modal-href="{% url 'product-inquire' object.id %}?modal=1" >
                        {% trans 'Spørg om tilbud' %}
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                {% endif %}
            </div>
            {% if object.is_bookable %}
                <div class="disclaimer">{% trans 'Bemærk at din bestilling først er bindende, når du har modtaget en bekræftelse fra den ansvarlige arrangør fra Københavns Universitet.' %}</div>
            {% endif %}
            <div class="go-back">
                {% url 'search' as basesearch %}
                <a href="{{ searchurl }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {% if searchurl != basesearch %}
                        {% trans 'Tilbage til søgeresultat' %}
                    {% else %}
                        {% trans 'Søg i tilbud' %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <form class="form-horizontal">
                <div class="panel panel-offer-fact-box">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Hvem, hvor og hvornår' %}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">

                            <!-- Is the following IF still useful? -->
                            {% if object.get_audience_display %}
                                <dt>{% trans 'Henvendt til'%}:</dt>
                                <dd>{{ object.get_audience_display }}</dd>
                            {% endif %}

                            {% if object.resource_ptr.all_subjects  %}
                                <dt>{% trans 'Fag/niveau' %}:</dt>
                                <dd>
                                    <ul class="type-offer list-inline">
                                        {% for x in object.resource_ptr.all_subjects %}
                                        <li>{{ x.display_value }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}

                            {% if object.num_of_participants_display %}
                                <dt>{% trans 'Antal' %}:</dt>
                                <dd>{{ object.num_of_participants_display }}</dd>
                            {% endif %}

                            {% if object.get_type_display %}
                                <dt>{% trans 'Hvad' %}:</dt>
                                <dd>{{ object.get_type_display }}</dd>
                            {% endif %}

                            {% if object.locality %}
                                <dt>{% trans 'Hvor' %}:</dt>
                                <dd>
                                <a href="{{ object.locality.location_url }}" target="_blank">
                                    {{ object.locality.name }}<br>
                                    {{ object.locality.address_line }}<br>
                                    {{ object.locality.zip_city }}
                                </a> <span class="glyphicon glyphicon-new-window"></span>
                                </dd>
                            {% endif %}

                            <dt>{% trans 'Arrangør' %}:</dt>
                            <dd>
                                {% if object.organizationalunit.url %}
                                    <a href="{{ object.organizationalunit.url }}" target="_blank">
                                {% endif %}
                                {{ object.organizationalunit.name }}
                                {% if object.organizationalunit.url %}
                                    </a> <span class="glyphicon glyphicon-new-window"></span>
                                {% endif %}
                            </dd>

                            {% if object.time_mode != view.model.TIME_MODE_NONE %}
                            <dt>{% trans 'Hvornår:' %}</dt>
                            <dd>
                                {% if object.is_guest_time_suggested %}
                                    {% if request.user.userprofile.can_create %}
                                        {% trans 'Gæster foreslår selv tidspunkter' %}
                                        <p>
                                        {% if object.calendar %}
                                            <a class="btn btn-primary btn-xs margin-bottom-10 margin-right-10" href="{% url 'product-calendar' object.pk %}">{% trans 'Administrér kalender' %}</a>
                                        {% else %}
                                            <a class="btn btn-primary btn-xs margin-bottom-10 margin-right-10" href="{% url 'product-calendar-create' object.pk %}">{% trans 'Opret kalender' %}</a>
                                        {% endif %}
                                        </p>
                                    {% else %}
                                        {% trans 'Foreslå selv et tidspunkt' %}<br/>
                                        {% trans 'Der kan være begrænsninger for hvilke dage, besøget kan lade sig gøre - se beskrivelse af besøget.' %}
                                    {% endif %}
                                {% elif object.time_mode == view.model.TIME_MODE_NO_BOOKING %}
                                    {% include 'product/details-eventtime-list.html' with eventtime_list=object.future_times %}
                                {% elif object.future_bookable_times %}
                                    {% include 'product/details-eventtime-list.html' with eventtime_list=object.future_bookable_times %}
                                {% else %}
                                    {% trans 'Der er i øjeblikket ikke nogen tidspunkter der er åbne for tilmelding på dette tilbud' %}
                                {% endif %}
                                {% if request.user.userprofile.can_create %}
                                    <hr />
                                    <div>
                                        {% blocktrans with nr_bookable=nr_bookable nr_unbookable=nr_unbookable nr_visits=nr_visits %}
                                            {{ nr_bookable }} tidspunkter der kan bookes,
                                            {{ nr_unbookable}} tidspunkter der ikke kan bookes og
                                            {{ nr_visits }} besøg
                                        {% endblocktrans %}
                                    </div>
                                    {% if object.has_time_management %}
                                    <hr />
                                    <p>
                                        <a class="pull-right btn btn-primary btn-xs margin-bottom-10 margin-right-10" href="{% url 'manage-times' object.pk %}">{% trans 'Administrér tidspunkter' %}</a>
                                    </p>
                                    {% endif %}
                                {% endif %}
                            </dd>
                            {% endif %}

                            {% if object.duration and object.duration != '00:00' %}
                                <dt>{% trans 'Varighed' %}:</dt>
                                <dd>{{ object.duration|timedelta_i18n }}</dd>
                            {% endif %}

                            {% if object.price %}
                                <dt>{% trans 'Pris' %}:</dt>
                                <dd>{{ object.price }}</dd>
                            {% endif %}

                            {% if object.tour_available or object.catering_available or object.presentation_available or object.custom_available %}
                                <dt>{% trans 'Mulighed for' %}:</dt>
                                {% if object.tour_available %}
                                    <dd>{% trans 'Rundvisning' %}</dd>
                                {% endif %}
                                {% if object.catering_available %}
                                    <dd>{% trans 'Forplejning' %}</dd>
                                {% endif %}
                                {% if object.presentation_available %}
                                    <dd>{% trans 'Oplæg om uddannelse' %}</dd>
                                {% endif %}
                                {% if object.custom_available %}
                                    <dd>{{ object.custom_name }}</dd>
                                {% endif %}
                            {% endif %}

                        </dl>
                    </div>
                </div>
                {% if object.locality %}
                    {% include 'common/map.html' with locality=object.locality %}
                {% endif %}
            </form>
        </div>
    </div>

    {% include 'common/modal_contact.html' %}

    {% include 'common/modal_framehost.html' %}

{% endblock %}

{% block extra_scripts %}

    <script src="{% static "js/modalframe-host.js" %}"></script>
    <script type="text/javascript"><!--
        (function($) {
            $('#show_all_times').on('click', function() {
                $('#dato li.default-hidden').removeClass("hidden");
                $('#show_all_times').addClass("hidden");
                $('#hide_extra_times').removeClass("hidden");
            });
            $('#hide_extra_times').on('click', function() {
                $('#dato li.default-hidden').addClass("hidden");
                $('#show_all_times').removeClass("hidden");
                $('#hide_extra_times').addClass("hidden");
            });
        })(jQuery);
    //--></script>

{% endblock %}
