{% extends "index.html" %}
{% load booking_tags %}
{% load i18n %}

{% block htmltitle %} - {% trans 'liste af tilbud' %}{% endblock %}

{% block content %}
    <div class="row">
        <div id="main" class="col-sm-12 col-md-12">

            {% include 'common/breadcrumbrow.html' %}
            <a class="batoToKU" href="http://fokus.ku.dk/">Tilbage til portal</a>
            <h1 class="results-title">
                {% if type == 'latest_booked' %}
                    {% trans 'Senest tilmeldte tilbud' %}
                {% elif type == 'latest_updated' %}
                    {% trans 'Senest opdaterede tilbud' %}
                {% else %}
                    {% trans 'Tilbud' %}
                {% endif %}
            </h1>

            {% if not results %}
                <p>{% trans 'Ingen tilbud fundet.' %}</p>
            {% else %}
                <h3 class="results-header">
                    {% blocktrans with count=paginator.count %}{{ count }} tilbud fundet{% endblocktrans %}
                </h3>
                <div class="divider"></div>
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="media-list">
                        {% for res in results %}
                            {% include 'product/listitem.html' with item=res %}
                        {% endfor %}
                    </ul>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-sm-offset-1 col-md-offset-3">
            {% if paginator %}
                <nav>
                    <ul class="pager">

                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?{{ qstring }}&page={{ page_obj.previous_page_number }}&pagesize={{paginator.per_page}}" aria-label="{% trans 'Forrige' %}">
                                    <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                                    {% trans 'Forrige' %}
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                            <span>
                                <span class="glyphicon glyphicon-chevron-left small" aria-hidden="true"></span>
                                {% trans 'Forrige' %}
                            </span>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="?{{ qstring }}&page={{ page_obj.next_page_number }}&pagesize={{paginator.per_page}}" aria-label="{% trans 'Næste' %}">
                                <span>
                                    {% trans 'Næste' %}
                                    <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                                </span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                {% trans 'Næste' %}
                                <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="input-group input-group-sm search-list items-pr-side">
                <span class="input-group-addon">{% trans 'Vis' %}</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        {% if request.GET.pagesize == "all" %}
                            {% trans 'Vis alle' %}
                        {% else %}
                            {{ paginator.per_page }}
                        {% endif %}
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">{% trans 'Vis antal resultater pr. side' %}</span> </button>
                    <ul class="dropdown-menu">
                        <li{% if request.GET.pagesize == "all" %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize=all">{% trans 'Vis alle' %}</a></li>
                        {% for size in pagesizes %}
                            <li{% if size == paginator.per_page %} class="selected"{% endif %}><a href="?{{ qstring }}&pagesize={{size}}">{{size}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="input-group-addon">{% trans 'pr. side' %}</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
