{% load i18n %}
<form name="adminvisitsearch" id="adminvisitsearch" method="get" action="{% url 'search' %}">
    {% for name, value in form.hiddenfields %}
        <input class="hiddenfield" type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}
    <div class="row">
        <h2 class="col-sm-6 col-sm-offset-3">{% trans 'Filtrér søgning' %}</h2>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
        </div>
        <div class="col-sm-6">
            {{ form.q }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="{{ form.s.id_for_label }}">{{ form.s.label }}</label>
        </div>
        <div class="col-sm-6">
            {{ form.s }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="{{ form.v.id_for_label }}">{{ form.v.label }}</label>
        </div>
        <div class="col-sm-6">
            {{ form.v }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="{{ form.b.id_for_label }}">{{ form.b.label }}</label>
        </div>
        <div class="col-sm-6">
            {{ form.b }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="{{ form.u.id_for_label }}">{{ form.u.label }}</label>
        </div>
        <div class="col-sm-6">
            {{ form.u }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-sm-offset-3">
            <label for="{{ form.from_date.id_for_label }}">{{ form.from_date.label }}</label>
            {{ form.from_date }}
        </div>
        <div class="col-sm-3">
            <label for="{{ form.to_date.id_for_label }}">{{ form.to_date.label }}</label>
            {{ form.to_date }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Opdater' %}">
        </div>
    </div>

</form>
