{% load i18n %}
<form name="adminvisitsearch" id="adminvisitsearch" method="get" action="{% url 'search' %}">
    {% for name, value in form.hiddenfields %}
        <input class="hiddenfield" type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}
    <h2>{% trans 'Filtrér søgning' %}</h2>
    <div class="row">
        <div class="col-sm-2">
            <label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
        </div>
        <div class="col-sm-7">
            {{ form.q }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.s.label }}
        </div>
        <div class="col-sm-7">
            {{ form.s }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.v.label }}
        </div>
        <div class="col-sm-7">
            {{ form.v }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.b.label }}
        </div>
        <div class="col-sm-7">
            {{ form.b }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.u.label }}
        </div>
        <div class="col-sm-7">
            {{ form.u }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.from_date.label }}
        </div>
        <div class="col-sm-7">
            {{ form.from_date }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form.to_date.label }}
        </div>
        <div class="col-sm-7">
            {{ form.to_date }}
        </div>
        <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Opdater' %}">
    </div>
    
</form>
