<p>Kære alle</p>
<p>
    Besøg <a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a>{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}.
    på Københavns Universitet er desværre blevet aflyst.
    Hvis du har spørgsmål til din tilmelding, kan du skrive til
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}.
</p>
{% if recipient.guest %}

    {# Denne del sendes til gæster #}

    <p>
        Detaljer for din tilmelding:
    </p>
    <p>
        {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
    </p>

    <p>
        <a href="{% full_url 'product-view' product.pk %}">Læs mere om besøget her</a>.
    </p>

    <p>
        {% include 'booking/email/snippets/see_all.html' %}
    </p>

{% else %}

    {# Denne del sendes til alle andre #}

    <p>
        Detaljer for tilmelding(er):
    </p>

    {% include 'booking/email/snippets/booking_list.html' %}

    <p>
        <a href="{% full_url 'product-view' product.pk %}">Læs mere om besøget her</a>.
    </p>

{% endif %}

{% include 'booking/email/snippets/reply_link.html' %}

<p>
    Venlig hilsen<br />
    <br />
    {{ product.organizationalunit.name }}
</p>
