{% if recipient.guest %}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Vi glæder os til at se dig til {{ product.title }}
        {% include 'booking/email/snippets/visit_time.html' %}
        på Københavns Universitet:
        {% include 'booking/email/snippets/product_maplink.html' %}.
        {% include 'booking/email/snippets/contact_addresses.html' with product=product vedr=1 %}
    </p>
    <p>
        Detaljer for din tilmelding:
    </p>
    <p>
        {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
    </p>
    <p>
        Vi glæder os til at se dig!
    </p>
    <p>
        <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
    </p>

    {% include 'booking/email/snippets/see_all.html' %}

{% elif recipient.user.userprofile.is_host %}

    {# Denne besked sendes til værter #}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Dette er en reminder om, at du skal være vært på besøg
        <a href="{% full_url 'visit-view' visit.pk %}">{{ product.title }}</a>
        {% if visit.start_datetime %} den {{ visit.start_datetime|date:'d.m.Y' }} kl. {{ visit.start_datetime|time:"H.i" }}{% endif %}.
        Besøget afholdes på denne lokalitet:
        <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    </p>
    <p>
        Vær opmærksom på, om der er forberedelsestid.
    </p>
    <p>
        Detaljer for tilmelding(er):
    </p>
    <p>
        {% include 'booking/email/snippets/preparation.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/booking_list.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/coordinators.html' %}
    </p>

{% elif recipient.user.userprofile.is_teacher %}

    {# Denne besked sendes til undervisere #}

    <p>Kære {{ recipient.get_full_name }}.</p>
    <p>
        Dette er en reminder om, at du skal være underviser på besøg
        <a href="{% full_url 'visit-view' visit.pk %}">{{ product.title }}</a>
        {% if visit.start_datetime %} den {{ visit.start_datetime|date:'d.m.Y' }} kl. {{ visit.start_datetime|time:"H.i" }}{% endif %}.
        Besøget afholdes på denne lokalitet
        <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    </p>
    <p>
        Vær opmærksom på, om der er forberedelsestid.
    </p>
    <p>
        Detaljer for tilmelding(er):
    </p>
    <p>
        {% include 'booking/email/snippets/preparation.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/booking_list.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/coordinators.html' %}
    </p>
{% else %}

    <p>
        Besøget <a href="{% full_url 'visit-view' visit.pk %}">{{ product.title }} d. {{ visit.start_datetime }}</a> er nu færdigplanlagt.
    </p>
    <p>
        Du kan læse yderligere om besøget på adressen
        <a href="{% full_url 'visit-view' visit.pk %}">{% full_url 'visit-view' visit.pk %}</a>
    </p>
    <p>
        Vær opmærksom på, om der er forberedelsestid.
    </p>
    <p>
        Detaljer for tilmelding(er):
    </p>
    <p>
        {% include 'booking/email/snippets/preparation.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/booking_list.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/coordinators.html' %}
    </p>

{% endif %}

{% include 'booking/email/snippets/reply_link.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
