<p>Kære alle</p>
<p>
    Besøg <a href="{% full_url 'visit-view' visit.pk %}">{{ visit.title }} den {{ besoeg.display_value }}</a>
    på Københavns Universitet er desværre blevet aflyst.
    Hvis du har spørgsmål til din tilmelding, kan du skrive til
    {% include 'booking/email/snippets/contact_addresses.html' with visit=visit %}.
</p>
{% if recipient.guest %}

    {# Denne del sendes til gæster #}

    <p>
        Detaljer for din tilmelding:
    </p>
    <p>
        {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
    </p>

    <p>
        <a href="{% full_url 'visit-view' visit.pk %}">Læs mere om besøget her</a>.
    </p>

    <p>
        På foKUs.ku.dk kan du se alle tilbud fra Københavns Universitet.
    </p>

{% else %}

    {# Denne del sendes til alle andre #}

    <p>
        Detaljer for tilmelding(er):
    </p>

    {% include 'booking/email/snippets/booking_list.html' %}

    <p>
        <a href="{% full_url 'visit-view' visit.pk %}">Læs mere om besøget her</a>.
    </p>

{% endif %}

{% include 'booking/email/snippets/reply_link.html' %}

<p>
    Venlig hilsen<br />
    <br />
    {{ visit.unit.name }}
</p>
