<p>Kære vært.</p>

<p>
    Du er nu sat på som vært til besøg
    <a href="{% full_url 'visit-occ-view' besoeg.pk %}">{{ visit.title }}</a>{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date: 'd.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}.
    Besøget afholdes på
    <a href="{% full_url 'visit-view' visit.pk %}#mapinfo">{{ visit.locality.full_address }}</a>.
</p>
<p>
    Vær opmærksom på, om der er forberedelsestid.
</p>
<p>
    <strong>Forberedelsestid</strong>: {{ visit.preparation_time|default:"Ikke angivet" }}
</p>

<p>
    Detaljer for tilmeldte:
</p>

{% include 'booking/email/snippets/booking_list.html' %}

<p>
    Venlig hilsen<br />
    <br />
    Koordinator
</p>
