<p>Kære {{ recipient.get_full_name }}.</p>
<p>
    En eller flere gæster har tilmeldt sig besøget
    <a href="{% full_url 'visit-occ-view' besoeg.pk %}">{{ visit.title }}{% if besoeg.start_datetime %} den {{ besoeg.display_value }}{% endif %}</a>.
    Besøget afholdes på lokaliteten <a href="{% full_url 'visit-view' visit.pk %}#mapinfo">{{ visit.locality.full_address }}</a>.
</p>
<p>Detaljer for tilmelding</a></p>
<p>
{% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>
<p>
    Venlig hilsen<br />
    <br />
    {{ visit.unit }}
</p>
