{% if recipient.guest %}

    {# Denne besked sendes til gæster #}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Vi glæder os til at se dig til
        <a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a>{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}{% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}
        på Københavns Universitet:
        <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
        Hvis du har spørgsmål vedrørende din tilmelding, kan du skrive til
        {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
    </p>
    <p>
        Detaljer for din tilmelding:
    </p>
    <p>
        {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
    </p>
    <p>
        Vi glæder os til at se dig!
    </p>
    <p>
        <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
    </p>
    <p>
        {% include 'booking/email/snippets/see_all.html' %}
    </p>

{% else %}

    {# Denne besked sendes til alle andre #}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Dette er en påmindelse om at besøget
        <a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a>
        afholdes{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}
        {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %} på Københavns Universitet:
        <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    </p>
    <p>
        Du kan læse yderligere om besøget på adressen
        <a href="{% full_url 'product-view' product.pk %}">{% full_url 'product-view' product.pk %}</a>
    </p>

{% endif %}

{% include 'booking/email/snippets/reply_link.html' %}

<p>
    Venlig hilsen<br />
    <br />
    {{ product.organizationalunit.name }}
</p>
