{% if recipient.guest %}
    {# Denne besked sendes til gæster #}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Vi glæder os til at se dig til
        {% for product in visit.products %}
            {% if not forloop.first %}{% if forloop.last %} og {% else %}, {% endif %}{% endif %}
            <a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a>
        {% endfor %}
        {% include 'booking/email/snippets/visit_time.html' %}
        på Københavns Universitet:
        {% if visit.products_unique_address|length < 2 %}
            {% include 'booking/email/snippets/product_maplink.html' %}.
        {% else %}
            <ul>
            {% for p in visit.products_unique_address %}
                <li>{% include 'booking/email/snippets/product_maplink.html' with product=p %}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% include 'booking/email/snippets/contact_addresses.html' with product=visit.products|get:0 vedr=1 %}
    </p>
    <p>
        Detaljer for din tilmelding:
    </p>
    <p>
        {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
    </p>
    <p>
        Vi glæder os til at se dig!
    </p>
    <p>
        <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
    </p>
    <p>
        {% include 'booking/email/snippets/see_all.html' %}
    </p>

{% else %}

    {# Denne besked sendes til alle andre #}

    <p>Kære {{ recipient.get_full_name }}.</p>

    <p>
        Dette er en påmindelse om at {% blocktrans count c=visit.products.count %}besøget{% plural %}besøgene{% endblocktrans %}
        {% for product in visit.products %}
            {% if not forloop.first %}{% if forloop.last %} og {% else %}, {% endif %}{% endif %}
            <a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a>
        {% endfor %}
        afholdes
        {% include 'booking/email/snippets/visit_time.html' %}
        på Københavns Universitet:
        <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    </p>
    <p>
        Du kan læse yderligere om besøget på adressen
        <a href="{% full_url 'product-view' product.pk %}">{% full_url 'product-view' product.pk %}</a>
    </p>
    <p>
        {% include 'booking/email/snippets/coordinators.html' %}
    </p>
    <p>
        Detaljer for tilmelding(er):
    </p>
    <p>
        {% include 'booking/email/snippets/preparation.html' %}
    </p>
    <p>
        {% include 'booking/email/snippets/booking_list.html' %}
    </p>

{% endif %}

{% include 'booking/email/snippets/reply_link.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
