<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    En eller flere gæster har tilmeldt sig besøg
    <a href="{% full_url 'visit-view' visit.pk %}">{{ visit.title }}</a>{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}.
    Vil du sørge for at booke et lokale, hvor besøget kan afholdes?
</p>

<p>Detaljer for tilmeldte:</p>

{% include 'booking/email/snippets/booking_list.html' %}

{% include 'booking/email/snippets/reply_link.html' %}

<p>
    Venlig hilsen<br />
    <br />
    {{ visit.unit.name }}
</p>

