<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    En eller flere gæster har tilmeldt sig besøg <a href="{% full_url 'visit-view' visit.pk %}">{{ visit.display_title }}</a>{% include 'booking/email/snippets/visit_time.html' %}.
    Vil du sørge for at booke et lokale, hvor besøget kan afholdes?
</p>

<p>Detaljer for tilmeldte:</p>

{% include 'booking/email/snippets/booking_list.html' %}

{% include 'booking/email/snippets/reply_link.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}

