<p>Kære underviser.</p>

<p>
    Du er nu sat på som underviser til besøg
    <a href="{% full_url 'visit-view' besoeg.pk %}">{{ visit.display_title }}</a>{% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}.
    Besøget afholdes på
    <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
</p>
<p>
    Vær opmærksom på, om der er forberedelsestid.
</p>
<p>
    <strong>Forberedelsestid</strong>: {{ product.preparation_time|default:"Ikke angivet" }}
</p>

<p>
    Detaljer for tilmeldte:
</p>

{% include 'booking/email/snippets/booking_list.html' %}

<p>
    Venlig hilsen<br />
    <br />
    Koordinator
</p>
