<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    Du har tilmeldt dig ventelisten til besøg {{ visit.display_title }}
    {% include 'booking/email/snippets/visit_time.html' %}
    på Københavns Universitet:
    {% include 'booking/email/snippets/product_maplink.html' %}.
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
    Du hører fra os, hvis vi kan tilbyde dig en plads.
</p>

<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>

{% include 'booking/email/snippets/see_all.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
