<p>Kære {{ recipient.get_full_name }}</p>

<p>
    Gæst {{ booking.booker.get_name }} ønsker ikke at gøre brug af sin ventelisteplads på
    <a href="{% full_url 'visit-view' visit.pk %}">{{ product.title }} {% include 'booking/email/snippets/visit_time.html' %}</a>.
</p>

<p>Information om tilmeldingen:</p>

<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>

{% include 'booking/email/snippets/see_all.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
