<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    Du har tilmeldt dig ventelisten til besøg "{{ visit.title }}" {% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date: 'd.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %}
    på Københavns Universitet: <a href="{% full_url 'visit-view' visit.pk %}#mapinfo">{{ visit.locality.full_address }}</a>.
    Hvis du har spørgsmål til din tilmelding, kan du skrive til
    {% include 'booking/email/snippets/contact_addresses.html' with visit=visit %}
    Du hører fra os, hvis vi kan tilbyde dig en plads.
</p>

<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'visit-view' visit.pk %}">Læs mere om tilbuddet her</a>.
</p>
<p>
    På <a href="http://fokusku.dk">foKUs.ku.dk</a> kan du se alle tilbud fra Københavns Universitet.
</p>
<p>
    Venlig hilsen<br />
    <br />
    {{ visit.unit }}
</p>