<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    Du er nu skrevet på som deltager til besøget {{ visit.display_title }} den {{ besoeg.display_value }} på Københavns Universitet: <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
</p>

<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>
<p>
    På <a href="http://fokusku.dk">foKUs.ku.dk</a> kan du se alle tilbud fra Københavns Universitet.
</p>
<p>
    Venlig hilsen<br />
    <br />
    {{ product.organizationalunit }}
</p>