<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    {% if visit.is_multiproductvisit %}
        Der er nu plads på besøgene:
        <ul>
            {% for visit in visit.real.subvisits %}
                {% if not subvisit.is_cancelled and not subvisit.is_rejected %}
                <li><a href="{% full_url 'product-view' subvisit.product.pk %}">{{ subvisit.product.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        Der er nu plads på besøg {{ visit.product.title }}
    {% endif %}
    {% include 'booking/email/snippets/visit_time.html' %}
    på Københavns Universitet:
    {% include 'booking/email/snippets/product_maplink.html' %}.
    Hvis du ønsker at deltage i besøget, skal du klikke <a href="{% full_url 'booking-accept-view' booking.id token_user=booking.booker %}">her</a> og svare ja eller nej til at deltage.
    Pladserne bliver fordelt efter først-til-mølle-princippet.
</p>
<p>
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
</p>
<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>
<p>Vi håber at se dig!</p>
<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>

{% include 'booking/email/snippets/see_all.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
