<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    Der er nu plads på besøg {{ product.title }} {% if besoeg.start_datetime %} den {{ besoeg.start_datetime|date:'d.m.Y' }}
    {% blocktrans with time=besoeg.start_datetime|time:"H.i" %} kl. {{ time }}{% endblocktrans %}{% endif %} på Københavns Universitet: <a href="{% full_url 'product-view' product.pk %}#mapinfo">{{ product.locality.full_address }}</a>.
    Hvis du ønsker at deltage i besøget, skal du klikke <a href="{% full_url 'booking-accept-view' booking.id token_user=booking.booker %}">her</a> og svare ja eller nej til at deltage.
    Pladserne bliver fordelt efter først-til-mølle-princippet.
</p>
<p>
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
</p>
<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>
<p>Vi håber at se dig!</p>
<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>
<p>
    På <a href="http://fokusku.dk">foKUs.ku.dk</a> kan du se alle tilbud fra Københavns Universitet.
</p>
<p>
    Venlig hilsen<br />
    <br />
    {{ product.organizationalunit }}
</p>