<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    {% if visit.is_multiproductvisit %}
        Du er nu skrevet på som deltager til besøgene:
        <ul>
            {% for visit in visit.real.subvisits %}
                {% if not subvisit.is_cancelled and not subvisit.is_rejected %}
                    <li><a href="{% full_url 'product-view' subvisit.product.pk %}">{{ subvisit.product.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        Du er nu skrevet på som deltager til besøget {{ visit.product.title }}
    {% endif %}
    {% include 'booking/email/snippets/visit_time.html' %}
    på Københavns Universitet:
    {% include 'booking/email/snippets/product_maplink.html' %}.
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
</p>

<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>

{% include 'booking/email/snippets/see_all.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
