<p>Kære {{ recipient.get_full_name }}.</p>

<p>
    {% if visit.is_multiproductvisit %}
        Du har tilmeldt dig ventelisten til besøgene:
        <ul>
            {% for product in visit.real.products %}
                <li><a href="{% full_url 'product-view' product.pk %}">{{ product.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Du har tilmeldt dig ventelisten til besøg {{ visit.product.title }}
    {% endif %}
    {% include 'booking/email/snippets/visit_time.html' %}
    på Københavns Universitet:
    {% include 'booking/email/snippets/product_maplink.html' %}.
    {% include 'booking/email/snippets/contact_addresses.html' with product=product %}
    Du hører fra os, hvis vi kan tilbyde dig en plads.
</p>

<p>Detaljer for din tilmelding:</p>
<p>
    {% include 'booking/email/snippets/booking_info.html' with booking=booking booker=booking.booker %}
</p>

<p>
    <a href="{% full_url 'product-view' product.pk %}">Læs mere om tilbuddet her</a>.
</p>

{% include 'booking/email/snippets/see_all.html' %}

{% include 'booking/email/snippets/regards.html' with unit=product.organizationalunit %}
