{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block htmltitle %} - {% blocktrans with object=object %}Redigér værter for {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h2>{% blocktrans with object=object %}Redigér værter for {{ object }}{% endblocktrans %}</h2>
        </div>
        <div class="divider"></div>
    </div>
    <div class="divider"></div>
    <form name="changebookinghostsform" id="changebookinghostsform" class="changebookingform" action="{% url 'change-visit-occ-hosts' object.pk %}" method="post">
        {% csrf_token %}

        {% include 'resource/fields/generic_field.html' with field=form.override_needed_hosts %}
        <div class="row form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                {% blocktrans with title=object.visit.title needed=object.visit.get_needed_hosts_display %}
                Antal nødvendige værter angivet på "{{ title }}": {{ needed }}
                {% endblocktrans %}
            </div>
            <div class="col-sm-3 with-errors"></div>
        </div>

        {% trans "Vælg værter der er knyttet til dette tilbud:" as vaerter_helptext %}
        {% include 'resource/fields/userselect_with_availability_link.html' with field=form.hosts helptext=vaerter_helptext %}

        {% if can_send_emails %}
        {% include 'resource/fields/boolean_field.html' with field=form.send_emails left_label="Udsendelse af e-mail:" %}
        {% else %}
        <div class="row form-group">
            <div class="col-sm-2"><strong>Udsendelse af e-mail:</strong></div>
            <div class="col-sm-7">
                <p>
                    {% blocktrans with inviteret_type="værter" template_name=email_template_name %}
                        Det er i øjeblikket ikke muligt at udsende e-mails til {{ inviteret_type }} der tilknyttes dette besøg.
                        Hvis du vil have muligheden for at udsende emails skal du tilføje automatisk e-mail udsendelse
                        for "{{ template_name }}" til besøget.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-3 with-errors"></div>
        </div>
        {% endif %}

        <input class="btn btn-success btn-sm" type="submit" value="{% trans 'Opdater' %}" name="confirm" />
        <input class="btn btn-danger btn-sm" type="submit" value="{% trans 'Annullér' %}" name="cancel" />
    </form>
{% endblock %}

{% block extra_scripts %}
    {% include "booking/workflow/usercomments_script.html" with comments=comments fieldname="hosts" %}
{% endblock %}