{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load booking_tags %}

{% block htmltitle %} - {% blocktrans %}Redigér autosend for {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h2>{% blocktrans %}Redigér autosend for {{ object }}{% endblocktrans %}</h2>
        </div>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% url 'emailtemplate-list' as template_list_url %}
            <p>
                {% blocktrans %}
                    Indstil for hvilke situationer der skal afsendes email automatisk. Skabeloner til email-afsendelse kan redigeres på <a href="{{ template_list_url }}" target="_blank">Skabelon-listen</a>.
                {% endblocktrans %}
            </p>
            <form name="changebookingautosendform" id="changebookingautosendform" action="{% url 'change-visit-autosend' object.pk %}" method="post">
                {% csrf_token %}
                {% with autosendformset=form %}
                    {{ autosendformset.management_form }}
                    <div id="autosend-list">
                        {% for autosendform in autosendformset %}
                            <div class="autosend-row row">
                                {{ autosendform }}
                            </div>
                        {% endfor %}
                    </div>
                    <a id="addAutosend">{% trans "Tilføj ny" %}</a>
                    <input class="btn btn-success btn-sm" type="submit" value="{% trans 'Opdater' %}" name="confirm" />
                    <input class="btn btn-danger btn-sm" type="submit" value="{% trans 'Annullér' %}" name="cancel" />
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% with autosendformset=form %}
    {% include 'common/fields/autosend_script.html' %}
    {% endwith %}
{% endblock %}