{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block htmltitle %} - {% blocktrans with object=object %}Redigér undervisere for {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h2>{% blocktrans with object=object %}Redigér undervisere for {{ object }}{% endblocktrans %}</h2>
        </div>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            {% blocktrans with title=object.visit.title needed=object.visit.get_needed_teachers_display %}
            Antal nødvendige undervisere angivet på "{{ title }}": {{ needed }}
            {% endblocktrans %}
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <form name="changebookinteachersform" id="changebookinteachersform" action="{% url 'change-visit-occ-teachers' object.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success btn-sm" type="submit" value="{% trans 'Opdater' %}" name="confirm" />
                <input class="btn btn-danger btn-sm" type="submit" value="{% trans 'Annullér' %}" name="cancel" />
            </form>
        </div>
    </div>
{% endblock %}
