{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block htmltitle %} - {% blocktrans with object=object %}Afslå at blive underviser for {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'common/breadcrumbrow.html' %}

    <div class="row titlebar hidden-print">
        <div class="col-sm-12 col-md-9">
            <h2>{% blocktrans with object=object %}Afslå at blive underviser for {{ object }}{% endblocktrans %}</h2>
        </div>
        <div class="divider"></div>
    </div>
    {% if view.is_valid %}
        {% if request.method == "GET" %}
            <form name="declineeteacherform" id="declineteacherform" action="{% url 'decline-teacher' object.pk %}" method="post">
                {% csrf_token %}

                <p>{% blocktrans with object=object %}Skriv hvorfor du ikke ønsker at blive underviser for besøget {{ object }}?{% endblocktrans %}</p>

                <div class="row">
                    <label class="col-sm-2 control-label {{ form.comment.css_classes }}" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}:</label>
                    <div class="col-sm-6{% if form.comment.errors %} has-error{% endif %}">
                        {{ form.comment }}
                    </div>
                    <div class="col-sm-3 help-block with-errors">
                        {{ form.comment.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <input class="btn btn-default pull-right" type="submit" value="{% trans 'Afslå' %}" name="cancel">
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <p>
                        {% blocktrans with object=object %}Du har nu afslået at blive underviser for besøget {{ object }}.{% endblocktrans %}
                    </p>
                    <p>
                        <a href="{% url 'visit-view' object.pk %}">{% trans 'Klik her for at vende tilbage til besøget' %}</a>
                    </p>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p>
                    {% trans 'Det er ikke muligt at blive underviser for besøget på grund af følgende:' %}
                    <ul>
                    {% for error in view.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </p>
                <p>
                    <a href="{% url 'visit-view' object.pk %}">{% trans 'Klik her for at vende tilbage til besøget' %}</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
